/* 
 * My97 DatePicker 4.7
 * life skin
 */

 *, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.WdateDiv{
    width: 200px;
	background-color:#FFFFFF;
	// border:#ccc 1px solid;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:16px;
	width:16px;
	margin-top: 4px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll 0 0;
}
.WdateDiv .NavImgl a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll -16px 0;
}
.WdateDiv .NavImgr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -32px 0;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -48px 0;
}

.WdateDiv #dpTitle{
	height:24px;
	margin-bottom:2px;
	padding:1px;
}

.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	height:20px;
	border:0px;
	width:50px;
	cursor:pointer;		
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	font-weight:bold;
	height:20px;
	color:blue;
	border:#ccc 1px solid;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;	
	border:#ccc 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#fcf3eb;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
	
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#fcf3eb;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle td{
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#c5d9e8 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;
	/*
	border:#c5d9e8 1px solid;
	*/
}
.day-wrap {
	display: inline-block;
	border-radius: 50%;
    width: 20px;
    height: 20px;

    padding: 1px;
}

.WdateDiv .WdayTable td{
	text-align:center;
	padding: 3px;
	border-top: 1px solid #fff;
}

.WdateDiv .WdayTable .MTitle td{
	border-radius: 0;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn .day-wrap {
	cursor:pointer;
	background-color: #fcf3eb;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#FF2F2F;
}

// hover
.WdateDiv .WwdayOn .day-wrap {
	cursor:pointer;
	color: #000;
	background-color: #fcf3eb;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
/*选中的*/
.WdateDiv .Wselday .day-wrap{
	background-color: #eeb079;
    color: #fff;
    // border-radius: 50%;
}
.WdateDiv .WspecialDay .day-wrap {
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#ccc;	
}

.WdateDiv .WotherDayOn .day-wrap { 
	cursor:pointer;
	background-color: #fcf3eb;
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}

.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
    background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;	
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	border:#ccc 1px solid;
	margin-top:2px;
	margin-right:1px;
}