@import "./app.variables.less";
@import "./app.mixins.less";

@import "./app.reset.less";
@import "./app.layout.less";
@import "./app.layout.boxed.less";
@import "./app.nav.less";
@import "./app.nav.offscreen.less";
@import "./app.nav.dock.less";

@import "./app.arrow.less";
@import "./app.buttons.less";
@import "./app.widgets.less";

@import "./app.components.less";
@import "./app.plugin.less";
@import "./app.item.less";
@import "./app.ng.less";

@import "./app.colors.less";
@import "./app.utilities.less";

@import "./app.butterbar.less";
@import "./notify.less";

@import "./vue.table.less";

.required-star {
  color: #A94442;
}
.multiselect__tags {
  border-color: #cfdadd !important;
}
.street {
  margin-top: 10px;
}
.modal-backdrop {
    z-index: 9999 !important;
}
.modal {
    z-index: 10000 !important;
}

.pages {
    border-top: 1px solid #eee;
}
.pagination {
    float: right;
    font-size: 12px;
    margin-right: 20px;
}

.fade-in-up-enter {
  // -webkit-animation: fadeInUp 0.3s;
  // animation: fadeInUp 0.3s;
}

.fade-in-up-leave {
  // -webkit-animation: fadeOutUp 0.1s;
  // animation: fadeOutUp 0.1s;
}

/* 必需 */
.expand-transition {
  transition: all .1s ease;
  height: 30px;
  // background-color: #eee;
  overflow: hidden;
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter, .expand-leave {
  height: 0;
  opacity: 0;
}

.bounce-transition {
  display: inline-block; /* 否则 scale 动画不起作用 */
}
.bounce-enter {
  animation: bounce-in .5s;
}
.bounce-leave {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}