// notify
#notify {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10000;
    height: 0;
    cursor: pointer;

    // 从左到右
    .alert {
        width: 250px;

        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        position: absolute;
        opacity: 0;

        right: -250px;
        bottom: 0;
        transition: all 0.5s;
    }
    .alert.alert-show {
        opacity: 1;
        right: 5px;
    }

    // 从上到下
    &.top {
        left: 0;
        top: 0;

        .alert {
            left: 50%;
            margin-left: -125px;

            top: -100px;
            bottom: auto;
            right: auto;

            // transition: opacity 0.5s, top 0.5s;
        }
        .alert.alert-show {
            opacity: 1;
            top: 5px;
        }
    }
}
