table.vue-table thead .sorting:after {
    content: "\f0dc";
}
table.vue-table thead .sorting_asc:after {
    content: "\f0de";
}
table.vue-table thead .sorting_desc:after {
    content: "\f0dd";
}
table.vue-table thead .sorting:after, table.vue-table thead .sorting_asc:after, table.vue-table thead .sorting_desc:after {
    font-family: FontAwesome;
    color: #ccc;
    position: relative;
    font-weight: normal;
    float: right;
}

thead {
    .sorting, .sorting_asc, .sorting_desc {
        cursor: pointer;
    }
}

