<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<!-- 头部 -->

<header>
    <script>var User = null;</script>
    <!-- 顶部 -->
    <div class="top-banner">
        <div class="container clearfix">
            <c:if test="${user != null}">
                <div class="pull-right">
                    <span class="splitter">/</span>
                    <a href="collect">我的收藏</a>
                    <c:if test="${isAdmin}">
                        <span class="splitter">/</span>
                        <a href="/admin">后台管理</a>
                    </c:if>
                    <span class="splitter">/</span>
                    <a href="/logout">退出</a>
                </div>

                <div class="pull-right welcome">
                    欢迎您, <a class="username" href="/member">${user.userName}</a>
                </div>
                <script>User = {id: ${user.id}, userName: '${user.userName}', email: '${user.email}', mobile: '${user.mobile}', realName: '${user.realName}',  parentAttrId: '${user.parentAttrId}', childAttrId: '${user.childAttrId}'}</script>
            </c:if>

            <c:if test="${user == null}">
                <div class="pull-right">
                    <a href="/">登录</a>

                    <!--
                    <span class="splitter">/</span>
                    <a href="/register">注册</a>
                    -->

                </div>
            </c:if>

        </div>

    </div>

    <!-- logo search区-->
    <div class="logo-search container clearfix">
        <!-- logo container -->
        <div class="pull-left logo-ctn">
            <a href="/">
                <img src="/images/logo.png">
            </a>
        </div>
        <!-- search
        <div class="pull-right search-ctn">
            <form class="search-form clearfix" action="/">
                <input type="text" name="key"
                    <c:if test="${searchInfo != null}">
                        value="${searchInfo.key}"
                    </c:if>
                       id="key-input" class="form-control search-input" placeholder="搜索法规">
                <button type="submit" class="search-btn" id="search-btn"><i class="fa fa-search"></i></button>
            </form>
            <div class="hot-keys">
                <span class="key-label">市场热词:</span>
                <a href="/?key=首发上市">首发上市</a>
                <a href="/?key=股权再融资">股权再融资</a>
                <a href="/?key=定期报告">定期报告</a>
                <a href="/?key=重大资产重组">重大资产重组</a>
                <a href="/?key=回购股份">回购股份</a>
                <a href="/?key=回购股份">回购股份</a>
            </div>
        </div>
        -->
    </div>

</header>

<div class="top-margin"></div>

<nav>
    <div class="container">
        <ul class="row">
            <li class="col-md-3 active"><a href="/">小安智库</a></li>
            <!--
            <li class="col-md-3"><a target="_blank" href="http://www.in-hope.cn/frontend/web/index.php/training">培训课程</a></li>
            <li class="col-md-3"><a target="_blank" href="http://www.infaith.com.cn/page/?id=5&sid=3">咨询服务</a></li>
            <li class="col-md-3"><a target="_blank" href="http://show.in-hope.cn/">创新实验室</a></li>
            -->
        </ul>
    </div>
</nav>