* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font: 14px Arial,Helvetica,sans-serif;
}
a {
    color: #00C;
    text-decoration: none;
}
em {
    color: #c00;
    text-decoration: none;
    font-style: normal;
}
#page {
    background-color: #eee;
}
#page_hd, #page_ft {
    background-color: #fff;
}
#head {
    font-weight: 700;
    font-size: 14px;
    padding-top: 37px;
}
#head, #head .logo, #more, .loading .ico-rotate {
    position: relative;
}
#head .logo {
    position: absolute;
    background: url(http://m.baidu.com/static/search/resultLogo2.png) no-repeat;
    width: 72px;
    height: 23px;
    background-size: 72px 23px;
    -webkit-background-size: 72px 23px;
    top: 10px;
    left: 6px;
}
#head .logo, .h_tab, .loading .ico-rotate, .arrow {
    display: block;
}
#h_tabs {
    position: absolute;
    margin-right: 6px;
    color: #262626;
    width: 69%;
    top: 0;
    right: 6px;
}
.h_tab {
    position: relative;
    float: left;
    width: 20%;
    color: #262626;
}
.cur {
    color: #0058d2;
    background: -webkit-gradient(linear,left top,left bottom,from(#dde9ff),to(#ecf3ff));
    border-top: 2px solid #2c73df;
}
.tabTx {
    position: relative;
    display: block;
    padding: 14px 5px 10px;
    border-top: 2px solid #fff;
}
#mo {
    padding-bottom: 2px;
}
.tabTx {
    position: relative;
    display: block;
    padding: 14px 5px 10px;
    border-top: 2px solid #fff;
}
.arrow, .pagebar .ico {
    display: inline-block;
    position: absolute;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-style: solid;
    border-color: #777 #fff #fff;
    border-width: 4px 4px 0;
    top: 19px;
    right: -5px;
}
.searchboxtop {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 6px;
    -webkit-box-shadow: 0 1px 0 #e0e0e0;
}
.se-form {
    clear: both;
    margin: 6px 6px 0;
    background: #fff;
    height: 39px;
    border: 1px solid #8d8d8d;
}
.con-wrap {
    display: box;
    display: -webkit-box;
}
.se-input {
    display: block;
    -webkit-box-flex: 1;
    box-flex: 1;
    margin: 2px 0;
    padding: 6px 39px 6px 6px;
    font-size: 18px;
    line-height: 24px;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    background: #fff!important;
}
input, button {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
}
.se-inner {
    width: 74px;
    position: relative;
    right: 0;
}
.cross {
    position: absolute;
    top: 0;
    left: -35px;
    width: 35px;
    height: 39px;
    bottom: 0;
    display: none;
    /*
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR…XczH++Se2cH8QORNAOlbe4NETU4H/8WMHViaO0X6PN2vwBXtDwHrylQ1oAAAAASUVORK5CYII=) no-repeat scroll center center transparent;
    */
    z-index: 2;
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
}
.se-bn {
    color: #000;
    text-shadow: 0 1px 1px #fff;
    -webkit-text-shadow: 0 1px 1px #fff;
    background: -webkit-gradient(linear,left top,left bottom,from(#f5f4f4),to(#e8e8e8));
    text-align: center;
    white-space: nowrap;
    font-size: 0;
    width: 74px;
    height: 39px;
    line-height: 39px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border-left: 1px solid #8d8d8d;
    letter-spacing: -1px;
}
.se-bn span {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
#results {
    text-align: left;
    padding: 0 6px;
}
.ec_wise_ad {
    background-color: #fff;
}
.result, .resitem {
    padding: 5px 10px 9px;
    margin: 6px 0;
    background: #fff;
    border: 1px solid #e0e0e0;
}
.result_title {
    text-align: left;
    font-size: 120%;
    word-break: break-all;
    line-height: 20px;
    padding: 6px 6px 8px;
    margin: 0 -6px;
    display: block;
}
a.result_title:visited .result_title_abs {
  color: #242424!important;
}
.result_title .result_title_abs {
  color: #262626;
  word-break: break-all;
  font-size: 14px;
  line-height: 21px;
  margin: 7px 0 -10px 0;
}
.result .result_snippet, .result .abs {
    line-height: 20px;
    color: #262626;
    word-break: break-all;
    padding: 0 0 7px;
}
.site, .date, .size {
    font-size: 14px;
    color: #1f992f;
}
.pagenav {
    margin: 12px 6px;
    font-size: 14px;
}
.pagenav .pagebar, noscript a {
    position: relative;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    color: #262626;
    font-size: 17px;
    height: 50px;
    line-height: 50px;
    -webkit-box-shadow: 0 1px 0 #e0e0e0;
}
.brand_bear:before {
    /*
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAB4ElEQ…3lNpAe/NTxvq/O8Dt6CegG6rEtelQDA8Ax8C4JX7Dd/mogX6zoFJLT7tQyAAAAAElFTkSuQmCC) no-repeat;
    */
    position: relative;
    display: inline-block;
    content: "";
    background-size: 15px 15px;
    -webkit-background-size: 15px 15px;
    width: 15px;
    height: 15px;
    top: 2px;
    margin: 0 4px 0 0;
}
.pagebar .ico {
    position: relative;
    left: 4px;
    top: -4px;
}
.arrow, .pagebar .ico {
    display: inline-block;
    position: absolute;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 0;
    border-style: solid;
    border-color: #777 #fff #fff;
    border-width: 4px 4px 0;
    top: 19px;
    right: -5px;
}
.pagebar .ico {
    position: relative;
    left: 4px;
    top: -4px;
}
#relativewords {
text-align: left;
border: 1px solid #e0e0e0;
background-color: #fff;
margin: 12px 6px;
}
.rw-title {
    font-size: 17px;
    height: 41px;
    line-height: 45px;
    color: #262626;
    padding: 0 10px;
    border-bottom: 1px solid #f0f0f0;
}
.rw-list {
    padding: 7px 10px;
    font-size: 14px;
}
.rw-item {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    height: 35px;
    line-height: 35px;
    overflow-x: hidden;
    text-overflow: clip;
    color: #0058d2;
}
.rw-item:nth-child(2n):before {
    content: "";
    border-left: 1px solid #dadada;
    margin-right: 8px;
}
#footer_wrap {
    padding-top: 6px;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 1px 0 #d0d0d0 inset;
}
.footerlink {
    padding: 0 6px;
    background: #fff;
}
.footerlinkout:first-child {
    padding-top: 12px;
}
.footerlinkbar {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #262626;
    height: 39px;
    line-height: 39px;
    border: 1px solid #e0e0e0;
    padding-left: 10px;
    background: #f9f9f9;
    overflow: hidden;
}
.footerlinkbar .linkico {
    position: relative;
    float: right;
    /*
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAAGXRFW…H7GU2TFyEN79E0+FLFSSxYPN1JtWAlKeKwJQ1WqiQ+kpI3AAdIHbdRS7+FAAAAAElFTkSuQmCC);
    */
    background-size: 6px 9px;
    -webkit-background-size: 6px 8px;
    width: 6px;
    height: 8px;
    margin: 15px 12px 0;
}
#copyright {
    padding: 12px 0;
    font-size: 13px;
    color: #aaa;
}
.return-link, #layout_switch, #copyright {
    background-color: #fff;
}