@import url('./index.less');

.collect-ctn {
  .each-item {
    position: relative;
  }
  .each-item-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 20px 0;
    border-left: 1px solid #eee;

    table {
      width: 100%;
      height: 100%;
      text-align: center;
    }
    .btn-cancel {

    }
  }
}
