@import url('./includes/vars.less');
@import url('./includes/common.less');
@import url('./includes/header.less');
@import url('./includes/footer.less');

.container-wrap {
  border: 1px solid #e5e5e5;
  margin: 20px auto;
  padding: 30px 0;
  padding-bottom: 200px;
  h1 {
    text-align: center;
  }
  .msg {
    text-align: center;
  }
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}