@import url('./includes/vars.less');
@import url('./includes/common.less');
@import url('./includes/header.less');
@import url('./includes/footer.less');

@registerMainColor: #ef9c55;

// 这里, 注册的样式
.pr{position: relative;}
.pa{position: absolute;}
.hidden{display: none;}
#agreeText{height:300px;overflow:auto;width:98%;margin:0 auto;
    #agreeTextPre{border:none;background-color:#fff;}
}
.tip{margin-top:5px;display: block;color:#ccc;
    span{border-radius: 50%;background-color:#ccc;color: #fff;display:inline-block;width:15px;height:15px;margin-right:5px;text-align: center;}
}
.container-wrap{
    height: 600px;
    //border-top: 1px solid #e5e5e5;
    font-size: 12px;
    .wrap{border: 1px solid #e5e5e5;margin: 20px auto;
        .wrap-header{height: 50px;width: 100%;border-bottom: 1px solid #e5e5e5;text-align: center;
            ul{margin: 0 auto;width: 600px;height: 50px;text-align: center;line-height: 50px;
                li{list-style: none;display: inline-block;margin: 0 10px;color: #cccccc;border-bottom: 1px solid white;padding:0 20px;
                    height:48px;line-height:48px;
                    span{color: white;display: inline-block;width: 20px;height: 20px;text-align: center;line-height: 20px; border-radius: 50%;background-color: #e5e5e5;margin: 0 5px;}
                }
                .complete{color: #000;
                    span{background-color: @registerMainColor;}
                }
                .now{border-bottom: 1px solid #ef9c55;}
            }
        }
        .v-e-ctn{width:80%;text-align: left;margin:0 auto;height:73px;
            input{width: 100%;height: 45px;margin: 3px 0;padding: 0 10px;line-height: 45px;outline: none;}
        }
        .phone-btn{width:80%;}
        .first{width: 400px;height: 330px;margin: 60px auto;
            .regist{width: 100%;height: 300px;text-align: center;margin: 25px auto;
                .sendCode{top:3px;right:2px; width:45%;height:40px;line-height:23px;margin:3px 0;border:none;outline: none;color:#000;background-color: #ebebeb;cursor: pointer;border-radius: 5px;display: inline-block;font-size: 12px;}

                .phone-btn{width:80%;}
                #phoneSub{border: none;outline: none;background-color: @registerMainColor;color: white;font-size: 15px;letter-spacing: 0.1em;margin-top: 5px;height:45px;text-align:center;}
            }
        }
        .second{width: 400px;height: 400px;margin: 70px auto;text-align: center;
            #sub{border: none;outline: none;background-color: @registerMainColor;color: white;font-size: 15px;letter-spacing: 0.1em;margin-top: 30px;height:45px;text-align:center;}
        }
        .third{width: 400px;height: 400px;margin: 20px auto;text-align: center;padding-top: 35px;padding: 45px 0;
            h5{font-size: 25px;margin: 20px 0;font-weight: 800;color:#999999;margin-bottom: 30px;}
            a{color:#ef9c55;text-decoration: none;font-size: 15px;}
        }
    }
}
