@import url('./includes/vars.less');
@import url('./includes/common.less');
@import url('./includes/header.less');
@import url('./includes/aside.less');
@import url('./includes/main.less');
@import url('./includes/law_search.less');
@import url('./includes/footer.less');
@import url('./includes/filter.less');

.aside-ctn,
.right-container {
  //padding-left: 0;
}

#top-btn {
  display: none;
}

.no-items {
  margin: 40px;
  text-align: center;
  color: #aaa;
}
.aside-ctn {
  margin-bottom: 30px;
}

// kt

.type-kt {
  .filter-key, .filter-conds {
    display: none !important;
  }
}