@import url('./includes/vars.less');
@import url('./includes/common.less');
@import url('./includes/header.less');
@import url('./includes/footer.less');
@import url('./includes/comment.less');

@border:1px solid #D3D3D3;
@headerHeight:60px;
@allHeight:800px;

@downloadHeight: 53px;

// header重置
header {
    position: static;
}
.top-margin {
    height: 0;
}
body {
    margin-bottom: 53px;
}
// 目录
.article-nav {
    position: relative;
    margin-top: 11px;
    margin-right: 10px;

    position: absolute;
    right: 0;

    button {
        cursor: pointer;
        color: @mainColor;
        &, &:hover, &:active, &:focus {
            outline: none;
            border: 1px solid #E49959;
            background-color: #faede1;
            width: auto;
            padding: 3px 12px;
            padding: 2px 8px;
        }
    }

    .nav-content {
        font-size: 14px;
        //opacity: 0.9;
        background: #fff;
        position: absolute;

        width: 350px;
        top: -17px;
        right: -11px;
        background: #f8f7f7;
        color: rgb(60, 60, 60);

        z-index: 20;
        display: none;
        border-radius: 3px;
        //padding: 5px 0 10px;
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
        .nav-title {
            height: 60px;
            line-height: 60px;
            //border-bottom: 1px solid #eee;
            border-bottom: 1px solid #D3D3D3;
            padding-left: 15px;

            font-size: 18px;
            //padding: 14px 10px;
        }
        .nav-content-ctn {
            margin-top: 10px;
            padding-right: 10px;

            //max-height: 400px;
            overflow-y: auto;

            font-size: 16px;
            height: 400px;

            .no-nav {
                margin: 0;
                float: none;
                margin-left: 14px;
                font-weight: normal;
            }

            ul li {
                a {
                    font-weight: bold;
                    border-bottom: 1px dotted #eee;
                    display: block;
                    padding: 5px 0;
                    color: rbg(60, 60, 60);
                }
                li {
                    list-style: disc ;
                    margin-left: 10px;
                    a {
                        font-weight:normal;
                    }

                }
            }
        }
        ul {
            list-style: none;
            margin-left: 15px;
            margin-bottom: 0;
        }
        a:hover, a:focus {
            color: @mainColor;
        }


    }
    &:hover {
        .nav-content {
            display: block;
        }
    }
}

.law-content{
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    border: none;
    padding: 20px 45px 30px 45px;

    &, * {
        line-height: 1.5 !important;
        color: rgb(60, 60, 60) !important;
        font-weight: lighter;
        font-family: @fontFamily !important; // "Microsoft YaHei", "微软雅黑", "Micro Hei", SimSun, "宋体", Heiti, "黑体", Calibri, sans-serif !important;
        font-size: 16px !important;
    }
    * {
        margin: 0 !important;
        padding: 0 !important;
    }

    img {
        max-width: 100% !important;
        height: auto !important;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 10px !important;
    }
    ul {
        margin-left: 20px !important;
    }

    p {
        text-indent: 2em !important; /*em是相对单位，2em即现在一个字大小的两倍*/
        text-align: justify;
        margin-bottom: 12px !important;
    }
    cite, cite * {
        font-style: italic !important;
        font-weight:bold !important;
        color: #0432FF !important;
    }
    pre {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        margin-bottom: 10px !important;
        &, * {
            text-indent: 0em !important;
        }
    }
    &.style-2 {
        &, * {
            font-family: SimSun, "宋体", "Times New Roman", sans-serif !important;
        }
        h1 {
            font-family: Heiti, "黑体", sans-serif !important;
        }
    }
    table {
        width: 100% !important;
        margin-bottom: 10px !important;

        td {
            padding: 5px !important;
            p {
                text-indent: 0em !important;
            }
            p:last-child {
                margin: 0 !important;
            }
        }
    }

    .border-table, .border-table td, .border-table th, .border-table caption {
        border: 1px solid #000;
        border-collapse: collapse;
        &, * {
            font-size: 14px !important;
        }
    }
    // 前后0.5
    h1 {
        text-align: center;
        margin: 12px 0 !important;
        &, * {
            font-weight: bold;
            font-size: 18px !important;
        }
    }

    // 前1 后0.5
    h2, h3 {
        text-indent: 2em !important;
        text-align: left;
        margin: 12px 0 !important;
        margin-top: 24px !important;
        &, * {
            font-size: 16px !important;
            font-weight: bold;
        }
    }
    // 前0.5 后1
    h3 {
        margin-top: 12px !important;
        margin-bottom: 24px;
    }

    // 部分失效
    h4 {
        font-weight:normal !important;
        font-size: 16px !important;
        text-indent: 2em !important;
        margin: 0 0 10px 0 !important;
        text-decoration: line-through;
    }

    // 注释
    h6 {
        &, * {
            font-weight: normal !important;
            font-size: 14px !important;
            text-indent: 2em !important;
            margin: 0 0 10px 0 !important;
            line-height: 1.5 !important;
        }
    }

    // 落款
    h5 {
        &, * {
            font-weight:normal !important;
            font-size: 16px !important;
            text-align: right;
        }
        margin-right: 67px !important;
    }

}

.wrap{
    padding:0;
    margin-top: 20px;
    margin-bottom: 20px;
    .left {
        padding: 0;
        //min-height: @allHeight;
        font-size: 12px;
        position: relative;

        .left-ctn {
            border: @border;
        }

        .title{
            border-bottom: @border;
            height: 60px;
            //overflow: hidden;
            padding: 5px 44px;
            h1 {
                font-weight: normal;
                font-size: 18px;
                margin-top: 8px;
            }
            &.one-line h1 {
                margin-top: 14px;
            }
            span{
                cursor: pointer;
                float: right;
                margin-top: -16px;
                font-weight: 600;
            }
        }

        .content {
            //height: 477px;
        }
        .content.abs {
            position: absolute;
            bottom: @downloadHeight;
            height: auto;
        }

        .enclosure {
            background: #fff;
            display: none;
            border-top: @border;
            margin: 0 -45px;
            margin-top: 20px;
            padding-left: 45px;
            .attach-title {
                font-size: 16px;
                font-weight: bold;
                padding: 15px 0;
                margin: 0;
                margin-top: 6px;
            }
            ul {
                margin-left: 31px;
                margin-bottom: 0;
                a:hover, a:focus {
                    color: @mainColor !important;
                }
            }
        }

        &.has-attach {

            .enclosure {
                display: block;
            }
        }


    }
    .right{
        position: relative;
        border: @border;
        height: @allHeight;
        border-left: none;
        padding: 0;
        position: relative;
        background: #f8f7f7; // #f3f3f3; // #f8f7f7;
        border-left: 1px solid #D3D3D3;
        margin-left: -1px;
        .right-title{
            height: @headerHeight;
            border-bottom: @border;
            h3 {
                font-size: 16px;
                text-align: center;
                margin: 0;
                font-weight: 500;
                height: @headerHeight;
                line-height: @headerHeight;
            }
        }
        .contents {
            position: absolute;
            top: @headerHeight;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            .t-content{
                display: none;
                padding: 5px;
                padding: 10px;
                img {
                    width: 30px;
                    display: block;
                    margin: auto;
                    margin-top: 10px;
                }
                .no-record {
                    display: block;
                    text-align: center;
                    color: #aaa;
                }
                ol {
                    margin-left: 10px;
                    list-style: decimal inside;
                }
                ol li {
                    margin: 10px 0;
                    border-bottom: 1px dotted #ccc;
                    padding-bottom: 5px;
                }
                /*
                ol li:nth-child(even) {
                    &, a {
                        color: #aaa;
                    }
                }
                */
                a {
                    //display: block;
                }
                li:hover a {
                    color: @mainColor;
                }
                a:hover, a:focus {
                    color: @mainColor;
                }

                &.t-active {
                    display: block;
                }
            }
            table{
                margin-left: 5px;
                td {
                    padding: 10px 0;
                }
                th {
                    width: 76px;
                    vertical-align: top;
                    padding: 10px 0;
                    text-align: left;
                    text-align:center;
                    text-align:justify;
                    text-justify:distribute-all-lines;
                    text-align-last:justify
                }
            }
        }
        .law-menu {
            position: absolute;
            left: 100%;
            top: 53px;
            li{
                cursor: pointer;
                padding-left: 10px;
                list-style: none;
                border: 1px solid #f1e0d2;
                border-left: none;
                width: 90px;
                height: 40px;
                line-height: 40px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                margin: 5px 0;
                color: #d49b69;
            }
            .on {
                background-color: #ef9c55;
                color: #FFFFFF;
                width: 100px;
            }
        }
    }
}


.type-qa {
    .left .menu .download {
        display: none;
    }
}


// 最大化
html {
    height: 100%;
}

#share-modal {
    .modal-dialog {
        width: 350px;
    }
    .modal-body {
        text-align: center;
    }
}

.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: @downloadHeight;
    background-color: #f3f3f3;
    border-top: @border;

    z-index: 10;

    .container {
        padding-left: 0;
    }

    .container i {

        //line-height: 53px;
        line-height: 22px;
        margin-top: 18px;

        padding: 0 15px;
        /* height: 5px; */
        /* width: 30px; */
        cursor: pointer;
        color: #939393;
        font-size: 18px;
        //display: inline-block;
        float: left;

        &.has-collected {
            color: @mainColor2;
        }

        &:hover {
            color: @mainColor2;
        }
    }

    .download {
        float: right;height: 100%;width: 135px;
        border: none;outline: none;background-color: #ef9c55;color: #fff;font-size: 16px
    }


    #max-screen-btn {
        //padding-right: 0;
    }
}

.top-btn {
    display: none;
}

.max-screen {
    header,
    nav,
    .right,
    .discuss-wrap,
    footer,
    .chat-right,
    .enclosure,
    #comment-btn
    {
        display: none !important;
    }
    .wrap {
        margin: 0;
    }
    .law-content {
        padding: 20px 98px 30px 98px;
    }
    .wrap .left .title {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: #fff;
    }
    .wrap .left .content {
        //position: absolute;
        //top: auto;
        //bottom: 53px;
        //height: auto;
        //left: 0;
        //right: 0;

        margin-top: 60px;
        margin-bottom: 60px;
    }
    .wrap .left .left-ctn {
        border: none;
    }
    &,
    .container,
    .left {
        height: 100%;
        width: 100% !important;
    }
    .wrap .left {
        float: none;
        width: 100%;
    }
    .wrap .left .title h1 {
        text-align: center;
    }

    .top-btn {
        display: block;
    }
}


//.print {
@media print {
    header,
    nav,
    .right,
    .discuss-wrap,
    footer,
    .chat-right,
        //.enclosure,
    .support-ctn,
    .article-nav,
    .top-btn,

    .menu {
        display: none !important;
    }

    .wrap .left-ctn {
        border: none !important;
    }
    .wrap .left .title {
        position: static !important;
        border-top: none !important;
    }

    .wrap .left .content {
        height: auto;
        position: static !important;
        margin-top: 0 !important;
    }

    .law-content {
        height: initial;
        overflow-y: initial;
        padding: 20px 45px 30px 45px !important;
    }

    .wrap .left {
        overflow: visible;
        float: none !important;
        width: 100% !important;
        border: none;
    }

    .wrap .left .title h1 {
        text-align: center;
    }

    .xiaoi-btn {
        display: none;
    }
}


@media screen and (max-width:700px) {
    .top-banner,
    nav,
    .search-ctn,
    .right,
    .discuss-wrap,
    footer,
    .chat-right,
    .enclosure,
    .support-ctn,
    .article-nav,
    .menu {
        display: none !important;
    }

    header {
        position: static;
        box-shadow: none;
    }
    .top-margin {
        height: 0;
    }

    .wrap {
        border: 1px solid #D3D3D3;
        margin-top: 10px;
    }
    .wrap .left .left-ctn {
        border: none;
    }

    .wrap .left .content {
        height: auto;
        position: static !important;
    }

    .law-content {
        height: initial;
        overflow-y: initial;

    }

    .wrap .left {
        overflow: visible;
        float: none !important;
        width: 100% !important;
        border: none;
    }
}


.fixed {
    .top-btn {
        display: block;
    }

    .wrap .left .title {
        position: fixed;
        top: 0;
        background: #fff;
        border: 1px solid #d3d3d3;
        border-right: 0;
        width: 753px;
        margin-left: -1px;

        height: 61px; // 不知道为什么
        z-index: 10;
    }
    .content {
        margin-top: 60px;
    }
    .wrap .right {
        position: fixed;
        top: 0;
        bottom: 0;
        height: auto;
        width: 251px;
        margin-left: 0;
        border-left: 1px solid #D3D3D3;
    }

    .article-nav {
        margin-right: 9px;
    }
}

.td-seq {
    width: 1px;padding: 0; vertical-align: top;
}

.tooltip-inner {
    background: @mainColor2;
}
.tooltip-arrow {
    border-top-color: @mainColor2 !important;
}

// video
.kt-video {
    height: 400px;
}
.law-content-kt {
    padding: 20px;
}
// kt 详情
.kt-info {
    h1, h2, h3, .content-abs {
        display: none !important;
    }
    padding: 10px;
}