@import url('./includes/vars.less');
@import url('./includes/common.less');
@import url('./includes/header.less');
@import url('./includes/footer.less');
@import url('./includes/comment.less');

@border:1px solid #e3e3e3;
@headerHeight:60px;
@allHeight:665px;
.pr{position:relative;}
.pa{position:absolute;}
.tip{
    padding-left: 10px;
    margin-top:5px;
    color:#ccc;
    top:37px;
    left:10px;
    display:none;
    span{
        border-radius: 50%;
        background-color:#ccc;
        color: #fff;
        display:inline-block;
        width:15px;
        height:15px;
        margin-right:5px;
        text-align: center;
    }
}

.wrap{
    padding:0;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height:580px;
    font-size:14px;

    overflow: hidden;
    border-bottom: @border;

    .left, .right {
        margin-bottom: -9999px;
        padding-bottom: 9999px !important;
    }
    .left{
        height: 100%;
        border:@border;
        border-right:none;
        padding:0;
        background-color:#f8f7f7;
        p{
            text-decoration: none;
            display: block;
            margin:0 auto;
            height: 50px;
            width:80px;
            span{
                float:left;
            }
            .list-icon{
                display: inline-block;
                height: 50px;
                line-height: 50px;
                font-size: 18px;
                padding-right: 10px;
            }
            .list-font{
                font-size: 12px;
            }
            .list-second{
                line-height:46px;
            }
            .list-third{
                line-height: 46px;
            }
            .list-collect {
                line-height: 52px;
            }
        }
        .list-box{
            height:50px;
            line-height:50px;
            text-align: center;
            width:100%;
            border-bottom:@border;
            background-color: #fff;
        }
        .focus{
            background-color:#fbebdd;
            p{
                color:#e49959;
            }
        }
        .alide{
            margin-top:15px;
            border-top:@border;
        }

    }
    .right{
        border:@border;
        height:100%;
        padding:0 15px;
        text-align: center;
        font-size: 12px;

        // 收藏
        .collect-ctn {
            //padding: 10px 0;
            margin-top: 10px;
            text-align: left;
            .each-item-left {
                padding-left: 0;
            }
            .list-pager {
                margin-right: 10px;
            }
        }

        .td-btn {
              text-align: center !important;
        }

        .admin-title{
            width:100%;
            height:50px;
            border-bottom:@border;
            line-height:50px;
            font-weight:500;
            font-size:14px;
        }
        .admin-main{
            width:100%;
            //height: 345px;
            .links{
                margin:30px;
                display:inline-block;
                border:1px solid #f0b174;
                background-color: #F0B174;
                color: #fff;
                &:hover{
                    background-color: #F0B174 ;
                }
            }
            button{
                outline:none;
            }
            //账号信息
            .account{
                width:100%;
                text-align:center;
                padding-top:20px;
                font-size: 12px;
                .bang{
                    &:hover{
                        background-color: #fff;
                    }
                }
                button{
                    &:hover{
                        background-color: #fff;
                    }
                }
                table{
                    margin-top: 15px;
                    padding:20px 0;
                    margin:0 auto;
                    width:500px;
                    height:100px;
                    .pading-right{
                        padding-right: 30px;
                    }

                    td {
                        height: 50px;
                        vertical-align: middle;
                    }

                    .td-msg {
                        padding: 0;
                    }

                    .mess{
                        display:block;
                        left:0;
                        padding:0;
                        margin-top: -23px !important;
                        a:hover {
                            color: @mainColor;
                        }
                    }
                    .td_title{
                        text-align:right;
                        width:100px;
                    }
                    .kao_left{
                        text-align:left;
                    }
                    .width_one{
                        width:100px;
                        padding-right: 10px;
                        text-align: right;
                    }
                    .readO{
                        background-color: #fff;
                        border: none;
                        border-bottom: 1px solid #ccc;
                        border-radius: 0;
                        padding: 0 0 5px 0;
                        //text-align: left;
                        //padding-left: 20px;
                    }
                    i{
                        width:30px;
                        height: 30px;
                        font-size: 20px;
                        line-height:30px;
                    }
                    input{
                        cursor: default;
                        height:30px;
                    }
                    button{
                        font-size: 12px;
                        a{
                            text-decoration: none;
                        }
                    }
                    .bang{
                        width:90px;
                        font-size: 12px;
                    }
                    label{
                        margin-right:10px;
                        line-height:50px;
                    }
                }
                h5{
                    font-size: 14px;
                    border-bottom: @border;
                    padding:30px 0 15px 0;
                }

            }
            .psw{
                table{
                    width:60%;
                    height: 208px;
                    margin-left:65px;
                    margin-top:30px;
                    .kao_left{
                        padding-left:20px;
                    }
                    .kao_right{
                        text-align: right;
                    }
                    .width_one{
                        width:100px;
                    }
                    .width_two{
                        width:200px;
                    }
                    .height_six{
                        height:60px;
                    }
                    label{
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    input{
                        width:100%;
                        height:30px;
                    }
                }
            }
            .person-message{
                z-index: 2;
                table{
                    width:80%;
                    font-size: 12px;
                    .align_right{
                        text-align: right;
                    }
                    .align_left{
                        text-align: left;
                    }
                    .width_six{
                        width:160px;
                    }
                    .tip{
                        margin-left: -18px;
                    }
                    .sele{
                        width: 124px;
                        display:inline-block;
                        font-size: 12px;
                        margin-right: 0;
                    }
                    .sele:last-child {
                    }
                    .pad_left{
                        padding-left: 20px;
                        text-align: left;
                    }
                    label{
                        font-weight: 600;
                    }
                    input{
                        width:100%;
                        height:30px;
                    }
                    textarea{
                        width:100%;
                        resize:none;
                    }
                    tr{
                        select{
                            height:30px;
                            margin:0 5px 0 0;
                            border-radius: 4px;
                            //border: @border;
                        }

                        td{
                            height:50px;
                            .v-msg{
                                top:39px;
                            }
                            .v-heighter{
                                top:60px;
                            }
                        }
                        .heighter{
                            height:70px;
                        }
                    }
                    .second-td{
                        width:400px;
                    }
                    .companyInput{
                        background-color:#fff;
                    }
                    .compress{
                        cursor:pointer;
                        right: 0;
                        top:11px;
                        display:inline-block;
                        width:45px;
                        height:28px;
                        line-height:25px;
                        font-size: 25px;
                        color:#232323;
                        opacity:0.5;
                        i{
                            vertical-align: top;
                            margin-top: -4px;
                        }
                    }
                    ul{
                        background-color: #fff;
                        box-shadow: 0px 2px 1px 1px #e5e5e5;
                        border-radius: 5px;
                        border:1px solid #e5e5e5;
                        z-index: 5;
                        text-align: center;
                    }
                    .first_grade{
                        left:20px;
                        width:84%;
                        background-color: #fff;
                        top:40px;
                        border-radius: 5px;
                        color:#000;
                        .first-li{
                            list-style: none;
                            width:100%;
                            height:35px;
                            line-height:35px;
                            margin:0 auto;
                            cursor:pointer;
                            z-index: 1;
                            &:hover{
                                color:#ef9c55;
                                z-index:3;
                                font-size:14px;
                            }
                            &:hover  .second_grade{
                                display:block;
                                li{
                                    &:first-of-type{
                                        box-shadow: -2px 1px 0px 1px #fff;
                                        border-left:2px solid #fff;
                                    }
                                }
                            }
                            span{
                                display:block;
                                width: 90%;
                                border-bottom: 1px dotted #c3c3c3;
                                margin:0 auto;
                            }
                            .second_grade{
                                left:315px;
                                width:60%;
                                display:none;
                                top:-2px;
                                background-color: #fff;
                                z-index:2;
                                font-size:12px;
                                li{
                                    list-style: none;
                                    color:#000;
                                    &:hover{
                                        color:#ef9c55;
                                        font-size:13px;
                                    }
                                    &:last-of-type{
                                        span{
                                            border-bottom: 1px dotted #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
            .changePhone{
                table{
                    width:65%;
                    margin:20px 0 0 125px;
                    //.tip{
                    //    padding-left:6px;
                    //}
                    tr{
                        height:50px;
                        label{
                            font-weight: 600;
                        }
                        .align_right{
                            text-align: right;
                        }
                        .kao_left{
                            padding-left: 15px;
                            text-align: left;
                        }
                        .more{
                            padding-left: 30px;
                        }
                        input{
                            width:100%;
                            height:30px;
                        }
                        .getCode{
                            right:3px;
                            top:13px;
                            width:150px;
                            height:25px;
                            line-height: 13px;
                            color:#000;
                            font-size: 12px;
                            border:none;
                            outline:none;
                            background-color: #ebebeb;
                        }
                    }
                }
            }
            .changeEmail{
                width:500px;
                height:500px;
                margin:0 auto;
                margin-top:30px;
                label{
                    width:120px;
                    height: 30px;
                    line-height: 30px;
                    float:left;
                    font-weight: 600;
                    padding-left: 30px;
                }
                span{
                    display: block;
                    text-align: left;
                    margin:5px 0;
                    color:#A9A9A9;
                }
                .emailBox{
                    float: left;
                    width:300px;
                    input{
                        height:30px;
                    }
                }
                p{
                    text-align: left;
                    padding:0;
                    margin:0;
                    margin-bottom: 5px;
                    height:20px;
                    .tips{
                        display:none;
                        height:25px;
                        line-height: 25px;
                        span{
                            border-radius: 50%;
                            background-color:#ccc;
                            color: #fff;
                            display:inline-block;
                            width:15px;
                            height:15px;
                            line-height: 15px;
                            margin-right:5px;
                            text-align: center;
                        }
                    }
                }
            }
        }

    }
}

.weixin-binded {
    .fa {
        color: #60c455;
    }
}

.weibo-binded {
    .fa {
        color: #ff7474;
    }
}
