@import url('./includes/vars.less');
@import url('./includes/common.less');
@import url('./includes/header.less');
@import url('./includes/footer.less');

.container-wrap {
    font-size: 12px;
    .wrap {
        border: 1px solid #e5e5e5;
        margin: 20px auto;
        .wrap-header {
            width: 100%;
            border-bottom: 1px solid #e5e5e5;
            text-align: center;
        }
    }

    h1 {
        font-size: 24px;
        color: #555;
        font-weight: 600;
        padding: 0;
        margin: 20px 0;
    }
    h2 {
        font-size: 18px;
        margin-top: 20px;
        font-weight: bold;
    }

    .article {
        color: #555;
        font-size: 14px;
        padding: 0 76px;
        p {
            margin: 15px 0;
        }
        ul {
            list-style: none;
        }
        a:hover, a:focus {
            color: @mainColor;
        }
    }
}
