@import url('./includes/vars.less');
@import url('./includes/common.less');
@import url('./includes/header.less');
@import url('./includes/footer.less');

@registerMainColor: #ef9c55;

// 这里, 注册的样式
.pr{position: relative;}
.pa{position: absolute;}
.hidden{display: none;}
#agreeText{height:300px;overflow:auto;width:98%;margin:0 auto;
    #agreeTextPre{border:none;background-color:#fff;}
}
.container-wrap{
    height: 600px;
    //border-top: 1px solid #e5e5e5;
    font-size: 12px;
    .wrap{border: 1px solid #e5e5e5;margin: 20px auto;
        .wrap-header{height: 50px;width: 100%;border-bottom: 1px solid #e5e5e5;text-align: center;
            ul{margin: 0 auto;width: 600px;height: 50px;text-align: center;line-height: 50px;
                li{list-style: none;display: inline-block;margin: 0 10px;color: #cccccc;border-bottom: 1px solid white;padding:0 20px;
                    height:48px;line-height:48px;
                    span{color: white;display: inline-block;width: 20px;height: 20px;text-align: center;line-height: 20px; border-radius: 50%;background-color: #e5e5e5;margin: 0 5px;}
                }
                .complete{color: #000;
                    span{background-color: @registerMainColor;}
                }
                .now{border-bottom: 1px solid #ef9c55;}
            }
        }
        .tip{color: #ccc;font-size: 12px;padding-left: 10px;margin-top: 5px;
            span{text-align:center; border-radius: 50%;background-color:#ccc;color: #fff;display:inline-block;width:15px;height:15px;margin-right:5px;}
        }
        .first{width: 400px;height: 460px;margin: 0px auto;
            .regist{width: 100%;height: 300px;text-align: center;margin: 25px auto;
                .inputBox{width:80%;text-align: left;margin:0 auto;height:68px;
                    input{width: 100%;height: 45px;margin: 3px 0;padding: 0 10px;line-height: 45px;outline: none;}

                    .agreement{display: block;text-align: left;margin-left: 5px;cursor:pointer;
                         .checkbox{width:13px;height:13px;display:inline-block;}
                         #agree{height:20px;background-color: #fff;line-height: 20px;border:none;color:#000;font-size: 12px;padding:0;outline:none;}
                     }
                }
                .agree-box{height:38px;}
                .sendCode{color:#000;border:none;outline:none; cursor: pointer;left: 197px;top: 4px;display: inline-block;width: 120px;height: 37px;background-color: #ebebeb;border-radius: 5px;line-height: 18px;font-size: 12px;text-align: center}
                #phoneSub{border: none;outline: none;background-color: @registerMainColor;color: white;font-size: 15px;letter-spacing: 0.1em;margin-top: 5px;height:45px;text-align:center;}
            }
        }
        .second{width: 400px;height: 400px;margin: 20px auto;text-align: center;color:#e5e5e5;
            .inputBox{width:80%;text-align: left;margin:0 auto;height:75px;
                input{width: 100%;height: 50px;padding: 0 10px;line-height: 50px;outline: none;}
                .companyInput{background-color:#fff;}
                .compress{cursor:pointer;left:275px;top:1px;display:inline-block;width:45px;height:48px;line-height:40px;font-size: 25px;color:#232323;opacity:0.5;}
                ul{background-color: #fff;box-shadow: 0px 2px 1px 1px #e5e5e5;border-radius: 5px;border:1px solid #e5e5e5;z-index: 5;text-align: center;}
                .first_grade{left:0;width:87%;background-color: #fff;top:50px;border-radius: 5px;color:#000;
                    .first-li{list-style: none;width:100%;height:35px;line-height:35px;margin:0 auto;cursor:pointer;z-index: 1;
                        &:hover{color:#ef9c55;z-index:3;font-size:14px;}
                        &:hover  .second_grade{display:block;
                            li{
                                &:first-of-type{
                                    box-shadow: -2px 1px 0px 1px #fff;border-left:2px solid #fff;
                                }
                            }
                        }
                        span{display:block;width: 90%;border-bottom: 1px dotted #c3c3c3;margin:0 auto;}
                        .second_grade{left:315px;width:60%;display:none;top:-2px;left:274px;background-color: #fff;z-index:2;font-size:12px;
                            li{list-style: none;color:#000;
                                &:hover{color:#ef9c55;font-size:13px;}
                                &:last-of-type{
                                    span{border-bottom: 1px dotted #fff;}
                                }
                            }
                        }
                    }
                }
            }
            #sub{border: none;outline: none;background-color: @registerMainColor;color: white;font-size: 15px;letter-spacing: 0.1em;margin-top: 30px;height:45px;text-align:center;}
        }
        .third{width: 400px;height: 400px;margin: 20px auto;text-align: center;padding-top: 35px;padding: 45px 0;
            span{color: @registerMainColor;font-size: 15px;font-weight: 600;display: inline-block;height: 30px;line-height:35px;}
            h5{font-size: 13px;margin: 20px 0;font-weight: 500;}
            ul{margin:0 auto;padding:0 60px;
                li{list-style: none;float:left;margin:10px;
                    img{width:115px;height:115px;display:inline-block;}
                    p{padding:10px 0;}
                }
            }
            button{width: 80%;height: 50px;line-height:40px; border: none;outline: none;background-color: @registerMainColor;color: white;font-size: 15px;letter-spacing: 0.1em;}
        }
    }
}
