<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!--修改邮箱-->

<%@ include file="../includes/head.html" %>

<body class="nav-no-active">

<!-- 本页面自己的css -->
<link href="/style/member_index.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="../includes/header.html" %>
<!--账号信息-->
<!--<pre>-->
<!--${user.id}-->
<!--${user.userName}-->
<!--${user.realName}-->
<!--${user.mobile}-->
<!--${user.email}-->

<!--${user.companyProvince}-->
<!--${user.companyCity}-->
<!--${user.companyTown}-->
<!--${user.companyStreet}-->

<!--${user.position}-->

<!--</pre>-->
<div class="container wrap">
    <%@ include file="../includes/member_left.html" %>
    <div class="col-md-9 right">
        <div class="admin-title">
            邮箱验证
        </div>
        <div class="admin-main">
            <div>
                <c:if test="${ok == false}">
                    <br/>
                    <br/>
                    验证失败，${msg}
                    <br/>
                    <br/>
                    <a href="/member/updateEmail" class="btn btn-primary btn-style-1">重新修改邮箱</a>
                </c:if>
                <c:if test="${ok}">
                    <br/>
                    <br/>
                    验证成功，已绑定邮箱：${email}
                    <br/>
                    <br/>
                    <a href="/member" class="btn btn-primary btn-style-1">返回</a></c:if>
            </div>

        </div>

    </div>
</div>





<%@ include file="../includes/footer.html" %>

</body>
</html>