<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ include file="../includes/head.html" %>

<body class="nav-no-active">

<!-- 本页面自己的css -->
<link href="style/member_index.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="../includes/header.html" %>
<div class="container wrap">
    <%@ include file="../includes/member_left.html" %>
    <div class="col-md-9 right">
        <div class="admin-title">
            账户信息设置
        </div>
        <div class="admin-main">
            <div class="account">
                <table>
                    <tr class="form-group">
                        <td class="td_title"><label for="moble">手机号</label></td>
                        <td class="pading-right">
                            <div class="readO">
                                ${user.mobile}
                            </div>
                        </td>

                        <td class="width_one"><a href="/member/updateMobile"><button class="btn btn-default btn-style-2">更换号码</button></a></td>
                    </tr>
                    <tr class="form-group">
                        <td class="td_title"><label for="email">邮箱</label></td>
                        <td class="pading-right">
                            <div class="readO">
                                ${user.email}
                            </div>
                        </td>
                        <td class="width_one"><a href="/member/updateEmail"><button class="btn btn-default btn-style-2">更换邮箱</button></a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2" class="pading-right td-msg">
                            <c:choose>
                                <c:when test="${user.email2 != null && user.email2 != ''}">
                                    <div class="tip mess" style="text-align: left;"><span>!</span>您已申请更换绑定邮箱：${user.email2}。<br><span style="visibility: hidden">!</span>请至邮箱查看验证邮件。<br><span style="visibility: hidden">!</span>没有收到验证邮件？点击<a id="re-send-email" data-email="${user.email2}">重发验证邮件</a>。
                                    </div>
                                </c:when>
                                <c:when test="${user.email != null && user.email != '' && user.emailVerified != true}">
                                    <div class="tip mess" style="text-align: left;"><span>!</span>您的邮箱尚未验证，请致邮箱查看验证邮件。<br><span style="visibility: hidden">!</span>没有收到验证邮件？点击<a id="re-send-email" data-email="${user.email}">重发验证邮件</a>。
                                    </div>
                                </c:when>
                            </c:choose>
                        </td>
                        <td></td>
                    </tr>
                </table>

                <h5>社会化媒体绑定</h5>
                <c:if test="${fromOauth != null}">
                    <c:if test="${ok == false}">
                        <div class="alert alert-warning">
                            绑定失败, ${msg}
                        </div>
                    </c:if>
                    <c:if test="${ok}">
                        <div class="alert alert-success">
                            ${msg}
                        </div>
                    </c:if>
                </c:if>

                <table>
                    <tr>
                        <c:choose>
                            <c:when test="${user.weixinId == null || user.weixinId == ''}">
                            <td class="width_one"><i class="fa fa-weixin" aria-hidden="true"></i></td>
                            <td class="kao_left">
                                绑定到微信
                            </td>
                            <td class="width_one"><a  href="/oauth/weixinUrl" class="btn btn-default  btn-style-2 bang">绑定</a></td>

                            </c:when>
                            <c:otherwise>
                                <td class="width_one weixin-binded"><i class="fa fa-weixin" aria-hidden="true"></i></td>
                                <td class="kao_left">
                                    已绑定到微信 <span>@${user.weixinUserName}</span>
                                </td>
                                <td class="width_one"><button class="btn btn-default btn-style-2 bang" id="unbind-weixin">解除绑定</button></td>
                            </c:otherwise>
                        </c:choose>
                    </tr>
                    <tr>
                        <c:choose>
                            <c:when test="${user.weiboId == null || user.weiboId == ''}">
                                <td class="width_one"><i class="fa fa-weibo" aria-hidden="true"></i></td>
                                <td class="kao_left">
                                绑定到微博
                                </td>
                                <td class="width_one">
                                    <a href="/oauth/weiboUrl" class="btn btn-default btn-style-2 bang">绑定</a>
                                </td>
                            </c:when>
                            <c:otherwise>
                                <td class="width_one weibo-binded"><i class="fa fa-weibo" aria-hidden="true"></i></td>
                                <td class="kao_left">
                                已绑定到新浪微博 <span>@${user.weiboUserName}</span>
                                </td>

                                <td class="width_one">
                                    <button class="btn btn-default btn-style-2 bang" id="unbind-weibo">解除绑定</button>
                                </td>

                            </c:otherwise>
                        </c:choose>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<%@ include file="../includes/footer.html" %>
<script src="js/member.js?i=32"></script>
</body>
</html>