<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!--个人信息-->


<%@ include file="../includes/head.html" %>

<body class="nav-no-active">

<!-- 本页面自己的css -->
<link href="/style/member_index.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="../includes/header.html" %>

<div class="container wrap">
    <%@ include file="../includes/member_left.html" %>
    <div class="col-md-9 right">
        <div class="admin-title">
            个人信息设置
        </div>
        <div class="admin-main">
            <div class="person-message">
                <form id="admin-form">
                    <table>
                        <tr class="v-e-ctn form-group">
                            <td class="align_right"><label for="userName">用户名</label></td>
                            <td class="pad_left second-td pr" >
                                <input type="text" class="form-control" id="userName" placeholder="用户名" value="${user.userName}"
                                       v-rules="[{rule: 'required', msg:'请填写您的用户名'}]"
                                >
                                <div class="v-msg pa"></div>
                            </td>
                        </tr>
                        <tr class="v-e-ctn form-group">
                            <td class="align_right"><label for="relName">真实姓名</label></td>
                            <td class="pad_left second-td pr">
                                <input type="text" class="form-control" placeholder="真实姓名" id="relName" value="${user.realName}"
                                       v-rules="[{rule: 'required', msg:'请填您的真实姓名'}]"
                                >
                                <div class="v-msg pa"></div>
                            </td>
                        </tr>
                        <tr class="v-e-ctn form-group" >
                            <td class="align_right"><label for="companyName">公司名称</label></td>
                            <td class="pad_left second-td pr">
                                <input type="text" class="form-control" placeholder="公司名称" id="companyName" value="${user.companyName}"
                                       v-rules="[{rule: 'required', msg:'请填写您的公司名称'}]"
                                >
                                <div class="v-msg pa"></div>
                            </td>
                        </tr>
                        <tr class="v-e-ctn form-group">
                            <td class="align_right"><label for="jobName">企业或机构属性</label></td>
                            <td class="pad_left pr second-td">
                                <input type="text" name="attribute" id="attribute" class="form-control companyInput" readonly
                                       style="cursor:default" placeholder="企业或机构属性"
                                       v-rules="[{rule: 'required', msg:'请选择企业或机构属性'}]"
                                       value="${user.childAttrTitle}"/>
                                <button class="pa compress"><i class="fa fa-sort-desc" aria-hidden="true"></i></button>
                                <ul class="first_grade hidden pa">
                                    <c:forEach var="item" items="${companyAttrs}" varStatus="status">
                                        <li class="pr first-li" data-id="${item.id}">
                                            <span>${item.title}</span>
                                            <ul class="second_grade pa">
                                                <c:forEach var="itemChild" items="${item.children}" varStatus="status">
                                                    <li data-id="${itemChild.id}"><span>${itemChild.title}</span></li>
                                                </c:forEach>
                                            </ul>
                                        </li>
                                    </c:forEach>
                                </ul>
                                <div class="v-msg pa"></div>
                            </td>
                        </tr>
                        <tr class="v-e-ctn form-group area">
                            <td class="align_right"><label>公司地址</label></td>
                            <td class="pad_left second-td align_left pr">
                                <select id="province" class="form-control sele" tip="${user.companyProvince}">
                                    <option value="1">省</option>

                                </select>
                                <select id="city" class="form-control sele" tip="${user.companyCity}">
                                    <option value="1">市</option>

                                </select>
                                <select id="county" class="form-control sele" tip="${user.companyTown}">
                                    <option value="1">县</option>

                                </select>
                                <div class="v-msg pa"><span class="msg-icon"></span><span class="msg-text">请选择您的省市县</span></div>
                            </td>
                        </tr>
                        <tr class="form-group stress">
                            <td class="heighter"></td>
                            <td class="pad_left heighter pr">
                                <textarea class="form-control" placeholder="建议填写详细地址,如门牌号码，楼层和房间号" id="stress">${user.companyStreet}</textarea>
                            </td>
                        </tr>
                        <tr class="v-e-ctn form-group">
                            <td class="align_right"><label for="jobName">职位名称</label></td>
                            <td class="pad_left second-td pr">
                                <input type="text" class="form-control" id="jobName" placeholder="职位名称" value="${user.position}"
                                >
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td class="pad_left second-td td-btn"><button class="btn btn-primary btn-style-1 preser" data-loading-text="正在保存...">保存</button></td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>

    </div>
</div>

<%@ include file="../includes/footer.html" %>
<script src="/js/province.data.js?i=32"></script>
<script src="/js/member_admin.js?i=32"></script>
</body>
</html>