<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>

<!--个人信息-->

<%@ include file="../includes/head.html" %>

<body class="nav-no-active">

<!-- 本页面自己的css -->
<link href="/style/member_index.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="../includes/header.html" %>

<style>
    .invite-form {
        margin: 10px 0;
        text-align: left;
    }
    .invite-table th {
        text-align: center;
    }
    .invite-status {
        margin: 20px 0 10px 0;
        text-align: left;
    }
</style>

<div class="container wrap">
    <%@ include file="../includes/member_left.html" %>
    <div class="col-md-9 right">
        <div class="admin-title">
            邀请注册
        </div>
        <div class="admin-main">

            <c:if test="${leftInviteNum > 0}">
                <form class="form-inline invite-form" id="invite-form" role="form">
                    <div class="form-group v-e-ctn"  style="width: 60%">
                        <input type="email" style="height: 30px;" class="form-control" id="invite-email" placeholder="请输入好友邮箱"
                               v-rules="[{rule: 'required', msg:'请输入好友邮箱'}, {rule: 'email', msg: '请输入正确的邮箱'}]"
                        >
                        <div class="v-msg pa"></div>
                    </div>
                    <div class="form-group"  style="width: 10%; margin-left: 10px;">
                        <button type="submit" id="invite-btn" data-loading-text="正在发送..." class="btn btn-primary btn-style-1" style="">发送邀请邮件</button>
                    </div>
                </form>
            </c:if>

            <div class="invite-status">
                剩余邀请数: ${leftInviteNum}
            </div>

            <c:if test="${data != null && leftInviteNum < 3}">
            <table class="invite-table table table-bordered">
                <thead>
                    <th>序号</th>
                    <th>邮箱</th>
                    <th>邀请时间</th>
                    <th>是否注册</th>
                </thead>

                <tbody>
                    <c:forEach var="item" items="${data}" varStatus="status">
                    <tr>
                        <td>${status.index+1}</td>
                        <td>${item.email}</td>
                        <td><fmt:formatDate value="${item.createDatetime}" pattern="yyyy-MM-dd HH:mm:ss" /></td>
                        <td>
                            <c:if test="${item.userId > 0}">
                                是
                            </c:if>

                            <c:if test="${item.userId == 0}">
                                否
                            </c:if>
                        </td>
                    </tr>
                    </c:forEach>
                </tbody>

            </table>
            </c:if>
        </div>
    </div>
</div>

<%@ include file="../includes/footer.html" %>
<script>
$(function () {
    var vd = new VD('#invite-form');

    $('#invite-btn').click(function (e) {
        e.preventDefault();
        if (!vd.validate()) {
            return;
        }
        var email = $('#invite-email').val();
        $('#invite-btn').button('loading');
        $.post('/invite/add', {email: email}, function (ret) {
            $('#invite-btn').button('reset');
            if (ret.ok) {
                alert('发送成功');
                location.reload();
                return;
            }
            alert(ret.msg);
        });
    });
})
</script>
</body>
</html>