<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!--修改手机-->


<%@ include file="../includes/head.html" %>

<body class="nav-no-active">

<!-- 本页面自己的css -->
<link href="/style/member_index.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="../includes/header.html" %>

<div class="container wrap">
    <%@ include file="../includes/member_left.html" %>
    <div class="col-md-9 right">
        <div class="admin-title">
            更换手机
        </div>
        <div class="admin-main">

            <div class="changePhone">
                <form id="mobile-form">
                    <table>
                        <tr class="v-e-ctn form-group" >
                            <td class="align_right"><label for="changeMobile">新手机</label></td>
                            <td class="pr kao_left">
                                <input type="text" class="form-control" name="changeMobile" id="changeMobile"
                                       v-rules="[{rule: 'required', msg:'请填写手机号码'}, {rule:'mobile'}]"
                                >
                                <div class="v-msg pa"></div>
                            </td>

                        </tr>
                        <tr class="v-e-ctn form-group">
                            <td class="align_right"><label for="phoneCode">验证码</label></td>
                            <td  class="pr kao_left">
                                <input type="text" class="form-control" name="phoneCode" id="phoneCode"
                                       v-rules="[{rule: 'token',msg:'请输入验证码'}]"
                                >
                                <div class="v-msg pa"></div>
                                <button class="btn btn-default pa getCode" data-loading-text="正在发送">获取验证码</button>
                            </td>

                        </tr>
                        <tr>
                            <td></td>
                            <td class="kao_left more td-btn"><button class="btn btn-primary btn-style-1 preser" data-loading-text="正在保存">保存</button><a href="/member"  class="btn btn-default btn-style-2 margin-left-10 goBack">返回</a></td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>

    </div>
</div>





<%@ include file="../includes/footer.html" %>
<script src="/js/member_phone.js?i=32"></script>
</body>
</html>