<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!--修改密码-->


<%@ include file="../includes/head.html" %>

<body class="nav-no-active">

<!-- 本页面自己的css -->
<link href="/style/member_index.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="../includes/header.html" %>

<div class="container wrap">
    <%@ include file="../includes/member_left.html" %>
    <div class="col-md-9 right">
        <div class="admin-title">
            修改密码
        </div>
        <div class="admin-main">
            <div class="psw">
                <form id="psw-form">
                    <table>
                        <tr class="v-e-ctn form-group">
                            <td class="kao_right width_one"><label for="old_psw">原密码</label></td>
                            <td class="kao_left width_two pr">
                                <input type="password" name="old_psw" class="form-control" id="old_psw"
                                       v-rules="[{rule: 'required', msg:'请填写您的旧密码'}]"
                                >
                                <div class="v-msg pa"></div>
                            </td>
                        </tr>
                        <tr class="v-e-ctn form-group">
                            <td class="kao_right"><label for="psw1">输入新密码</label></td>
                            <td class="kao_left pr">
                                <input type="password" name="psw1" class="form-control" id="psw1"
                                       v-rules="[{rule: 'required', msg:'请填写密码'}, {rule:'password', msg: '请输入6位以上字符的密码'}]"
                                >
                                <div class="v-msg pa"></div>
                            </td>
                        </tr>
                        <tr class="v-e-ctn form-group">
                            <td class="kao_right"><label for="psw2">再次输入新密码</label></td>
                            <td class="kao_left pr">
                                <input type="password" name="psw2" class="form-control" id="psw2"
                                       v-rules="[{rule: 'required', msg:'请填写确认密码'}, {rule:'equalTo', ref: '#psw1'}]"
                                >
                                <div class="v-msg pa"></div>
                            </td>
                        </tr>
                        <tr class="height_six">
                            <td></td>
                            <td class="kao_left td-btn"><button class="btn btn-primary btn-style-1" id="reset_psw" data-loading-text="正在重置...">重置密码</button></td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>
</div>





<%@ include file="../includes/footer.html" %>
<script src="../js/common.js?i=32"></script>
<script src="../js/member_psw.js?i=32"></script>
</body>
</html>