<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!--修改邮箱-->


<%@ include file="../includes/head.html" %>

<body class="nav-no-active">

<!-- 本页面自己的css -->
<link href="/style/member_index.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="../includes/header.html" %>

<div class="container wrap">
    <%@ include file="../includes/member_left.html" %>
    <div class="col-md-9 right">
        <div class="admin-title">
            更换邮箱
        </div>
        <div class="admin-main">

            <div class="changeEmail">
                <label for="new_email">新邮箱</label>
                    <div class="emailBox">
                        <input type="email"class="form-control" id="new_email">
                        <p><span class="tips">验证邮件发送成功, 请至邮箱查看邮件并验证</span></p>
                        <button class="btn btn-primary btn-style-1 preser" data-loading-text="正在保存">保存</button>
                        <a href="/member" class="btn btn-default btn-style-2 margin-left-10">返回</a>
                    </div>
            </div>
        </div>

    </div>
</div>





<%@ include file="../includes/footer.html" %>
<script src="/js/member_email.js?i=32"></script>
</body>
</html>