<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>404</title>
    <!-- 一些公用的css -->
    <link href="/libs/bootstrap.min.css" rel="stylesheet">
    <link href="/libs/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style/error.css" rel="stylesheet">
    <script src="/libs/jquery-1.9.0.min.js"></script>
    <script src="/libs/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
</head>

<body>

<%@ include file="./header.html" %>

<div class="container container-wrap">
    <h1>404 找不到页面</h1>
    <div class="msg">
        ${exception.message}
    </div>
</div>

<%@ include file="../view/includes/footer.html" %>
</body>
</html>