
.cate-header {
    background-color: rgb(142,140,140);
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: white;
}

.cates {
    .check-ctn {
        margin-top: 0;
        &,input {
            font-size: 12px;
        }
    }

    .panel-heading {
        height: 40px;
        padding: 0;
        background: none;
        box-shadow: 0 0 9px #ccc;
        z-index: 2;
        position: relative;

        .check-total {
            border: none;
            margin-top: 8px;
            font-size: 12px;
        }
        .each-check {
            padding: 0;
        }
    }

    .panel-title {
        position: relative;
        margin: 0 15px;
    }

    .cate-title {
        position: absolute;
        left: 24px;
        right: 0;
        top: 0;
        right: 0;
        * {
            line-height: 40px;
        }
    }

    .panel {
        border-radius: 0;
    }
    .panel-body {
        background: #f8f7f7;
        padding-top: 5px;
        padding-bottom: 0;

        .check-total {
            margin: 0 -15px;
            padding: 0 15px;
            height: 40px;
            padding-top: 6px;
            background: #fff;
            box-shadow: -1px 0 8px #ddd;
            button {
                .btn-1();
            }
            .each-check {
                padding-top: 6px;
            }
        }
    }

    .check-ctn ul {
        max-height: 300px;
        overflow-y: scroll;

        .each-check  {
            border: none;
            margin: 5px 0;
        }
    }
    .each-check {
        padding: 5px 0;
    }

    .panel-group .panel+.panel {
        margin-top: 0;
        border-top: 0;
    }
}