@import url('./filter.less');
@import url('./validation.less');



body.chatting {
  overflow: hidden;
}


.xiaoi-btn {
  height: 53px;
  width: 135px;
  position: fixed;
  bottom: 0;
  right: 0;

  z-index: 11;
  border: none;
  outline: none;
  background-color: #ef9c55;
  color: #fff;
  font-size: 14px;
  overflow: visible;
  img {
    float: left;
    margin-left: 29px;
  }
  .xiaoi-logo-i {
    opacity: 0;
    width: 27px;
    position: absolute;
    top: 8px;
    left: 0;
  }
  .xiaoi-cloud {
    display: none;
  }
  .xiaoi-text {
    position: absolute;
    top: 7px;
    right: 12px;
  }
  div {
    float: left;
    margin-top: 11px;
    margin-left: 5px;
    span {
      text-align: right;
    }
  }
  canvas {
    height: 53px;
    width: 135px;
    position: fixed;
    bottom: 0;
    right: 0;

    z-index: 1020;
  }
}

/*
.xiaoi-btn {
    height: 53px;
    width: auto;
    position: fixed;
    right: 28px;
    bottom: 1px;
    z-index: 11;
    border: none;
    outline: none;
    background: none;
    // background-color: #ef9c55;color: #fff;font-size: 16px
}
*/

.chat-ctn {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px
  }

  /* 垂直滚动条的第一层轨道　*/
  ::-webkit-scrollbar-track:vertical {
    background-color: transparent;
    border: none;
    //background: red;
  }

  /* 垂直滚动条的第二层轨道　*/
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border: none;
  }
  /* 垂直滚动条的第三层轨道的上段　*/
  ::-webkit-scrollbar-track-piece:vertical:start {
    border: none;
    background: transparent;
  }

  /* 垂直滚动条的第三层轨道的下段　*/
  ::-webkit-scrollbar-track-piece:vertical:end {
    border: none;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    //background-color: #888;
    border-radius: 5px
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #777
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #666
  }
}


//
.chat-right {
  position: fixed;
  right: 28px;
  bottom: 110px;
  background: #fff;
  z-index: 1;
  .chat-icons {

    height: 40px;
    width: 40px;
    border: 1px solid #f29c4d;
    //border-right:0;

    .close-support {
      width:40px;
      height:40px;
      border:1px solid #f2f2f2;
      border-right:0;
      margin-left: -1px;
      margin-right: 1px;
      display:inline-block;
      background-color: #F2F2F2;
      color:#9D9D9D;
      text-align: center;
      span{
        height: 30px;
        width:30px;
        //font-size: 30px;

        display: inline-block;
        //margin-top:8px;
        i{
          font-size: 25px;
        }

      }
    }



    .chat-icon {
      display: block;
      height: 40px;
      overflow: hidden;
      border-bottom: 1px solid #eee;
      span {
        display: block;
        height: 36px;
        margin-left: 15px;
        margin-top: 13px;
        background: #fff url("../images/xiaoi-right.png") no-repeat;
        background-size: auto 100%;
      }
    }
    .open{
      //background-color: #f3b97d;
      //span{
      //  color:#fff!important;
      //}
    }
  }
}

.top-btn {
  position: fixed;
  right: 28px;
  bottom: 63px;
  border: none;
  //background: #fff;

  //border: 1px solid #f29c4d !important;
  line-height: 40px;
  &, &:hover {
    color: rgba(243,185,125,1);
  }

  font-size: 28px;
}

.support-icon {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  &:hover {
    text-decoration: none;
    /*
    background-color: rgba(243,185,125,1);
    span {
      color: #fff;
    }
    */
  }
  text-align: center;
  span {
    display: block;
    font-size: 28px;
    color: rgba(243,185,125,1);
    height: 24px;
    //background: #fff url("../images/support.png") no-repeat;
    background-size: auto 100%;
  }
}

.header-style2 .chat-right {
  display: none;
}

//
.chat-ctn {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;

  //display: none;
  visibility: hidden;
  font-size: 14px;

  background-color: #232631;
  background-image: url("../images/chat_bg.png");
  background-size: 100% auto;

  .chat-out {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    //background: #171c2c;
    border-radius: 50%;
    //color: #989ba3;
    background: #e2e2e2;
    color: #000;
    font-size: 18px;
    &:hover {
      text-decoration: none;
      //color: #fff;
      background: #fff;
    }
  }

  .chat {
    color: #fff;
    width: 1024px;
    height: 100%;
    margin: auto;
    position: relative;
  }
  .chat-inner {
    position: absolute;
    width: 100%;
    top: 10px;
    bottom: 10px;
    border-radius: 5px;
    background: #2e333e;
    box-shadow: 0 0 10px #242732;
  }

  .chat-list {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 10px;
    padding-top: 0;
    bottom: 180px;
    overflow-y: scroll;

    .message {
      .q-link {
        &, &:hover {
          color: @mainColor;
        }
      }
      ul {
        list-style-type: decimal;
        margin: 0;
        padding: 0;
        margin-left: 15px;
        li {
          padding: 2px 0;
        }

        a {
          text-decoration: underline;
          &:hover {
            color: @mainColor;
          }
        }
      }

      hr {
        border-top: 1px solid #eee;
        margin: 10px 0;
      }
      .q-suggestion-text {
        cursor: pointer;
        color: #aaa;
        span {
          display: inline-block;
          margin-right: 10px;
        }
      }
      .q-suggestion-wrap.show-suggestion {
       .q-suggestion-ctn {
         display: block;
       }
       .q-suggestion-text i {
        &:before {
          content: "\f106";
        }
       }
      }
      .q-suggestion-ctn {
        display: none;
        ul {
          li, a, a:hover {
            color: #aaa;
          }
        }
      }
    }
  }

  .chat-input-ctn {
    position: absolute;
    height: 180px;
    bottom: 0;
    width: 100%;
  }

  .chat-cate-wrap {
    height: 45px;
    padding-top: 8px;
    width: 100%;
    background: #242732;
  }

  .chat-input-wrap {
    textarea {
      width: 100%;
      height: 140px;
      resize: none;
      &, &:focus, &:active {
        background: none;
        border: none;
        color: #fff;
        padding: 10px;
        outline: none;
      }
    }
    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      /*
      padding: 9px 45px;
      &,&:focus,&:active {
        background: #58a84f;
        border-color: #58a84f;
        color: #fff;
        outline: none;
      }
      */
    }
  }

  @faceW: 50px;
  .chat-content {
    width:100%;
    margin-top:10px;
    clear:both;
  }
  .face{
    float:left;
    width: @faceW;
    height: @faceW;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    &.xiaoi span {
      display: block;
      height: 34px;
      margin-left: 14px;
      margin-top: 7px;
      background: #fff url("../images/xiaoi-logo.png") no-repeat;
      background-size: auto 100%;
    }
  }

  .face img {
    width:100%;max-width:40px;clear:both;
  }
  .message{
    float:left;
    position: relative;
    background-color:#fff;
    padding:20px;
    max-width:50%;
    margin-left:20px;margin-right:5px;
    border-radius:10px;
    position:relative;
    box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
    color: #000;
  }
  .chat-time {
    position: absolute;
    bottom: 0;
    right: -42px;
    color: #999;
    &.time-long-true {
      right: -118px;
    }
  }

  .message:before{
    position:absolute;
    content:"\00a0";
    width:0px;
    height:0px;
    border-width:8px 11px 8px 0;
    border-style:solid;
    border-color:transparent #fff transparent transparent;
    top:20px;
    left:-11px;
  }

  .chat-asker {
    .message {
      float: right;
      background-color: #e69f5c;
      margin-left: 5px;
      margin-right: 20px;
      border-radius: 10px;
      position: relative;
      box-shadow: -2px 1px 2px hsla(0, 0%, 0%, 0.3);
      color: #4a2808;
      .chat-time {
        right: auto;
        left: -42px;
      }
    }
    .message:before{
      border: none;
      border-width:8px 0px 8px 18px;
      border-style:solid;
      border-color:transparent transparent transparent #e69f5c;
      left: auto;
      right:-11px;
    }

    .face {
      float: right;
      color: @mainColor;
      font-size: 18px;
      text-align: center;
      line-height: 50px;
    }
  }

}

.cate-select {
  width: 150px;
  //padding-top: 10px;

  margin-left: 10px;
  * {
    box-shadow: none !important;
    background: #3e4454;
  }

  .cond-title {
    line-height: 30px !important;
    font-size: 12px;
  }
  .cond-expand {
    font-size: 12px;
    border: none !important;
    .check-ctn ul .each-check {
      border-bottom: 1px dotted #4e5464;
      margin: 0;
      text-align: center;
      padding: 6px 10px;
    }
    .check-ctn ul .each-check:last-child {
      border-bottom: none;
    }
  }

  &.hover .cond-title, &:hover .cond-title {
    border-bottom: 1px solid #4e5464 !important;
  }

  .check-ctn {
    margin-top: 30px;
  }
}

.chatting {
  .fade {
    opacity: 1;
  }
  .chat-ctn {
    z-index: 1000;
  }
  .chat-inner {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }
}

// 动画

.chat-inner {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  //-webkit-transform: translate(0,-25%);
  //-ms-transform: translate(0,-25%);
  //-o-transform: translate(0,-25%);
  transform: translate(0, 100%);
}

//客户支持
@border:1px solid #ccc;
.pr{position:relative;}
.pa{position:absolute;}

.support-ctn{
  background-color: #fff;
  border:@border;
  position:fixed;
  width:300px;
  //height:550px;
  top: 0;
  bottom: 53px;
  right:-300px;
  margin:0;
  padding:0;
  opacity: 1;
  z-index: 33;
  h3{
    font-size: 14px;
    font-weight: 500;
    margin:0;
    height:40px;
    border-bottom: 1px solid #ebebeb;
    line-height: 40px;
    text-align: center;
    background-color: #F7F7F7;
  }
  p{
    margin:0 auto;
    width:90%;
    padding:0 20px 10px 20px;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    .help{
      display: block;
      font-size: 15px;
      font-weight: 500;
      margin:0;
      height:40px;
      line-height: 40px;
      color: #F3B97D;
      text-align: center;
    }
  }
  .support-form {
    position: absolute;
    left: 0;
    right: 10px;
    bottom: 0;
    top: 162px;
  }
  
  .form-ctn{
    width:90%;
    margin:0 auto;
    .v-e-ctn{
      margin-bottom: 0;
      height:50px;
      margin-top: 2px;
    }
    .control-label{
      padding-right: 0;
      font-size: 12px;
      font-weight: 400;
    }
    .input-list{
      width: 100%;
      margin:10px 0;
      height:35px;
      label{
        margin-left: 15px;
        height:100%;
        line-height: 35px;
        width:10%;
        font-size: 12px;
        font-weight: 400;
        float: left;
      }
      input{
        float: right;
        height:70%;
        border-radius: 2px;
        margin-top: 3px;
        font-size: 12px;
        padding:4px 12px 2px 12px;

        width:80%;
        display: inline-block;
      }
    }
    .form-hr{
      width:90%;
      height:2px;
      padding:0;
      margin-left: 13px;
      border-bottom: 1px solid #ebebeb;
    }
    .content-box{
      height:95px;
    }

    .textarea-ctn {
      position: absolute;
      bottom: 100px;
      right: 0;
      left: 0;
      top: 158px;
      height: auto;
      .content-box, textarea {
        height: 100%;
      }
    }

    .file-ctn {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
    }

    .submit-ctn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .submitI{
      width:100%;
      height: 35px;
      float:right;
      background-color:#46C789;
      color:#fff;
      margin-top: 15px;
      outline:none;
      border:none;
    }
    .support-input{
      height: 30px;
      font-size: 12px;
    }
    .text-area{

      label{
        font-weight: 500;
        font-size: 12px;
      }
      textarea{
        resize:none;
        float:right;
        height:75px;
        border-radius: 2px;
        font-size: 12px;
      }

    }

    .file-input{
      margin-top: 5px;
      //width:100%;
      text-align: right;
      overflow:hidden;
      height:18px;
      font-size: 12px;
      .fileName{
        padding-right: 62px;
      }
      input{
        opacity: 0;
        width:70px;
        position: absolute;
        right:0;
        top:0;
      }
      .add-file{
        color:#61A2E7;
        cursor: pointer;
        font-size: 12px;
        right:13px;
        top:0;
      }
    }

  }
}

.q-q {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;

  img {
    width: 21px;
  }
  .q-n-q {
    margin-left: 25px;
  }
}
.q-a {
  .q-a-img-ctn {
    margin-top: -2px;
  }
  img {
    width: 21px;
  }
  .q-n-a {
    margin-left: 25px;
    text-align: justify;
  }
}

.loading-img {
  text-align: center;
  img {
    width: 20px;
  }
}

.q-feedback-y, .q-feedback-n {
  display: inline-block;
  margin: 0 10px;
  &.selected, &:hover {
    color: @mainColor;
  }
}

.xiaoi-mask {
  position: fixed;
  bottom: 5px;
  right: 37px;
  z-index: 46;

  border-radius: 50%;
  background: #232631;
  width: 40px;
  height: 40px;

  transition: all .5s ease-out;

  visibility: hidden;
}

.support-x {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 9px;
  right: 10px;
  color: #666;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}