@import url('./filter.less');



body.chatting {
  overflow: hidden;
}

//
.chat-right {
  position: fixed;
  right: 0;
  top: 200px;
  background: #fff;
  z-index: 99;
  .chat-icons {

    height: 120px;
    width: 60px;
    border: 1px solid #f29c4d;
    border-right:0;

    .close-support{
      width:60px;
      height:60px;
      border:1px solid #f2f2f2;
      border-right:0;
      margin-left: -1px;
      margin-right: 1px;
      display:inline-block;
      background-color: #F2F2F2;
      color:#9D9D9D;
      text-align: center;
      span{
        height: 30px;
        width:30px;
        font-size: 30px;

        display: inline-block;
        margin-top:8px;
        i{
          font-size: 25px;
        }

      }
    }



    .chat-icon {
      display: block;
      height: 60px;
      overflow: hidden;
      border-bottom: 1px solid #eee;
      span {
        display: block;
        height: 36px;
        margin-left: 15px;
        margin-top: 13px;
        background: #fff url("../images/xiaoi-right.png") no-repeat;
        background-size: auto 100%;
      }
    }
    .open{
      background-color: #f3b97d;
      span{
        color:#fff!important;
      }
    }
    .support-icon {
      display: block;
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-bottom: 1px solid #eee;
      &:hover {
        text-decoration: none;
        /*
        background-color: rgba(243,185,125,1);
        span {
          color: #fff;
        }
        */
      }
      text-align: center;
      span {
        display: block;
        font-size: 38px;
        color: rgba(243,185,125,1);
        height: 24px;
        //background: #fff url("../images/support.png") no-repeat;
        background-size: auto 100%;
      }
    }

  }
}

.header-style2 .chat-right {
  display: none;
}

//
.chat-ctn {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  display: none;
  font-size: 14px;

  background-color: rgba(35,38,49,1);
  background-image: url("../images/chat_bg.png");
  background-size: 100% auto;

  .chat-out {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #171c2c;
    border-radius: 50%;
    color: #989ba3;
    font-size: 18px;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

  .chat {
    color: #fff;
    width: 1024px;
    height: 100%;
    margin: auto;
    position: relative;
  }
  .chat-inner {
    position: absolute;
    width: 100%;
    top: 10px;
    bottom: 10px;
    border-radius: 5px;
    background: #2e333e;
    box-shadow: 0 0 10px #242732;
  }

  .chat-list {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    padding: 10px;
    padding-top: 0;
    bottom: 180px;
    overflow-y: scroll;
  }

  .chat-input-ctn {
    position: absolute;
    height: 180px;
    bottom: 0;
    width: 100%;
  }

  .chat-cate-wrap {
    height: 45px;
    padding-top: 8px;
    width: 100%;
    background: #242732;
  }

  .chat-input-wrap {
    textarea {
      width: 100%;
      height: 80px;
      resize: none;
      &, &:focus, &:active {
        background: none;
        border: none;
        color: #fff;
        padding: 10px;
        outline: none;
      }
    }
    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding: 9px 45px;
      &,&:focus,&:active {
        background: #58a84f;
        border-color: #58a84f;
        color: #fff;
        outline: none;
      }
    }
  }

  @faceW: 50px;
  .chat-content {
    width:100%;
    margin-top:10px;
    clear:both;
  }
  .face{
    float:left;
    width: @faceW;
    height: @faceW;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    &.xiaoi span {
      display: block;
      height: 32px;
      margin-left: 12px;
      margin-top: 10px;
      background: #fff url("../images/xiaoi-logo.png") no-repeat;
      background-size: auto 100%;
    }
  }
  .face img {
    width:100%;max-width:60px;clear:both;
  }
  .message{
    float:left;
    position: relative;
    background-color:#fff;
    padding:20px;
    max-width:50%;
    margin-left:20px;margin-right:5px;
    border-radius:10px;
    position:relative;
    box-shadow:1px 1px 2px hsla(0, 0%, 0%, 0.3);
    color: #000;
  }
  .chat-time {
    position: absolute;
    bottom: 0;
    right: -42px;
    color: #999;
  }

  .message:before{
    position:absolute;
    content:"\00a0";
    width:0px;
    height:0px;
    border-width:8px 11px 8px 0;
    border-style:solid;
    border-color:transparent #fff transparent transparent;
    top:20px;
    left:-11px;
  }

  .chat-asker {
    .message {
      float: right;
      background-color: #e69f5c;
      margin-left: 5px;
      margin-right: 20px;
      border-radius: 10px;
      position: relative;
      box-shadow: -2px 1px 2px hsla(0, 0%, 0%, 0.3);
      color: #4a2808;
      .chat-time {
        right: auto;
        left: -42px;
      }
    }
    .message:before{
      border: none;
      border-width:8px 0px 8px 18px;
      border-style:solid;
      border-color:transparent transparent transparent #e69f5c;
      left: auto;
      right:-11px;
    }

    .face {
      float: right;
      color: @mainColor;
      font-size: 18px;
      text-align: center;
      line-height: 50px;
    }
  }

}

.cate-select {
  width: 150px;
  //padding-top: 10px;

  margin-left: 10px;
  * {
    box-shadow: none !important;
    background: #3e4454;
  }

  .cond-title {
    line-height: 30px !important;
  }
  .cond-expand {
    border: none !important;
    .check-ctn ul .each-check {
      border-bottom: 1px dashed #4e5464;
      margin: 0;
      text-align: center;
      padding: 6px 10px;
    }
    .check-ctn ul .each-check:last-child {
      border-bottom: none;
    }
  }

  &.hover .cond-title, &:hover .cond-title {
    border-bottom: 1px solid #4e5464 !important;
  }

  .check-ctn {
    margin-top: 30px;
  }
}

.chatting {
  .fade {
    opacity: 1;
  }
  .chat-ctn {
    z-index: 1000;
  }
  .chat-inner {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
  }
}

// 动画

.chat-inner {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  //-webkit-transform: translate(0,-25%);
  //-ms-transform: translate(0,-25%);
  //-o-transform: translate(0,-25%);
  transform: translate(0,100%);
}

//客户支持
@border:1px solid #ccc;
.pr{position:relative;}
.pa{position:absolute;}

.support-ctn{
  background-color: #fff;
  border:@border;
  position:fixed;
  width:300px;
  height:550px;
  top:25px;
  right:-300px;
  margin:0;
  padding:0;
  opacity: 1;
  z-index: 33;
  h3{
    font-size: 14px;
    font-weight: 500;
    margin:0;
    height:40px;
    border-bottom: 1px solid #ebebeb;
    line-height: 40px;
    text-align: center;
    background-color: #F7F7F7;
  }
  p{
    margin:0 auto;
    width:90%;
    padding:0 20px 15px 20px;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #ebebeb;
    .help{
      display: block;
      font-size: 15px;
      font-weight: 500;
      margin:0;
      height:40px;
      line-height: 40px;
      color: #F3B97D;
      text-align: center;
    }
  }
  .form-ctn{
    width:90%;
    margin:0 auto;
    .tip{
      padding-left: 10px;
      margin-top:5px;
      color:#ccc;
      top:37px;
      left:10px;
      display:none;
      font-size: 12px;
      span{
        border-radius: 50%;
        background-color:#ccc;
        color: #fff;
        display:inline-block;
        line-height: 17chat.lesspx;
        width:15px;
        height:15px;
        margin-right:5px;
        text-align: center;
      }
    }
    .hei{
      height:16px;
      width:100%;
      display: block;
    }
    .ti3{
      padding-left: 54px;
    }
    .input-list{
      width: 100%;
      margin:10px 0;
      height:35px;
      label{
        margin-left: 15px;
        height:100%;
        line-height: 35px;
        width:10%;
        font-size: 12px;
        font-weight: 400;
        float: left;
      }
      input{
        height:70%;
        border-radius: 2px;
        margin-top: 3px;
        font-size: 12px;
        padding:4px 12px 2px 12px;
        float: right;
        width:80%;
        display: inline-block;
      }
    }
    .form-hr{
      width:90%;
      height:2px;
      padding:0;
      margin-left: 13px;
      margin-top: 15px;
      margin-bottom:10px;
      border-bottom: 1px solid #ebebeb;
    }
    .submitI{
      width:80%;
      height: 35px;
      float:right;
      background-color:#46C789;
      color:#fff;
      margin-top: 30px;
      outline:none;
      border:none;
    }
    .text-area{

      label{
        font-weight: 500;
        font-size: 12px;
      }
      textarea{
        resize:none;
        width:80%;
        float:right;
        height:75px;
        border-radius: 2px;
        font-size: 12px;
      }
      .file-input{
        margin-top: 5px;
        width:100%;
        text-align: right;
        overflow:hidden;
        height:18px;
        font-size: 12px;
        .fileName{
          padding-right: 100px;
        }
        input{
          opacity: 0;
          width:70px;
          position: absolute;
          right:0;
          top:0;
        }
        .add-file{
          color:#61A2E7;
          cursor: pointer;
          font-size: 12px;
          right:0;
          top:0;
        }
      }
    }
  }
}