@import url('./vars.less');

// 一些通用样式
* {
    margin: 0;
    padding: 0;
 }
@fontFamily: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
//@fontFamily: 'Hiragino Sans GB','Segoe UI','Microsoft Yahei','WenQuanYi Micro Hei',Arial,Simsun,sans-serif;
*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, input, button, select, textarea {
    font-family: @fontFamily;
}

body {
    background: #fff;
}


a {
    cursor: pointer;
    color: #000;
}

// 重写bootstrap的.container
@media (min-width: 1200px) {
    .container {
        width: 1005px;
    }
}

.main {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}
/*
.pagination a {
    text-decoration: none;
    border: 1px solid #ef9c55;
    color: #ef9c55;
}
*/

.row-right-0 {
    margin-right: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-0 {
    padding-right: 0;
}

.margin-left-10 {
    margin-left: 10px;
}

.no-select() {
    -webkit-user-select: none;
    user-select: none;
}

.ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

.iconfont() {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.inhopeIcon() {
    font-family: 'inhope-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    //line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pagination .current {
    background: #ef9c55;
    color: #fff;
    border: 1px solid #ef9c55;
}

.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}


.pagination{
    font-size: 12px;
    float: right;
    a,span{
        display: inline-block;
        border:none;
        color: #000;
        margin:0 5px;
        padding:0 6px;
    }
    .current{
        border:none;
    }
    .next,.prev{
        background-color: #f7f7f7!important;
        border:1px solid #ececec!important;
        color: #1f1f1f!important;
    }
}

@btnBg: #eeb079;

.btn-common() {
    font-size: 12px;
    //border-radius: 0;
    &, &:hover, &:focus {
        &, &.disabled {
            color: #fff;
            outline: none;
            background: @btnBg;
            border-color: #d69256;
        }
    }
}


.btn-filter-common {
    .btn-common();
}

.btn-filter {
    font-size: 14px;
    &, &:hover, &:focus {
        &, &.disabled {
            border-radius: 5px;
            background: none;
            color: @mainColor;
        }
    }
    padding: 7px 12px;
}

.btn-1() {
    .btn-common();
    line-height: 1.5;
    padding: 3px 20px;
}
.btn-2() {
    .btn-1();
    padding: 3px 20px;
    &, &:hover, &:focus {
        &, &.disabled {
            background: none;
            color: @mainColor;
        }
    }

    display: inline-block;
}

.btn-style-1 {
    .btn-1();
}

.btn-style-2 {
    .btn-2();
}

input::-ms-clear {
    display: none;
}
input::-webkit-search-cancel-button {
    display: none;
}

// 公测

.beta-hide {
    display: none;
}
.beta-show {
    display: block;
}

.beta-ctn {
    position: relative;
}
.beta {
    position: absolute;
    font-size: 12px;
    top: -13px;
}
.beta-xiaoi {
    top: 3px;
    right: 1px;
}
.beta-chat-xiaoi {
    display: block;
    top: auto;
    bottom: -13px;
    right: 0;
}

// notify
#notify {
    position: fixed;
    right: 0;
    bottom: 0;
    //z-index: 1000;
    height: 0;
    cursor: pointer;
    z-index: 10;

    // 从左到右
    .alert {
        width: 140px;
        text-align: center;

        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        position: absolute;
        opacity: 0;

        left: -70px;
        bottom: 0;
        transition: all 0.5s;
    }
    .alert.alert-show {
        opacity: 1;
        right: 5px;
    }

    &.fuck {
        z-index: -10;
    }

    // 从上到下
    &.top {
        left: 0;
        top: 0;

        .alert {
            //left: 50%;
            //margin-left: -125px;

            top: -40px;
            bottom: auto;
            right: auto;

            // transition: opacity 0.5s, top 0.5s;
        }
        &.alert-show {
            z-index: 10000 !important;
            .alert {
                opacity: 1;
                top: -30px;
            }
        }
    }
}

.alert-success {
    color: #ffffff;
    background-color: #ef9c55;
    border-color: #ef9c55;
}

// icon font
.menu .container i {
    font-size: 20px !important;
    margin-top: 16px !important;
}
.inhope-icon-q, .inhope-icon-a {
    color: @mainColor2;
    font-size: 20px;
}
.wrap .left p .list-second {
    line-height: 51px !important;
}
.wrap .left p .list-collect {
    line-height: 49px !important;
}
.article-nav button {
    &, &:hover, &:active {
        border: none !important;
        background: none !important;
        font-size: 21px;
        margin-top: -2px;
    }
}
.chat-right .chat-icons {
    border: none !important;
}
.support-icon {
    border: none !important;
}
.support-icon span {
    margin-top: 4px;
}
.inhope-icon-up {
    margin-top: 6px;
}
.top-btn {
    bottom: 82px !important;
}
.inhope-icon-out {
    font-size: 20px;
    margin-top: 10px;
    display: inline-block;
}

.inhope-icon-user {
    font-size: 19px !important;
}

.inhope-icon-password {
    font-size: 20px !important;
}