@border:1px solid #D3D3D3;
@txtColor:#737373;

.discuss-wrap{
    background: #fff;
    padding: 0;
    .col-md-9 {
        //padding: 0;
    }
    .content1{
        width: 100%;
        h2{
            font-size: 17px;
            font-weight: 500;
        }
        .txt{
            width: 100%;
            height: 100px;
            //border: @border;
            padding: 10px;
            overflow: auto;
            resize: none;
        }
        button{
           border: 1px solid #a3a3a3;
           background: none;
           outline: none;
           width: 110px;
           height: 40px;
           float: right;
           margin-top: 10px;
        }
    }
    .content2{
        width: 100%;
        h2{
            font-size: 17px;
            font-weight: 500;
        }
        ul{
            width: 100%;
            li{
                position:relative;
                overflow: auto;
                list-style: none;
                width: 100%;
                padding-top: 10px;
                border-bottom: @border;
                .hid{display: none;}
                .dis-reply{
                    width: 100%;
                    position: relative;
                    background-color: #f3f3f3;
                    padding: 15px 15px 0 15px;
                    .pagination{
                        margin:10px 0;
                    }
                    //overflow: auto;

                    .reply-inp {
                        display: inline-block;
                        width: 88%;
                        //padding: 5px;
                        //outline: none;
                        //border: @border;
                        border-radius: 5px;
                        height: 35px;
                    }
                    .reply{
                        border: @border;
                        outline: none;
                        width: 8%;
                        height: 32px;
                        border-color: #A3A3A3;
                        font-size: 12px;
                        background-color: #f5f5f5;
                        margin-left: 18px;
                    }
                    .reply-tip{
                        font-size: 12px;
                        margin: 5px 0;
                        color: @txtColor;
                    }
                    .reply-box{
                       &:before{
                            content: "";
                            height: 0;
                            width: 0;
                            border: 10px solid #f3f3f3;
                            border-bottom-color:transparent;
                            border-right-color:transparent;
                            border-left-color:transparent;
                            position: absolute;
                            top: -19px;
                            transform: rotate(180deg);
                            right: 20px;
                        }
                        .reply-again:last-child{
                            border-bottom: none;
                        }
                    }

                    .reply-again{
                        position: relative;
                        border-bottom: 1px solid #d3d3d3;
                    }
                    .reply-left{
                        margin-right: 100px;
                        h4{
                            font-size: 12px;
                            font-weight: 700;
                        }
                        p{
                            width: 100%;
                            color: @txtColor;
                            word-break:break-all; /*支持IE，chrome，FF不支持*/
                            word-wrap:break-word;/*支持IE，chrome，FF*/
                            font-size: 12px;
                        }
                    }
                    .reply-right{
                        right:0;
                        position:absolute;
                        top:-6px;
                        text-align: right;
                        color: @txtColor;
                        font-size: 12px;
                        .dis-time{
                            text-align: right;
                            display: block;
                            margin-top: 5px;
                        }
                        .doing{
                            margin:8px 0 8px 8px;
                            cursor: pointer;
                            display: inline-block;
                        }
                        .do-replace{
                            margin:8px 0 8px 8px;
                            cursor: pointer;
                            display: inline-block;
                            opacity: 0;
                        }
                    }
                }
                .dis-left{
                    float: left;
                    margin-right: 100px;
                    h4{
                        font-size: 15px;
                        font-weight: 700;
                    }
                    p{
                        width: 100%;
                        color: #a3a3a3;
                        word-break:break-all; /*支持IE，chrome，FF不支持*/
                        word-wrap:break-word;/*支持IE，chrome，FF*/
                    }
                    
                }
                .dis-right{
                    right:0;
                    width: 100px;
                    position:absolute;
                    text-align: right;
                    color: @txtColor;
                    font-size: 12px;
                    .dis-time{
                        text-align: right;
                        display: block;
                        margin-top: 13px;
                        margin-bottom: 10px;
                    }
                    .dis-remove{padding: 0 15px;}
                    .dis-place{padding:0 15px;opacity: 0;}
                    span{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
