@import url('./calendar.less');

.filter {
    .filter-key {
        display: none;
    }
}

.show-filter {
    .btn-filter i:before {
        content: "\f106";
    }

    .filter .filter-key {
        display: block;
    }
}

.hide-filter {
    .btn-filter i:before {
        content: "\f107";
    }
    .filter .filter-key {
        display: none;
    }
}

.filter {
    &, input {
        font-size: 12px;
    }
}


@condsH: 45px;
@condBorderColor: #e5e5e5;
.filter-conds {
    height: 45px;
    border: 1px solid @condBorderColor;
    background: #f8f7f7;
    margin-top: 10px;
    position: relative;
}

.conds-title {
    line-height: 43px;
    padding: 0 20px;
    background: #fff;

    border-right: 1px solid #e5e5e5;
}

.cond-ctn {
    position: absolute;
    left: 96px;
    right: 0;
    top: 0;
    bottom: 0;
}

.each-cond {
    position: relative;
    padding: 0;
    .cond-title {
        text-align: center;
        line-height: 43px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;

        .check-total {
            display: inline-block;
            border: none;
            background: transparent;
            padding: 0;
            position: relative;
            line-height: 1;
            vertical-align: middle;

            //position: absolute;
            //left: 11px;
            //top: 13px;

            .each-check {
                display: inline-block;
                padding: 0;
                .check-box {
                    display: inline-block;
                    position: relative;
                }
            }
        }
    }

    .cond-expand {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;

        background: #fff;
        // height: 300px;
        border: 1px solid @condBorderColor;
        border-top: none;

        box-shadow: 0 0 10px #ddd;
    }

    .date-expand {
        height: 90px;
    }

    &.hover, &:hover {
        .cond-title {
            border-bottom: 1px solid #eee;
        }

        .cond-expand {
            display: block;
        }
    }

    &.date-cond {
        &.hover, &:hover {
            .cond-title {
                border-bottom: none;
            }
        }
    }

    .date-ctn {
        position: absolute;
        right: -164px;
        left: 0;
        /* width: 100%; */
        top: 45px;
        background: #fff;
        padding: 10px;
        padding-right: 0;

        .form-group {
            position: relative;
            .fa {
                position: absolute;
                top: 10px;
                right: 5px;
                color: #aaa;
            }
        }

        .form-control {
            width: 107px;
            cursor: default; // not-allowed;
            //padding: 5px 8px;
            &, &:focus {
                box-shadow: none;
                border: 1px solid #ccc;
                background: rgba(251,249,249,1);
            }

        }

        border-right: 1px solid @condBorderColor;
        box-shadow: 0 5px 5px #ddd;

        button {
            margin-left: 5px;
        }
    }

    .date-expiry-ctn {
        right: 0;
        left: -162px;
        border-left: 1px solid @condBorderColor;
        border-right: none;
    }
}

.reset-date {

}

//--------

.check-ctn {
    margin-top: 45px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        .each-check {
            border-bottom: 1px solid #eee;
            margin: 0 10px;
            padding-left: 0;
            padding-right: 0;
            position: relative;
        }
        .each-check:last-child {
            border-bottom: none;
        }
    }
}

.each-check {
    padding: 5px 10px;
    cursor: pointer;
    .check-box {
        border: 1px solid #ccc;
        width: 15px;
        height: 15px;
        border-radius: 3px;
        color: @mainColor;
        position: absolute;
        i {
            position: absolute;
            left: 1px;
            top: 1px;
        }
    }
    &.sub-checked {
        .check-box i {
            left: 2px;
        }
    }

    .check-title {
      .no-select();
       margin-left: 20px;
    }

    &.check-ed {
        i:before {
            content: "\f00c";
        }
    }

    &.sub-checked {
        i:before {
            content: "\f068";
        }
    }
}

.check-total {
    border-top: 1px solid @condBorderColor;
    padding: 3px 0;
    background: #f9f9f9;
    button {
        margin-right: 3px;
        padding: 3px 20px;

        display: none;
    }
}

.check-search {
    position: relative;
    input {
        padding: 6px 10px;
        border: none;
        width: 100%;
        height: auto;
        margin-top: 3px;
        border-bottom: 1px solid @mainColor;
        border-radius: 0;
        background: none;
        padding-left: 0;
        &, &:focus, &:active {
            outline: 0;
            border-color: @mainColor;
            box-shadow: none;
        }
    }
    i {
        position: absolute;
        right: 0;
        top: 0;
        //background: @btnBg;
        color: #fff;
        padding: 5px;
        color: #fff;
        color: #cc9933;
        font-size: 18px;
    }
}

//----------
.search-key {
    color: #cc9933;
    display: inline-block;
    max-width: 610px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.key-header {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    margin: 10px 0;
    border: 1px solid @condBorderColor;
}

.filter-key {
    border: 1px solid @condBorderColor;
    //width: 746px;
    //border-right: none;
    margin-top: 10px;

    .key-header-all {
        //border-top: 1px solid @condBorderColor;
    }
    .key-body {
        //border-top: 1px solid @condBorderColor;
        //padding: 0 20px;
        &.no-border {
            border-top: none;
        }
    }

    table {
        width: 100%;
    }
    .td-label {
        border-right: 1px solid @condBorderColor;
        padding-left: 18px;
        width: 88px;
    }
    .td-inputs-1 {
        //width: 328px;
        width: 44%;
    }
    .td-inputs-header {
        background: #f8f7f7;
    }
    .td-inputs-1 {
        border-right: 1px solid @condBorderColor;
    }
    .td-inputs {
      padding-left: 10px;
    }
    td {
        border-bottom: 1px solid @condBorderColor;
        //border-right: 1px solid @condBorderColor;
    }

    .t-header {
      height: 45px;
      .td-inputs {
        text-align: center;
      }
    }

    .key-cnt {

        input {
            display: inline-block;
            width: 60px;
            // margin-right: 54px;
            margin-top: -3px;
            font-size: 12px;
            padding: 0;
            padding-left: 3px;
            height: 24px;
            &, &:focus, &:active {
                border: none;
                border-bottom: 1px solid #cc9933;
                border-radius: 0;
                box-shadow: none;
            }
        }

        //margin-left: 70px;
        //margin-right: 100px;
        ul {
            min-height: 40px;
            list-style: none;
            margin: 0;
            padding: 0;
            //width: 50%;
            //display: inline-block;
            li {
                float: left;
                // line-height: 45px;
                border: 1px solid #edecec;
                padding: 2px 8px;
                margin-top: 10px;
                margin-bottom: 5px;
                margin-right: 10px;
                i {
                    color: #ccc;
                    display: inline-block;
                    padding: 0 3px;
                    cursor: pointer;
                    &:hover {
                        color: #000;
                    }
                }
            }

            .key-input-ctn {
                border: none;
                padding-left: 0;
            }
        }
    }
    .key-label {
        position: absolute;
        left: 0;
        line-height: 45px;
    }
    .key-btn {
        // line-height: 45px;
        position: absolute;
        right: 0;
        top: 8px;

        button {
            position: absolute;
            right: 0;
            top: 0;
            //background: none;
            //color: @mainColor;
            //padding: 2px 10px;
        }
    }

    .each-key {
        position: relative;
        min-height: 45px;
        border-bottom: 1px solid #eee;


    }
}

.key-footer {
    text-align: center;
    margin: 10px 0;

    .btn-cancel {
        margin-left: 10px;
    }
}

.btn-filter {
    position: absolute;
    left: 2px;
    top: 8px;
    left: 10px;

    // 为了和清空一样宽, 恶心
    width: 66px;
    padding: 3px 15px;
}

.btn-reset {
    position: absolute;
    right: 10px;
    top: 8px;
}
//
//.reset-date {
//    width: 25px;
//    padding: 3px 0 !important;
//    margin-left: 0 !important;
//}


#check1 .check-ctn {
    margin-right: -73px;
    background: #fff;
    box-shadow: 1px 3px 5px #ddd;
}

// kt

.kt-content {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  h1, h2, h3 {
    display: none !important;
  }
}
.kt-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.kt-video {
  height: 360px;
}
.each-item .kt-more {
  margin-left: 0;
}