// 底部样式
footer {
    font-size: 12px;
    padding: 20px 0;
    background: rgba(79,83,91,1);
    &, a {
        color: #ccc;
    }
    text-align: center;

    .links {
        a {
            display: inline-block;
            padding: 0 10px;
            border-left: 1px solid #ccc;
            &:hover, &:focus {
                color: @mainColor;
            }
        }

        a:first-child {
            border: none;
        }
        margin-bottom: 10px;
    }
}

.header-style2 {
    .show-xiaoi {
        display: none;
    }
}