// 头部样式
@import url('./chat.less');
@import url('./search.less');
//@import url('icon/iconfont.css');
@import url('inhope-icon/style.css');

header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
    //border-bottom: 1px solid #eee;
}
.top-margin {
    height: 110px;
}

.top-banner {
    background: @topBannerColor;
    height: @topBannerHeight;
    line-height: @topBannerHeight;

    font-size: 12px;

    &, a {
        color: #666;
    }

    .welcome {
        margin-right: 20px;
    }

    .splitter {
        display: inline-block;
        margin: 0 10px;
        color: #ccc;
    }

    .username {
        color: @mainColor;
    }
}

.logo-search {
    padding: 10px 0;
}

.logo-ctn {
    img {
        height: 50px;
    }
}

// 导航
nav {
    @navHeight: 53px;
    background: #575757;
    height: @navHeight;
    line-height: @navHeight;
    &, a {
        color: #fff;
    }
    ul {
        list-style: none;
    }
    li {
        display: inline-block;
        // width: 25%;
        text-align: center;
        &.active, &.active:hover, &.active:focus {
            background: #e49959;
            a, a:hover, a:focus {
                color: #fff;
                text-decoration: none;
            }
        }
        a:focus {
            text-decoration: none;
            color: @mainColor;
        }
        &:hover, &:focus, &:active {
            a, a:focus {
                text-decoration: none;
                color: @mainColor;
            }
        }
    }
    a {
        display: block;
    }
}

// 注册页面不需要/找回密码
.header-style2 {
    nav
    //,
    //.search-ctn
    {
        display: none;
    }
    header {
        border-bottom: 1px solid #e5e5e5;
    }
}

.nav-no-active {
    nav li.active {
        background: none;
        &:hover {
            a {
                color: @mainColor;
            }
        }
    }
    //nav li:hover {
    //    background: #e49959;
    //}
}