// 法规/案例/问答 列表样式
// 列表和收藏页共用

@import url('./pagination.less');

.right-container {
    padding-right: 0;
}

.content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.each-item {
    border: 1px solid #e5e5e5;
    margin: 10px 0;
    padding: 15px;
    font-size: 12px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }

    // 标题
    .item-title {
        font-size: 18px;
        //font-weight: bold;
        margin: 0;
        margin-bottom: 10px;

        line-height: 1.3;

        &, a {
            color: #333;
        }
        a:hover {
            //font-weight: bold;
            color: @mainColor;
        }
    }
    // 标签
    .item-labels {
        margin: 10px 0;
        li {
            color: @mainColor;
            border: 1px solid @mainColor;
            border-radius: 30px;
            padding: 2px 10px;
            margin-right: 10px;
        }
    }

    .attrs {
        &, a, a:hover {
            color: #666;
        }
    }
    .attr-splitter {
        margin: 0 10px;
        color: #ccc;
    }

    .attr-items {
        span {
            display: inline-block;
        }
        .attr-item-splitter {
            color: #ccc;
            margin: 0 5px;
        }
    }

    // 问答样式...
    .qa-label {
        width: 30px;
        img {
            width: 85%;
        }
    }
    .qa-desc {
        font-size: 14px;
        color: #666;
        margin-left: 30px;
        margin-top: -32px;

        overflow : hidden;

        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;

        max-height: 58px;
        text-align: justify;
    }
    .qa-more {
        margin-left: 30px;
        margin-top: 5px;
        &, a {
            color: @mainColor;
            font-size: 14px;
        }
    }

    highlight {
        color: @mainColor;
    }
    .label-danger {
        font-size: 55%;
        font-weight: normal;
        display: inline-block;
        //margin-top: 1px;
        vertical-align: text-top;
        padding: 5px;
        background-color: #e49959;
    }

    &:hover {
        //background: #f8f7f7;// #f5f5f5;
        background: #f5f5f5;
    }
}

.each-qa {
    h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
}

.each-law {
    .qa-desc {
        margin: 0;
        margin-bottom: 10px;

        -webkit-line-clamp: 5 !important;
        line-clamp: 5 !important;
        max-height: 98px !important;
        text-align: justify;
    }

    .item-title {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
    .attrs {
        border-top: 1px solid #eee;
        padding-top: 10px;
    }
}

.each-item.law-expiry .item-title,
.each-item.law-expiry .item-title a,
.each-item.law-expiry .attrs, .each-item.law-expiry .attrs a
{
    color: #aaa;
}