// 分页

.list-pager {
    margin-bottom: 15px;
    //line-height: 36px;
    font-size: 12px;
}
.pagination {
    margin: 0;
}

.current.prev {
    display: none;
}

.current.next {
    display: none;
}


/*
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #f7f7f7;
}

.pagination>li>a, .pagination>li>span {
    margin: 1px;
    border: none;
    padding: 3px 8px;
}

// active
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #e1a269;
     //border-color: #e1a269;
    border: none;
}
*/