// 头部搜索样式

.search-form {
    box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
    margin-top: 6px;
    min-width: 437px;

    .search-btn {
        position: absolute;
        right: 10px;
        top: 9px;
        &,&:hover,&:active {
            border: none;
            background: transparent;
            outline: none;
        }
    }

    // 搜索小图标
    i {
        color: @mainColor;
        font-size: 18px;
    }
}
.search-input {
    font-size: 12px;
    padding: 6px 20px;
    padding-right: 25px;
    border-radius: 30px !important;
    box-shadow: inset 0 0 4px 0 rgba(0,0,0,.1);
    // -webkit-transform: translate3d(0,0,0);
    // -webkit-transition: .3s ease;
    // -moz-transition: .3s ease;
    // transition: .3s ease;

    background-clip: padding-box;
    width: 100%;
    height: auto;
    margin-top: 3px;
    border: 1px solid @mainColor;
    float: right;
    &:focus {
        outline: 0;
        border-color: @mainColor;
        box-shadow: none;
        // width: 100%;
    }
    outline: 0;
} 

// 市场热词
.hot-keys {
    margin-left: 19px;
    margin-top: 3px;
    &, a {
        color: #666;
    }
    font-size: 12px;
    .key-label {
        display: inline-block;
        // margin-right: 10px;
    }
    a {
        display: inline-block;
        margin-left: 10px;
    }

    // a:last-child {
    //     margin-right: 0;
    // }
}
