// 中间3个tab

@tabActiveColor: #f1b881;


.tab-filter-btn {
    margin-right: 0;
    margin-left: 0;
}

.count {
    display: inline-block;
    background: @tabActiveColor;
    color: #fff;
    padding: 0 3px;
    margin-left: 3px;
    font-size: 12px;
}

.nav>li>a {
    padding: 9px 15px;
    border-radius:0;
}
.nav-tabs>li>a {
    margin-right: -1px;
}
.nav-tabs {
    padding-right: 0;
    li {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        // position: relative;
    }
    a {
        span {
            font-size: 11px;
            position: relative;
            top: -2px;
            vertical-align: bottom;
        }
    }
    // li:first-child {
    //     padding-left: 0;
    // }

    border-bottom: 2px solid @tabActiveColor;
}

.nav-tabs>li>a:hover {
    color: #000;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: @tabActiveColor;
    border: 1px solid @tabActiveColor;

    color: #fff;
    .count {
        background: #fff;
        color: @mainColor;
    }
}

