
// 表单验证

.v-msg {
  .clearfix();
  display: none;
  font-size: 12px;

  color: #aaa;
  .msg-icon {
    float: left;
    //.iconfont();
    .inhopeIcon();
    font-size: 14px;
    &:before {
      content: "\e61f";
    }
  }
  .msg-text {
    float: left;
    margin-left: 3px;
    margin-top: 3px;
  }
}
.v-valid {
  .v-msg {
    display: none;
  }
}

.v-invalid {
  .v-msg {
    display: block;
  }

  // 强制所有非法信息显示
  &.v-force {
    .v-msg {
      display: block;
    }
  }

  /*
  &.v-focused {
    .v-msg {
      display: none;
    }
  }
  */

  &.v-modified {
    .v-msg {
      display: none;
    }
  }
}
