@font-face {
  font-family: 'inhope-icon';
  src:  url('fonts/inhope-icon.eot?em8070');
  src:  url('fonts/inhope-icon.eot?em8070#iefix') format('embedded-opentype'),
    url('fonts/inhope-icon.ttf?em8070') format('truetype'),
    url('fonts/inhope-icon.woff?em8070') format('woff'),
    url('fonts/inhope-icon.svg?em8070#inhope-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="inhope-icon-"], [class*=" inhope-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inhope-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inhope-icon-like:before {
  content: "\e603";
}
.inhope-icon-max-screen:before {
  content: "\e612";
}
.inhope-icon-min-screen:before {
  content: "\e613";
}
.inhope-icon-comment:before {
  content: "\e615";
}
.inhope-icon-x:before {
  content: "\e610";
}
.inhope-icon-info:before {
  content: "\e61f";
}
.inhope-icon-right:before {
  content: "\e65f";
}
.inhope-icon-out:before {
  content: "\e815";
}
.inhope-icon-share:before {
  content: "\e600";
}
.inhope-icon-user:before {
  content: "\e601";
}
.inhope-icon-print:before {
  content: "\e602";
}
.inhope-icon-link:before {
  content: "\e604";
}
.inhope-icon-users:before {
  content: "\e606";
}
.inhope-icon-q:before {
  content: "\e607";
}
.inhope-icon-a:before {
  content: "\e608";
}
.inhope-icon-nav:before {
  content: "\e609";
}
.inhope-icon-max-screen-2:before {
  content: "\e60a";
}
.inhope-icon-up:before {
  content: "\e60b";
}
.inhope-icon-password:before {
  content: "\e60d";
}
.inhope-icon-user-info:before {
  content: "\e60e";
}

