
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473072739'); /* IE9*/
  src: url('iconfont.eot?t=1473072739#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473072739') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473072739') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473072739#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-logout:before { content: "\e815"; }
.icon-weibiaoti1:before { content: "\e65f"; }
.icon-surecallusers:before { content: "\e637"; }
.icon-mingpian:before { content: "\e6b4"; }
.icon-suo:before { content: "\e662"; }
.icon-yonghu:before { content: "\f007c"; }
.icon-delete:before { content: "\e610"; }
.icon-warning:before { content: "\e61f"; }
.icon-shoucang-copy:before { content: "\e601"; }
.icon-zuidahua:before { content: "\e661"; }
.icon-zuixiaohua:before { content: "\e6aa"; }
.icon-comment:before { content: "\e626"; }
.icon-question:before { content: "\e642"; }
.icon-jiantou-copy:before { content: "\e6c3"; }
