<%@ page language="java" pageEncoding="UTF-8"%>
<!--左侧公告类别-->
<div class="cates">
	<div class="cate-header">
		<span>公告类别</span>
	</div>

	<div class="panel-group" id="accordion">

		<c:forEach var="scope" items="${scopes}" varStatus="status">

			<c:if test="${scope.name == '新三板'}">
				<div class="panel panel-default check-ctn" data-id="${scope.id}">
					<div class="panel-heading">
						<h4 class="panel-title clearfix">
							<div class="check-total pull-left clearfix">
								<div class="each-check clearfix pull-left">
									<div class="check-box pull-left"><i class="fa"></i></div>
								</div>
							</div>
							<a class="cate-title clearfix" data-toggle="collapse" data-parent="#accordion" href="#collapse10">
								<span class="pull-left">${scope.name}</span>
								<i class="fa fa-angle-down pull-right"></i>
							</a>
						</h4>
					</div>
					<div id="collapse10" class="panel-collapse collapse <c:if test="${scope.id == scopeId}">in</c:if>">
						<div class="panel-body">

							<div class=" no-select">
								<div class="check-search">
									<input type="text" class="form-control" placeholder="搜索分类名">
									<i class="fa fa-search"></i>
								</div>
								<ul class="">

									<li class="each-check clearfix" data-id="1">
										<div class="check-box pull-left"><i class="fa"></i></div>
										<div class="check-title pull-left">全部分类</div>
									</li>

								</ul>
								<div class="check-total clearfix">
									<div class="each-check clearfix pull-left">
										<div class="check-box pull-left"><i class="fa"></i></div> <div class="check-title  pull-left">全选</div>
									</div>
									<button class="btn btn-default btn-sm btn-filter-common pull-right">确定</button>
								</div>
							</div>

						</div>
					</div>
				</div>
            </c:if>

			<!-- 就是不要新三板 -->
			<c:if test="${scope.name != '新三板'}">

			<div class="panel panel-default check-ctn" data-id="${scope.id}">
				<div class="panel-heading">
					<h4 class="panel-title clearfix">
						<div class="check-total pull-left clearfix">
							<div class="each-check clearfix pull-left">
								<div class="check-box pull-left"><i class="fa"></i></div>
							</div>
						</div>
						<a class="cate-title clearfix"
						   data-toggle="collapse" data-parent="#accordion" href="#collapse${status.index}">
							<span class="pull-left">${scope.name}</span>
							<i class="fa fa-angle-down pull-right"></i>
						</a>
					</h4>
				</div>
				<div id="collapse${status.index}" class="panel-collapse collapse <c:if test="${scope.id == scopeId}">in</c:if>">
					<div class="panel-body">

						<div class=" no-select">
							<div class="check-search">
								<input type="text" class="form-control" placeholder="搜索分类名">
								<i class="fa fa-search"></i>
							</div>
							<ul class="">

                                <c:forEach var="item" items="${scope.childAttributes}" varStatus="statusChildren">
									<li class="each-check clearfix" data-id="${item.id}">
										<div class="check-box pull-left"><i class="fa"></i></div>
										<div class="check-title pull-left">${item.name}</div>
									</li>
								</c:forEach>

							</ul>
							<div class="check-total clearfix">
								<div class="each-check clearfix pull-left">
									<div class="check-box pull-left"><i class="fa"></i></div> <div class="check-title  pull-left">全选</div>
								</div>
								<button class="btn btn-default btn-sm btn-filter-common pull-right">确定</button>
							</div>
						</div>

					</div>
				</div>
			</div>

            </c:if>

		</c:forEach>


	</div>
</div>