<%@ page language="java" pageEncoding="UTF-8"%>
<!-- 案例列表 -->

<ul class="content-list">

<li class="each-item each-law">
    <h2 class="item-title"><a>深交所《关于规范上市公司筹划非公开发行股份停复牌及相关事项的通知》（2014年）</a></h2>
    <ul class="item-labels">
        <li>股权型再融资</li>
        <li>股权型</li>
    </ul>
    <div class="attrs clearfix">
        <div class="attr-items pull-left"><span>上海证券交易所</span><span class="attr-item-splitter">/</span><span class="">深圳市场交易所</span></div>
        <span class="attr-splitter pull-left">|</span>
        <span class="attr-date pull-left">2012年12月1日</span>
        <span class="attr-splitter pull-left">|</span>
        <span class="attr-effective pull-left">生效</span>
        <span class="attr-splitter pull-left">|</span>
        <div class="attr-items pull-left">
            <span>上海证券交易所</span><span class="attr-item-splitter">/</span><span class="">深圳市场交易所</span>
        </div>
    </div>
</li>

<li class="each-item each-law">
    <h2 class="item-title"><a>2深交所《关于规范上市公司筹划非公开发行股份停复牌及相关事项的通知》（2014年）</a></h2>
    <ul class="item-labels">
        <li>股权型再融资</li>
        <li>股权型</li>
    </ul>
    <div class="attrs clearfix">
        <div class="attr-items pull-left"><span>上海证券交易所</span><span class="attr-item-splitter">/</span><span class="">深圳市场交易所</span></div>
        <span class="attr-splitter pull-left">|</span>
        <span class="attr-date pull-left">2012年12月1日</span>
        <span class="attr-splitter pull-left">|</span>
        <span class="attr-effective pull-left">生效</span>
        <span class="attr-splitter pull-left">|</span>
        <div class="attr-items pull-left">
            <span>上海证券交易所</span><span class="attr-item-splitter">/</span><span class="">深圳市场交易所</span>
        </div>
    </div>
</li>


</ul>
