<%@ page language="java" pageEncoding="UTF-8"%>

<!-- 右侧 -->
<div class="chat-right">
    <div class="chat-icons">
        <a id="xiaoi-btn" class="chat-icon" title="小安问答"><span></span></a>
        <a id="support-btn" class="support-icon" title="支持"><span class="iconfont icon-surecallusers"></span></a>
        <a title="关闭" class="close-support hidden"><span><i class="iconfont icon-delete"></i></span></a>
    </div>
</div>

<div class="chat-ctn fade">
    <a class="chat-out"><span class="iconfont icon-logout"></span></a>
    <div class="chat">
        <div class="chat-inner">
            <div class="chat-list">
                  <div class="chat-content clearfix">
                      <div class="face xiaoi"><span></span></div>
                      <div class="message">
                          您好，请问需要什么帮助？
                          您好，请问需要什么帮助？
                          您好，请问需要什么帮助？
                          您好，请问需要什么帮助？
                          您好，请问需要什么帮助？<br>
                          您好，请问需要什么帮助？<br>
                          您好，请问需要什么帮助？<br>
                          您好，请问需要什么帮助？<br>
                          您好，请问需要什么帮助？<br>
                          您好，请问需要什么帮助？<br>
                          <div class="pull-left chat-time">12:03</div>
                      </div>
                  </div>

                <div class="chat-content chat-asker clearfix">
                    <div class="face">FE</div>
                    <div class="message">
                        上市公司股东减持是否需要预披露
                        <div class="pull-left chat-time">12:03</div>
                    </div>
                </div>

                <div class="chat-content clearfix">
                    <div class="face xiaoi"><span></span></div>
                    <div class="message">
                        您好，请问需要什么帮助？
                        您好，请问需要什么帮助？<br>
                        您好，请问需要什么帮助？<br>
                        您好，请问需要什么帮助？<br>
                        您好，请问需要什么帮助？<br>
                        <div class="pull-left chat-time">12:03</div>
                    </div>
                </div>

                <div class="chat-content chat-asker clearfix">
                    <div class="face">FE</div>
                    <div class="message">
                        上市公司股东减持是否需要预披露2
                        <div class="pull-left chat-time">12:03</div>
                    </div>
                </div>

                <div class="chat-content clearfix">
                    <div class="face xiaoi"><span></span></div>
                    <div class="message">
                        您好，请问需要什么帮助？
                        <div class="pull-left chat-time">12:03</div>
                    </div>
                </div>

            </div>

            <div class="chat-input-ctn">
                <div class="chat-cate-wrap">

                    <div class="each-cond cate-select">
                        <div class="cond-title">
                            <div>
                                <span class="cate-selected">沪市主板</span><i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="cond-expand">
                            <div class="check-ctn no-select">
                                <ul class="">
                                    <li class="each-check clearfix" data-id="1">
                                        深市主板
                                    </li>
                                    <li class="each-check clearfix" data-id="2">
                                        沪市主板
                                    </li>
                                    <li class="each-check clearfix" data-id="3">
                                        深市中心板
                                    </li>
                                    <li class="each-check clearfix" data-id="4">
                                        深市新板
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-input-wrap">
                    <textarea id="chat-input" placeholder="输入你想知道的内容"></textarea>
                    <button class="btn btn-default">发送</button>
                </div>
            </div>
       </div>
    </div>
</div>
<div class="support-ctn">
    <h3>客户支持</h3>
    <p>
        <span class="help">帮帮我 &nbsp; 小安</span>
        &nbsp;&nbsp;&nbsp;&nbsp;我们知道在这您遇到问题，请不要心急，尽量详细地描述您遇到的问题，我们的客服人员将尽快与您联系!
    </p>
    <div class="form-ctn">
        <div class="form-group input-list">
            <label for="userNameI">姓名</label>
            <input type="text" class="form-control" id="userNameI" placeholder="您的姓名">
            <div style="clear:both;"></div>
        </div>

        <div class="form-group input-list">
            <label for="emailI">邮箱</label>
            <input type="email" class="form-control" id="emailI" placeholder="Email">
            <span class="tip ti1 "><span>!</span>请输入正确的邮箱</span>
            <div style="clear:both;"></div>

        </div>

        <div class="form-group input-list">
            <label for="mobileI">电话</label>
            <input type="text" class="form-control" id="mobileI" placeholder="您的电话">
            <span class="tip ti2 "><span>!</span>请输入您的手机号</span>
            <div style="clear:both;"></div>
        </div>

        <div class="form-hr"></div>
        <div class="form-group text-area">
            <label for="contentI">您的问题是</label>
            <textarea id="contentI" class="form-control" placeholder="请描述您的问题"></textarea>
            <div style="clear:both;"></div>
            <a class="hei"><span class="tip ti3 "><span>!</span>请仔细描述您的问题</span></a>
            <div class="file-input pr">
                <div class="fileName"></div>
                <a class="add-file pa"><i class="fa fa-paperclip" aria-hidden="true"></i>添加附件</a>
                <input type="file" name="file" id="fileInput">
            </div>
        </div>
        <div style="clear:both;"></div>
        <button class="btn btn-default submitI" id="support-btnI">提交</button>
    </div>
</div>

<script src="/js/xiaoi.js?i=32"></script>
