<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<c:if test="${user != null}">

<!-- 右侧
<div class="chat-right">
    <div class="chat-icons">
        <a id="support-btn" class="support-icon" title="支持">
            <span class="inhope-icon-users"></span>
        </a>
    </div>
</div>
-->

<!-- 通用 -->
<button class="xiaoi-btn show-xiaoi" data-color="#232631"><img class="xiaoi-logo-i" src="/images/xiaoi.png" style="height: 40px;">
    <!--
    <div class="popover top" style="display: block;color:#000;width: 157px;    margin-top: -103px;
    margin-left: -24px;">
        <div class="arrow"></div>
        <h3 class="popover-title">信公小安</h3>
        <div class="popover-content">
            <p>有什么可以帮到您?</p>
        </div>
    </div>
    -->
    <div class="xiaoi-cloud">
    <img src="/images/cloud3.png" style="
        position: absolute;
    left: -62px;
    top: -148px;
    width: 165px;">
    <p style="   position: absolute;
    color: #63696d;
    left: -12px;
    top: -83px;">有什么可以帮到您?</p>
    </div>

    <div class="xiaoi-text">信公小安</div>
</button>
<!--<canvas id="c" style="width: 1257px; height: 399px; z-index: 1000; position: fixed; bottom: 0; right: 0;"></canvas>-->

<!--圆形动画-->
<div class="xiaoi-mask"></div>

<!--
<button class="xiaoi-btn show-xiaoi"><img src="/images/xiaoi.png" style="height: 100%;"></button>
-->
<div class="chat-ctn fadeup"> <!-- fade -->
    <a class="chat-out" title="关闭(ESC)">
        <!--<span class="iconfont icon-logout"></span>-->
        <span class="inhope-icon-out"></span>
    </a>
    <div class="chat">
        <div class="chat-inner">
            <div class="chat-list" id="chat-list"></div>

            <div class="chat-input-ctn">
                <div class="chat-cate-wrap">

                    <div class="each-cond cate-select">
                        <div class="cond-title">
                            <div>
                                <span class="cate-selected"></span><i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="cond-expand">
                            <div class="check-ctn no-select">
                                <ul class="scope-ul">
                                    <c:forEach var="scope" items="${scopes}" varStatus="status">
                                        <li class="each-check clearfix" data-id="${scope.id}">
                                            ${scope.name}
                                        </li>
                                    </c:forEach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-input-wrap">
                    <textarea id="chat-input" placeholder="输入你想知道的内容"></textarea>
                    <button class="btn btn-default btn-style-1" id="ask-btn" style="background-color: rgb(232, 156, 83);padding: 10px 35px;">发送</button>
                </div>
            </div>
       </div>
    </div>
</div>
<div class="support-ctn">
    <h3>客户支持<span class="support-x inhope-icon-x" title="关闭"></span></h3>
    <p>
        <span class="help">帮帮我 &nbsp; 小安</span>
        &nbsp;&nbsp;&nbsp;&nbsp;我们知道在这您遇到问题，请不要心急，尽量详细地描述您遇到的问题，我们的客服人员将尽快与您联系!
    </p>
    <div class="form-ctn">

        <form class="form-horizontal support-form" id="support-form">
            <div class="form-group v-e-ctn">
                <label for="userNameI" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control support-input" id="userNameI" placeholder="您的姓名"
                           v-rules="[{rule: 'required', msg:'请填写您的姓名'}]"
                           value="${user.realName}"
                    >
                    <div class="v-msg"></div>
                </div>
            </div>

            <div class="form-group v-e-ctn">
                <label for="emailI" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control support-input" id="emailI" placeholder="邮箱"
                           v-rules="[{rule: 'required', msg:'请填写邮箱'}, {rule:'email'}]"

                           value="${user.email}"
                    >
                    <div class="v-msg"></div>
                </div>
            </div>

            <div class="form-group v-e-ctn">
                <label for="mobileI" class="col-sm-2 control-label">手机</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control support-input" id="mobileI" placeholder="您的手机"
                           v-rules="[{rule: 'required', msg:'请填写手机号码'}, {rule:'mobile'}]"

                           value="${user.mobile}"
                    >

                    <div class="v-msg"></div>
                </div>
            </div>


            <div class="form-group v-e-ctn textarea-ctn">
                <label for="contentI" class="col-sm-2 control-label">问题</label>

                <div class="col-sm-10 content-box">
                    <textarea id="contentI" class="form-control" placeholder="请描述您的问题"
                              v-rules="[{rule: 'required', msg:'请描述您的问题'}]"
                    ></textarea>
                    <div class="v-msg"></div>
                </div>

            </div>

            <div class="form-group file-ctn">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10 file-input">
                    <div class="fileName"></div>
                    <a class="add-file pa"><i class="fa fa-paperclip" aria-hidden="true"></i>添加附件</a>
                    <input type="file" name="file" id="fileInput">
                </div>
            </div>

            <div class="form-group submit-ctn">
                <label class="col-sm-2 control-label"></label>

                <div class="col-sm-10 ">
                    <button data-loading-text="正在提交..." class="btn btn-default submitI" id="support-btn-submit">提交</button>
                </div>
            </div>

        </form>

    </div>
</div>

<script src="/js/xiaoi.js?i=32"></script>

</c:if>
