<%@ page language="java" pageEncoding="UTF-8"%>

<!--评论模块-->

<div class="container discuss-wrap">
	<div class="col-md-9">
        <div class="content1">
            <h2>您的评论</h2>
            <textarea name="txt" class="form-control txt" placeholder="写下您的评论~"></textarea>
            <button class="btn btn-default" id="discuss" data-loading-text="正在提交">评论</button>
        </div>
        <div style="clear: both;"></div>
        <div class="content2">
            <h2>用户评论（<span id="num"></span>）</h2>
            <ul class="list">
            </ul>
            <div id="pagination" class="pagination"><!-- 这里显示分页 --></div>
            <div id="hiddenresult" style="display:none;">
                <!-- 列表元素 -->
            </div>
        </div>
    </div>
</div>
<script src="/libs/jquery.pagination.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/comment.js?i=32" type="text/javascript" charset="utf-8"></script>
