<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>

<div class="filter">
	<div class="filter-conds clearfix">
		<div class="pull-left conds-title">筛选条件</div>
		<div class="cond-ctn clearfix">
			<div class="each-cond col-xs-3" id="check1">
				<div class="cond-title">
					<div class="check-total">
						<div class="each-check">
							<div class="check-box"><i class="fa"></i></div>
						</div>
					</div>

                    <span>
                        发文单位 <i class="fa fa-angle-down"></i>
                    </span>
				</div>
				<div class="cond-expand">
					<div class="check-ctn no-select">
						<!-- <div class="check-search">
                            <input type="text" class="form-control" placeholder="搜索分类名">
                            <i class="fa fa-search"></i>
                        </div> -->

						<ul class="" style="max-height: 200px; overflow-y: scroll">
							<c:forEach var="item" items="${units}" varStatus="status">
							<li class="each-check clearfix" data-id="${item.id}">
								<div class="check-box pull-left"><i class="fa"></i></div>
								<div class="check-title pull-left">${item.name}</div>
							</li>
                            </c:forEach>
						</ul>

						<div class="check-total clearfix">
							<div class="each-check clearfix pull-left">
								<div class="check-box pull-left"><i class="fa"></i></div> <div class="check-title  pull-left">全选</div>
							</div>
							<button class="btn btn-default btn-style-1 pull-right">确定</button>
						</div>
					</div>
				</div>
			</div>
			<div class="each-cond col-xs-3" id="check2">
				<div class="cond-title ">

					<div class="check-total">
						<div class="each-check">
                            <div class="check-box"><i class="fa"></i></div>
                        </div>
                    </div>

                    <span>
                        时效性 <i class="fa fa-angle-down"></i>
                    </span>
				</div>
				<div class="cond-expand">
					<div class="check-ctn no-select">
						<!-- <div class="check-search">
                            <input type="text" class="form-control" placeholder="搜索分类名">
                            <i class="fa fa-search"></i>
                        </div> -->
						<ul class="">

							<c:forEach var="item" items="${timeliness}" varStatus="status">
								<li class="each-check clearfix" data-id="${item.id}">
									<div class="check-box pull-left"><i class="fa"></i></div>
									<div class="check-title pull-left">${item.name}</div>
								</li>
							</c:forEach>

						</ul>
						<div class="check-total clearfix">
							<div class="each-check clearfix pull-left">
								<div class="check-box pull-left"><i class="fa"></i></div> <div class="check-title  pull-left">全选</div>
							</div>
							<button class="btn btn-default btn-style-1 pull-right">确定</button>
						</div>
					</div>
				</div>
			</div>

			<div class="each-cond date-cond col-xs-3">
				<div class="cond-title">
					<div class="check-total">
						<div class="each-check" id="date-check">
							<div class="check-box"><i class="fa"></i></div>
						</div>
					</div>
					<span>发布日期 <i class="fa fa-angle-down"></i></span>
				</div>
				<div class="cond-expand date-expand">
					<div class="date-ctn">
						<div class="form-inline">
							<div class="form-group">
								<input id="effect-start" type="text" class="form-control"
									   <c:if test="${searchInfo.releaseStart != null}">
										value="<fmt:formatDate value="${searchInfo.releaseStart}" pattern="yyyy-MM-dd" />"
                                       </c:if>
									   placeholder="开始日期" onFocus="WdatePicker({onpicked:function(){window.onpicked()}, maxDate:'#F{$dp.$D(\'effect-end\')||\'2020-10-01\'}'})">
								<i class="fa fa-calendar"></i>
							</div>
							<div class="form-group">
								<label for="effect-end">到</label>
								<input id="effect-end" type="text"class="form-control"
                                        <c:if test="${searchInfo.releaseEnd != null}">
                                            value="<fmt:formatDate value="${searchInfo.releaseEnd}" pattern="yyyy-MM-dd" />"
                                        </c:if>
									   placeholder="结束日期"
									   onFocus="WdatePicker({onpicked:function(){window.onpicked()}, minDate:'#F{$dp.$D(\'effect-start\')}',maxDate:'2020-10-01'})"
								>
								<i class="fa fa-calendar"></i>
							</div>
							<button type="submit" class="btn btn-default btn-style-1 date-submit">确定</button>
							<!--<button class="btn btn-default btn-style-2 reset-date" title="清除日期"><i class="fa fa-times-circle"></i></button>-->
						</div>
					</div>
				</div>
			</div>

			<div class="each-cond date-cond col-xs-3">
				<button class="btn btn-default btn-style-1 btn-filter">高级 <i class="fa fa-angle-down"></i></button>
				<button class="btn btn-default btn-style-2 btn-reset" id="reset-btn">清空</button>
            </div>

		</div>
	</div>

	<c:if test="${searchInfo.key != null}">
		<div class="key-header clearfix">
			<span class="pull-left">全局搜索"</span><span class="search-key">${searchInfo.key}</span><span class="pull-left">"的结果</span>
		</div>
	</c:if>


	<div class="filter-key">

		<div class="key-body <c:if test="${searchInfo.key == null}">no-border</c:if>">

			<table>
				<tr class="t-header">
					<td class="td-label">高级筛选</td>
					<td class="td-inputs td-inputs-header td-inputs-1">
						标题
					</td>
					<td class="td-inputs td-inputs-header td-inputs-2">
						正文
					</td>
				</tr>
				<tr>
					<td class="td-label">必须包含:</td>
					<td class="td-inputs td-inputs-1">
						<div class="key-cnt" id="must-key">
                            <ul class="clearfix">
                                <c:forEach var="item" items="${searchInfo.titleIncludesArr}" varStatus="status">
                                    <li class="key-val-ctn"><span>${item}</span><i class="fa fa-remove"></i></li>
                                </c:forEach>
                                <li class="key-input-ctn clearfix ">
                                    <input class="form-control pull-left key-input" id="title-include-input" placeholder="关键词">
                                </li>
                            </ul>
                        </div>
					</td>
					<td class="td-inputs td-inputs-2">
						<div class="key-cnt" id="must-key-content">
						<ul class="clearfix">
							<c:forEach var="item" items="${searchInfo.contentIncludesArr}" varStatus="status">
								<li class="key-val-ctn"><span>${item}</span><i class="fa fa-remove"></i></li>
							</c:forEach>
							<li class="key-input-ctn clearfix ">
								<input class="form-control pull-left key-input" placeholder="关键词">
							</li>
						</ul>
                        </div>
					</td>
				</tr>

				<tr>
					<td class="td-label">不包含:</td>
					<td class="td-inputs td-inputs-1">
						<div class="key-cnt" id="not-key">
							<ul class="clearfix">
								<c:forEach var="item" items="${searchInfo.titleExcludesArr}" varStatus="status">
									<li class="key-val-ctn"><span>${item}</span><i class="fa fa-remove"></i></li>
								</c:forEach>
								<li class="key-input-ctn clearfix ">
									<input class="form-control pull-left key-input" placeholder="关键词">
								</li>
							</ul>
						</div>
					</td>
					<td class="td-inputs td-inputs-2">
						<div class="key-cnt" id="not-key-content">
							<ul class="clearfix">
								<c:forEach var="item" items="${searchInfo.contentExcludesArr}" varStatus="status">
									<li class="key-val-ctn"><span>${item}</span><i class="fa fa-remove"></i></li>
								</c:forEach>
								<li class="key-input-ctn clearfix ">
									<input class="form-control pull-left key-input" placeholder="关键词">
								</li>
							</ul>
						</div>
					</td>
				</tr>

				<tr>
					<td class="td-label">可能包含:</td>
					<td class="td-inputs td-inputs-1">
						<div class="key-cnt" id="maybe-key">
							<ul class="clearfix">
								<c:forEach var="item" items="${searchInfo.titleMaybeIncludesArr}" varStatus="status">
									<li class="key-val-ctn"><span>${item}</span><i class="fa fa-remove"></i></li>
								</c:forEach>

								<li class="key-input-ctn clearfix ">
									<input class="form-control pull-left key-input" placeholder="关键词">
								</li>
							</ul>
						</div>
					</td>
					<td class="td-inputs td-inputs-2">
						<div class="key-cnt" id="maybe-key-content">
							<ul class="clearfix">
								<c:forEach var="item" items="${searchInfo.contentMaybeIncludesArr}" varStatus="status">
									<li class="key-val-ctn"><span>${item}</span><i class="fa fa-remove"></i></li>
								</c:forEach>

								<li class="key-input-ctn clearfix ">
									<input class="form-control pull-left key-input" placeholder="关键词">
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</table>

		</div>

		<div class="key-footer">
			<button id="key-submit" class="btn btn-default btn-style-1">确定</button>
			<button id="key-cancel" class="btn btn-default btn-style-2 btn-cancel">取消</button>
		</div>
	</div>
</div>


