<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ include file="./chat.html" %>

<footer>
     <div class="links">
         <a target="_blank" href="http://www.in-hope.cn/frontend/web/index.php/site/about">联系我们</a>

         <c:if test="${user != null}">
         <a class="show-xiaoi">常见问题</a>
         </c:if>

         <a target="_blank" href="/policy">用户协议</a>
         <a target="_blank" href="/privacy">隐私条款</a>

         <c:if test="${user != null}">
         <a class="footer-support">客户支持</a>
         </c:if>
    </div>
    <div class="copyright">
        Copyright All Right Reserved © 2016 沪ICP备13013005号-2
    </div>
</footer>

<!--<iframe src="/authTest" class="hide"></iframe>-->

<link href="/style/jquery.autocomplete.css?i=32" rel="stylesheet">
<script src="/libs/autocomplete/jquery.autocomplete.js?i=32"></script>
<script src="/js/autocomplete.js"></script>

<%@ include file="./stat.html" %>

