<%@ page language="java" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/images/favicon.ico">

<title>${TITLE}</title>
<!-- 一些公用的css -->
<link href="/libs/bootstrap.min.css?i=1" rel="stylesheet">
<link href="/libs/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="/libs/jquery-1.9.0.min.js"></script>
<script src="/libs/bootstrap.min.js"></script>
<script src="/js/common.js?i=32"></script>
</head>