<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>

<!-- 法规列表 -->
<script src="http://imgcache.qq.com/tencentvideo_v1/tvp/js/tvp.player_v2_jq.js"></script>

<ul class="content-list">

    <c:forEach var="item" items="${rets}" varStatus="status">


<li class="each-item each-law <c:if test="${item.expiry}">law-expiry</c:if>">
    <h2 class="item-title kt-title">
        <a target="_blank"
            href="/kt?id=${item.id}"
        >${item.highlightName}</a>

            <c:if test="${item.news}">
            <span class="label label-danger">New</span>
            </c:if>
    </h2>

    <div class="kt-video" id="kt-${item.answer}" data-id="${item.answer}">

    </div>

    <div class="attrs kt-content clearfix">
        ${item.content}
    </div>

    <div class="qa-more kt-more"><a href="/kt?id=${item.id}">阅读详情</a></div>

    </li>

    </c:forEach>

</ul>
