<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>

<!-- 法规列表 -->
<script src="http://imgcache.qq.com/tencentvideo_v1/tvp/js/tvp.player_v2_jq.js"></script>

<ul class="content-list">

    <c:forEach var="item" items="${rets}" varStatus="status">

        <li class="each-item each-law row <c:if test="${item.data.expiry}">law-expiry</c:if>">

        <div class="col-md-10 each-item-left">

            <h2 class="item-title kt-title">
                <a target="_blank"
                   href="/kt?id=${item.data.id}"
                >${item.data.highlightName}</a>

                <c:if test="${item.data.news}">
                    <span class="label label-danger">New</span>
                </c:if>
            </h2>

            <div class="kt-video" id="kt-${item.data.answer}" data-id="${item.data.answer}"></div>

            <div class="attrs kt-content clearfix">
                ${item.data.content}
            </div>

            <div class="qa-more kt-more"><a href="/kt?id=${item.data.id}">阅读详情</a></div>

        </div>

        <div class="col-md-2 each-item-right">
            <!--<div class="each-item-left-ctn">-->
            <table>
                <tr><td>
                    <button data-ref-id="${item.data.id}" data-type="${pageInfo.type}"  class="btn btn-default btn-style-2 btn-cancel">取消收藏</button>
                </td></tr>
            </table>
            <!--</div>-->
        </div>


        </li>

    </c:forEach>

</ul>
