<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>
<!-- 法规列表 -->

<ul class="content-list">

<c:forEach var="item" items="${rets}" varStatus="status">
        
<li class="each-item each-law row <c:if test="${item.data.expiry}">law-expiry</c:if>">

    <div class="col-md-10 each-item-left">

        <h2 class="item-title">
            <a target="_blank" title="${item.data.name}"
            <c:if test="${item.data.type == 1}">
                href="/law?id=${item.data.id}"
            </c:if>
            <c:if test="${item.data.type == 2}">
                href="/case?id=${item.data.id}"
            </c:if>
            >${item.data.name}</a>
        </h2>

        <c:if test="${item.data.labels != null and item.data.labels.size() > 0}">
            <ul class="item-labels">
                <c:forEach var="label" items="${item.data.labels}">
                    <li>${label}></li>
                </c:forEach>
            </ul>
        </c:if>

        <div class="qa-desc">
            ${item.data.answer}
        </div>

        <div class="attrs clearfix">

            <c:if test="${item.data.type == 1}">

            <!-- 发文单位 -->
            <c:if test="${item.data.units != null and item.data.units.size() > 0}">
                <div class="attr-items pull-left">
                    <c:forEach var="unit" items="${item.data.units}" varStatus="unitStatus">
                        <a href="/?unitIds=${unit.id}">${unit.name}</a>
                        <c:if test="${unitStatus.last == false}">
                            <span class="attr-item-splitter">/</span>
                        </c:if>
                    </c:forEach>
                </div>
                <span class="attr-splitter pull-left">|</span>
            </c:if>

            <!-- 生效时间 -->
            <c:if test="${item.data.effectDate != null}">
                <span class="attr-date pull-left"><fmt:formatDate value="${item.data.effectDate}" pattern="yyyy年MM月dd日" /></span>
                <span class="attr-splitter pull-left">|</span>
            </c:if>

            <!-- 生效 -->
            <c:if test="${item.data.timeliness != null and item.data.timeliness.size() > 0}">
                <div class="attr-effective pull-left">
                    <c:forEach var="time" items="${item.data.timeliness}" varStatus="timeStatus">
                        ${time.name}</a>
                        <c:if test="${timeStatus.last == false}">
                            <span class="attr-item-splitter">/</span>
                        </c:if>
                    </c:forEach>
                </div>
            </c:if>

            </c:if>

            <c:if test="${item.data.type == 2}">
                <span class="attr-date pull-left"><fmt:formatDate value="${item.data.releaseDate}" pattern="yyyy年MM月dd日" /></span>
            </c:if>

            <!-- 适用范围 -->
            <c:if test="${item.data.scopes != null and item.data.scopes.size() > 0}">
                <span class="attr-splitter pull-left">|</span>
                <div class="attr-items pull-left">
                    <c:forEach var="scope" items="${item.data.scopes}" varStatus="scopeStatus">
                        ${scope.name}
                        <c:if test="${scopeStatus.last == false}">
                            <span class="attr-item-splitter">/</span>
                        </c:if>
                    </c:forEach>
                </div>
            </c:if>
        </div>

    </div>

    <div class="col-md-2 each-item-right">
        <!--<div class="each-item-left-ctn">-->
            <table>
                <tr><td>
                    <button data-ref-id="${item.data.id}" data-type="${pageInfo.type}"  class="btn btn-default btn-style-2 btn-cancel">取消收藏</button>
                </td></tr>
            </table>
        <!--</div>-->
    </div>
</li>

</c:forEach>

</ul>
