<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>

<!-- 法规列表 -->

<ul class="content-list">

    <c:forEach var="item" items="${rets}" varStatus="status">


<li class="each-item each-law <c:if test="${item.expiry}">law-expiry</c:if>">
    <h2 class="item-title">
        <a target="_blank"
            <c:if test="${item.type == 1}">
            href="/law?id=${item.id}"
            </c:if>
            <c:if test="${item.type == 2}">
            href="/case?id=${item.id}"
            </c:if>
        >${item.highlightName}</a>

            <c:if test="${item.news}">
            <span class="label label-danger">New</span>
            </c:if>
    </h2>

    <c:if test="${item.labels != null and item.labels.size() > 0}">
        <ul class="item-labels">
            <c:forEach var="label" items="${item.labels}">
                <li>${label}></li>
            </c:forEach>
        </ul>
    </c:if>

        <div class="qa-desc">
            ${item.answer}
        </div>

    <div class="attrs clearfix">

        <c:if test="${item.type == 1}">

        <!-- 发文单位 -->
        <c:if test="${item.units != null and item.units.size() > 0}">
            <div class="attr-items pull-left">
                <c:forEach var="unit" items="${item.units}" varStatus="unitStatus">
                    <a href="/?unitIds=${unit.id}">${unit.name}</a>
                    <c:if test="${unitStatus.last == false}">
                        <span class="attr-item-splitter">/</span>
                    </c:if>
                </c:forEach>
            </div>
            <span class="attr-splitter pull-left">|</span>
        </c:if>
        <!-- 生效时间 -->
        <c:if test="${item.effectDate != null}">
        <span class="attr-date pull-left"><fmt:formatDate value="${item.effectDate}" pattern="yyyy年MM月dd日" /></span>
        <span class="attr-splitter pull-left">|</span>
        </c:if>



        <!-- 生效 -->
        <c:if test="${item.timeliness != null and item.timeliness.size() > 0}">
            <div class="attr-effective pull-left">
                <c:forEach var="time" items="${item.timeliness}" varStatus="timeStatus">
                    ${time.name}</a>
                    <c:if test="${timeStatus.last == false}">
                        <span class="attr-item-splitter">/</span>
                    </c:if>
                </c:forEach>
            </div>
        </c:if>


        </c:if>

        <c:if test="${item.type == 2}">
            <span class="attr-date pull-left"><fmt:formatDate value="${item.releaseDate}" pattern="yyyy年MM月dd日" /></span>
        </c:if>

        <!-- 适用范围 -->
        <c:if test="${item.scopes != null and item.scopes.size() > 0}">
            <span class="attr-splitter pull-left">|</span>
            <div class="attr-items pull-left">
                <c:forEach var="scope" items="${item.scopes}" varStatus="scopeStatus">
                    ${scope.name}
                    <c:if test="${scopeStatus.last == false}">
                        <span class="attr-item-splitter">/</span>
                    </c:if>
                </c:forEach>
            </div>
        </c:if>
    </div>


</li>

    </c:forEach>

</ul>
