<%@ page language="java" pageEncoding="UTF-8"%>


<div class="col-md-3 left">
    <a href="/member">
        <div class="list-box <c:if test="${URI == '/member'}">
            focus
            </c:if>">
            <p>
                <!--<span class="iconfont icon-mingpian list-icon"></span>-->
                <span class="list-icon inhope-icon-user-info"></span>
                <span class="list-font">账号信息</span></p>
        </div>
    </a>
    <a href="/member/updatePassword">
        <div class="list-box <c:if test="${URI == '/member/updatePassword'}">
        focus
        </c:if>">
            <p>
                <!--<span class="iconfont icon-suo list-icon list-second"></span>-->
                <span class="list-icon list-second inhope-icon-password"></span>
                <span class="list-font">修改密码</span></p>
        </div>
    </a>

    <a href="/member/info">
        <div class="list-box <c:if test="${URI == '/member/info'}">
        focus
        </c:if>">
            <p>
                <!--<span class="iconfont icon-yonghu list-icon list-third"></span>-->
                <span class="list-icon list-third inhope-icon-user"></span>
                <span class="list-font">个人信息</span></p>
        </div>
    </a>

    <a href="/collect">
        <div class="list-box alide <c:if test="${URI == '/collect'}">
        focus
        </c:if>">
        <p>
            <!--<span class="iconfont icon-shoucang-copy list-icon list-collect"></span>-->
            <span class="list-icon list-collect inhope-icon-like"></span>
            <span class="list-font">我的收藏</span></p>
        </div>
    </a>

    <c:if test="${canInviteOthers}">
    <a href="/member/invite">
        <div class="list-box alide <c:if test="${URI == '/member/invite'}">
        focus
        </c:if>">
        <p>
            <!--<span class="fa fa-share list-icon list-collect" style="font-size: 14px;"></span>-->
            <span class="list-icon list-collect inhope-icon-share"></span>
            <span class="list-font">邀请注册</span></p>
        </div>
    </a>
    </c:if>

</div>