<%@ page language="java" pageEncoding="UTF-8"%>

<!-- 分页 -->

<div class="list-pager clearfix">
    <div class="pull-left">
    总记录数: <span id="count-ctn">${count}</span>条/<span id="total-page-ctn">${totalPage}</span>页
    </div>
    <div class="pagination pull-right" id="pagination"></div>
</div>
