<%@ page language="java" pageEncoding="UTF-8"%>
<!-- 问答列表 -->

<ul class="content-list">

    <c:forEach var="item" items="${rets}" varStatus="status">

<li class="each-item each-qa row <c:if test="${item.data.expiry}">law-expiry</c:if>">
    <div class="col-md-10 each-item-left">

        <h2 class="item-title clearfix">
            <div class="pull-left qa-label qa-q-icon">
                <!--<img src="/images/q.png">-->
                <span class="inhope-icon-q"></span>
            </div>
            <a target="_blank" href="/qa?id=${item.data.id}">${item.data.name}</a></h2>

        <div class="item-title clearfix">
            <div class="pull-left qa-label qa-a-icon">
                <!--<img src="/images/a.png">-->
                <span class="inhope-icon-a"></span>
            </div>
            <!--<div class="pull-left qa-answer-title">信公解读</div>-->
        </div>

        <div class="qa-desc">
            ${item.data.answer}
        </div>
        <div class="qa-more"><a href="/qa?id=${item.data.id}">阅读详情</a></div>

    </div>

    <div class="col-md-2 each-item-right">
        <!--<div class="each-item-left-ctn">-->
        <table>
            <tr><td>
                <button data-ref-id="${item.data.id}" data-type="${pageInfo.type}" class="btn btn-default btn-style-2 btn-cancel">取消收藏</button>
            </td></tr>
        </table>
        <!--</div>-->
    </div>

</li>

        </c:forEach>

</ul>
