<%@ page language="java" pageEncoding="UTF-8"%>
<!-- 问答列表 -->

<ul class="content-list">

    <c:forEach var="item" items="${rets}" varStatus="status">

<li class="each-item each-qa <c:if test="${item.expiry}">law-expiry</c:if>">
    <h2 class="item-title clearfix">
        <div class="pull-left qa-label qa-q-icon">
            <!--<img src="/images/q.png">-->
            <span class="inhope-icon-q"></span>
        </div>
        <a target="_blank" href="/qa?id=${item.id}">${item.highlightName}</a>
        <c:if test="${item.news}">
            <span class="label label-danger">New</span>
        </c:if>
    </h2>
    <div class="item-title clearfix">
        <div class="pull-left qa-label qa-a-icon">
            <!--<img src="/images/a.png">-->
            <span class="inhope-icon-a"></span>
        </div>
        <!--<div class="pull-left qa-answer-title">信公解读</div>-->
    </div>

    <div class="qa-desc">
        ${item.answer}
    </div>
    <div class="qa-more"><a href="/qa?id=${item.id}">阅读详情</a></div>
</li>

        </c:forEach>


</ul>
