<%@ page language="java" contentType="text/html; charset=UTF-8"
         pageEncoding="UTF-8"%>
<%@ taglib prefix="shiro" uri="http://shiro.apache.org/tags" %>
<%@ taglib prefix="ss" uri="http://www.springframework.org/tags" %>

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="static/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/simple-line-icons.css" type="text/css" />
    <link rel="stylesheet" href="static/css/font.css" type="text/css" />
    <script src="static/js/jquery.js"></script>
    <title>信公后台管理</title>
</head>
<body
        <shiro:lacksRole name="admin">class="alert alert-warning"</shiro:lacksRole>
>

<shiro:hasRole name="admin">
    <app id="app"></app>
    <script>
        var groups = ${groups};
        var groupsMap = {};
        if (groups)
            groups.forEach(function (item) {
                groupsMap[item.id] = item.name;
            });
    </script>
    <script src="static/inhope.js"></script>
    <script src="static/js/bootstrap.js"></script>
</shiro:hasRole>

<shiro:lacksRole name="admin">
    <div  style="
        text-align: center;
    ">
        你好, 你不是系统管理员, 无权访问.

        <p>
            <a href="logout">重新登录</a>
        </p>
    </div>
</shiro:lacksRole>

</body>
</html>
