<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<html>
<head>
    <script>
        if (window.top == window.self) {
            location.href = '/';
        }
    </script>
</head>
</html>
