<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!-- 主页: 法规/案例/问答 -->

<%@ include file="includes/head.html" %>
<body class="nav-no-active">

  <!-- 本页面自己的css -->
  <link href="/style/member_index.css?i=32" rel="stylesheet">
  <link href="style/collect.css?i=32" rel="stylesheet">

  <!-- 头部 -->
  <%@ include file="includes/header.html" %>


  <div class="container wrap">
    <%@ include file="./includes/member_left.html" %>
    <div class="col-md-9 right">
      <div class="admin-title">
        我的收藏
      </div>
      <div class="admin-main">

    <div class="row">

      <div class="col-md-12 right-container collect-ctn" id="content-ctn">

        <div class="row tab-filter-btn">
          <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="col-xs-3
              <c:if test="${pageInfo.type == 'law'}">
                active
              </c:if>
              ">
                <a href="#home" aria-controls="home" data-type="law" role="tab" data-toggle="tab">监管规则<span class="count" id="law-count">${lawCount}</span></a>
              </li>
              <li role="presentation" class="col-xs-3
              <c:if test="${pageInfo.type == 'qa'}">
              active
              </c:if>
              ">
                <a href="#profile" aria-controls="profile" data-type="qa" role="tab" data-toggle="tab">小安问答<span class="count" id="qa-count">${qaCount}</span></a>
              </li>
              <li role="presentation" class="col-xs-3
              <c:if test="${pageInfo.type == 'case'}">
              active
              </c:if>
              ">
                <a href="#messages" aria-controls="messages" data-type="case" role="tab" data-toggle="tab">市场案例<span class="count" id="case-count">${caseCount}</span></a>
              </li>

              <li role="presentation" class="col-xs-3
              <c:if test="${pageInfo.type == 'kt'}">
              active
              </c:if>
              ">
              <a href="#messages" aria-controls="messages" data-type="kt" role="tab" data-toggle="tab">小安课堂<span class="count" id="kt-count">${ktCount}</span></a>
              </li>

            </ul>
          </div>
        </div>

        <!-- 列表 -->
        <div class="row tab-filter-btn collect-ctn">
            <div class="tab-content col-md-12 ">
              <div role="tabpanel" class="tab-pane active ">

                <c:choose>
                  <c:when test="${rets == null or rets.size() == 0}">
                    <div class="no-items">
                      无记录
                    </div>
                  </c:when>
                  <c:otherwise>

                    <c:if test="${pageInfo.type == 'law'}">
                      <%@ include file="includes/law_list_collect.html" %>
                    </c:if>
                    <c:if test="${pageInfo.type == 'qa'}">
                      <%@ include file="includes/qa_list_collect.html" %>
                    </c:if>
                    <c:if test="${pageInfo.type == 'case'}">
                      <%@ include file="includes/law_list_collect.html" %>
                    </c:if>

                    <c:if test="${pageInfo.type == 'kt'}">
                      <%@ include file="includes/kt_list_collect.html" %>
                    </c:if>

                    <!-- 分页 -->
                    <%@ include file="includes/pagination.html" %>

                  </c:otherwise>
                </c:choose>

              </div>

          </div>

        </div>

      </div>
      
    </div>

        </div>
      </div>
  </div>

  <%@ include file="includes/footer.html" %>

  <script>
    var pageNo = ${pageInfo.pageNo};
    var pageSize = ${pageInfo.pageSize};
    var total = ${pageInfo.total};
    var type = '${pageInfo.type}';
    var refId = '${pageInfo.refId}';
  </script>
  <script src="libs/jquery.pagination.js"></script>
  <script src="js/collect.js?i=32"></script>

</body>
</html>