<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ include file="includes/head.html" %>

<body class="header-style2">

<!-- 本页面自己的css -->
<link href="style/findPassword.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="includes/header.html" %>
<div class="container container-wrap">
    <div class="wrap">
        <div class="wrap-header">
            <ul>
                <li class="complete now"><span>1</span>验证手机</li>
                <li><span>2</span>重置密码</li>
                <li><span>3</span>完成</li>
            </ul>
        </div>

            <div class="wrap-conent first">
                <div class="regist pr">
                    <form id="findPswForm1">
                    <div class="v-e-ctn form-group">
                        <input type="text" name="mobile" class="form-control" id="mobile" placeholder="输入手机号"
                               v-rules="[{rule: 'required', msg:'请填写手机号码'}, {rule:'mobile'}]"
                        />
                        <div class="v-msg"></div>
                    </div>
                    <div class="v-e-ctn form-group pr clearfix">
                        <input type="text" name="token" class="form-control phoneCode" id="token" placeholder="输入验证码"
                               v-rules="[{rule: 'token',msg:'请输入验证码'}]"/>
                        <button class="btn btn-primary sendCode pa" id="sendCode" data-loading-text="正在发送...">发送验证码</button>
                        <div class="v-msg"></div>
                    </div>

                    <button class="btn btn-default phone-btn" data-loading-text="正在验证..." id="phoneSub">
                        确定
                    </button>
                    </form>
                </div>
            </div>
            <div class="wrap-conent second hidden">
                <form id="findPswForm2">
                <div class="v-e-ctn form-group">
                    <input type="password" name="psw" class="form-control" id="psw" placeholder="密码"
                           v-rules="[{rule: 'required', msg:'请填写密码'}, {rule:'password', msg: '请输入至少6位数的密码'}]"
                    />
                    <div class="v-msg"></div>
                </div>
                <div class="v-e-ctn form-group">
                    <input type="password" name="pswConfirm" class="form-control" id="pswConfirm" placeholder="确认密码"
                           v-rules="[{rule: 'required', msg:'请填写确认密码'}, {rule:'equalTo', ref: '#psw'}]"
                    />
                    <div class="v-msg"></div>
                </div>
                <button class="btn btn-default phone-btn" data-loading-text="正在修改..." id="sub">
                    确定
                </button>
                </form>
            </div>
        <div class="wrap-conent third hidden">
            <h5>重置成功，请牢记新的登录密码</h5>
            <a href="/logout">重新登录</a>
        </div>
    </div>


</div>





<%@ include file="includes/footer.html" %>
<script src="/js/common.js?i=32"></script>
<script src="/js/findPassword.js?i=32"></script>
</body>
</html>