<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<!-- 主页: 法规/案例/问答 -->

<%@ include file="includes/head_index.html" %>
<body class="type-${searchInfo.type}">

  <!-- 头部 -->
  <%@ include file="includes/header.html" %>

  <div class="main container">

    <div class="row row-right-0">

      <div class="col-md-3 aside-ctn padding-right-0">
        <%@ include file="includes/aside.html" %>
      </div>

      <div class="col-md-9 right-container " id="content-ctn">

        <div class="row tab-filter-btn">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="col-xs-3
              <c:if test="${searchInfo.type == 'law'}">
                active
              </c:if>
              ">
                <a href="#home" aria-controls="home" data-type="law" role="tab" data-toggle="tab">监管规则<c:if test="${hasQuery}"><span class="count">${counts.lawCount}</span></c:if></a>
              </li>
              <li role="presentation" class="col-xs-3
              <c:if test="${searchInfo.type == 'qa'}">
              active
              </c:if>
              ">
                <a href="#profile" aria-controls="profile" data-type="qa" role="tab" data-toggle="tab">小安问答<c:if test="${hasQuery}"><span class="count">${counts.qaCount}</span></c:if></a>
              </li>
              <li role="presentation" class="col-xs-3
              <c:if test="${searchInfo.type == 'case'}">
              active
              </c:if>
              ">
                <a href="#messages" aria-controls="messages" data-type="case" role="tab" data-toggle="tab">市场案例<c:if test="${hasQuery}"><span class="count">${counts.caseCount}</span></c:if></a>
              </li>

              <li role="presentation" class="col-xs-3
              <c:if test="${searchInfo.type == 'kt'}">
              active
              </c:if>
              ">
              <a href="#messages" aria-controls="messages" data-type="kt" role="tab" data-toggle="tab">小安课堂<c:if test="${hasQuery}"><span class="count">${counts.ktCount}</span></c:if></a>
              </li>


            </ul>
          <!--<button class="btn btn-default btn-filter-common btn-filter col-md-2">筛选 <i class="fa fa-angle-down"></i></button>-->
        </div>

        <!-- 过滤条件 -->
        <%@ include file="includes/filter.html" %>

        <!-- 列表 -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active">

            <c:choose>
              <c:when test="${rets == null or rets.size() == 0}">
                  <div class="no-items">
                    无记录
                  </div>
              </c:when>
              <c:otherwise>

                  <c:if test="${searchInfo.type == 'law'}">
                    <%@ include file="includes/law_list.html" %>
                  </c:if>
                  <c:if test="${searchInfo.type == 'qa'}">
                    <%@ include file="includes/qa_list.html" %>
                  </c:if>
                  <c:if test="${searchInfo.type == 'case'}">
                    <%@ include file="includes/law_list.html" %>
                  </c:if>

                    <c:if test="${searchInfo.type == 'kt'}">
                      <%@ include file="includes/kt_list.html" %>
                    </c:if>

                  <!-- 分页 -->
                  <%@ include file="includes/pagination.html" %>

              </c:otherwise>
            </c:choose>

          </div>

        </div>

      </div>
      
    </div>
  </div>

  <a id="top-btn" class="top-btn support-icon" title="回到顶部">
    <!--<span class="iconfont icon-jiantou-copy"></span>-->
    <span class="inhope-icon-up"></span>
  </a>

  <%@ include file="includes/footer.html" %>
  <script>
    var pageNo = ${searchInfo.pageNo};
    var pageSize = ${searchInfo.pageSize};
    var total = ${count};
    var cateIds = '${searchInfo.cateIds}';
    var unitIds = '${searchInfo.unitIds}';
    var timelinessIds = '${searchInfo.timelinessIds}';
    var lawType = '${searchInfo.type}';
  </script>
  <script src="libs/My97DatePicker/WdatePicker.js"></script>
  <script src="libs/jquery.pagination.js"></script>
  <script src="js/index.js?i=32"></script>
</body>
</html>