<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt" %>

<!-- 规则详情页 -->

<%@ include file="includes/head.html" %>
<body class="">
	<img src="/images/inhope_logo.jpg" style="display: none">

  <!-- 本页面自己的css -->
  <link href="style/law.css?t=7" rel="stylesheet">

  <!-- 头部 -->
  <%@ include file="includes/header.html" %>
  
	<div class="container wrap type-${type}">
		<div class="col-md-9 left
            <c:if test="${type == 'law' and ret.attachmentsMap['6'] != null}">
				has-attach
			</c:if>
		"> <!-- 判断是否有 has-attach -->

			<div class="left-ctn">
                <div class="title <c:if test="${oneLine}">one-line</c:if>">
				  <c:if test="${type == 'qa'}">
                      <h1>${ret.name}</h1>
				  </c:if>
				  <c:if test="${type != 'qa'}">

				  <c:if test="${type == 'law' and hasNav}">
                      <div class="article-nav pull-left">
                      <button class="btn btn-default">
						  <!--<i class="fa fa-list-ul"></i>-->
						  <i class="inhope-icon-nav"></i>
					  </button>
                      <div class="nav-content">
                      <div class="nav-title">目录</div>
                      <div class="nav-content-ctn" id="nav-content-ctn">
                      </div>
                      </div>
                      </div>
                      </c:if>

                      <h1>
                      ${ret.name}
                      </h1>
				  </c:if>
				  </div>
                <div class="content">
				<div class="law-content style-${test} law-content-${type}" id="law-content">
                    <c:if test="${type != 'kt'}">
						${ret.content}
                    </c:if>

					<c:if test="${type == 'kt'}">
						<script src="http://imgcache.qq.com/tencentvideo_v1/tvp/js/tvp.player_v2_jq.js"></script>
						<div class="kt-video" id="kt-video" data-id="${ret.abs}"></div>
                    </c:if>

				<c:if test="${type == 'law'}">
					<c:if test="${ret.attachmentsMap['6'] != null}">
						<div class="enclosure">
							<h2 class="attach-title">相关附件</h2>
							<ul>
								<c:forEach var="item" items="${ret.attachmentsMap['6']}" varStatus="s">

									<li>
										<a class="need-download" data-id="${item.id}">${item.name}</a>
										<%--
										<c:if test="${item.url != null}">
											<a target="_blank" href="/attachment?id=${item.id}">${item.name}</a>
										</c:if>
										<c:if test="${item.url == null}">
											<a class="need-download" data-id="${item.id}">${item.name}</a>
										</c:if>
										--%>
									</li>

								</c:forEach>

							</ul>
						</div>
					</c:if>
				</c:if>

				</div>
			</div>
            </div>

            <c:if test="${user != null}">
                <%@ include file="includes/comment.html" %>
            </c:if>
            <c:if test="${user == null}">
				<br>
				<br>
				<br>
			</c:if>
        </div>

		<div class="col-md-3 right">
			<div class="right-title">
				<h3>
					<c:if test="${type == 'law'}">
                        规则详情
                    </c:if>
					<c:if test="${type == 'case'}">
						案例详情
                    </c:if>
                    <c:if test="${type == 'qa'}">
						问答详情
                    </c:if>
					<c:if test="${type == 'kt'}">
						课堂简介
					</c:if>
				</h3>
			</div>

			<div class="contents">

				<c:if test="${type == 'kt'}">
					<div class="kt-info">${ret.content}</div>
                </c:if>

				<c:if test="${type == 'law'}">
				<div class="t-info t-content t-active">
					<table border="0">
						<c:if test="${ret.releaseDate != null}">
						<tr><th>发布日期</th>
							<td class="td-seq">：</tds><td><fmt:formatDate value="${ret.releaseDate}" pattern="yyyy年MM月dd日" /></td>
						</tr>
                        </c:if>

						<c:if test="${ret.effectDate != null}">
							<tr><th>生效日期</th><td class="td-seq">：</td><td><fmt:formatDate value="${ret.effectDate}" pattern="yyyy年MM月dd日" /></td>
								</td></tr>
						</c:if>

						<c:if test="${ret.expiryDate != null}">
							<tr><th>失效日期</th><td class="td-seq">：</td><td><fmt:formatDate value="${ret.expiryDate}" pattern="yyyy年MM月dd日" /></td>
								</td></tr>
						</c:if>

						<c:if test="${ret.referenceNumber != null}">
						<tr><th>文号</th><td class="td-seq">：</td><td>${ret.referenceNumber}</td>
						</tr>
                        </c:if>

                        <c:if test="${ret.units != null and ret.units.size() > 0}">
						<tr><th>发文单位</th>
							<td class="td-seq">：</td><td><c:forEach var="unit" items="${ret.units}" varStatus="unitStatus">
									${unit.name}
									<c:if test="${unitStatus.last == false}">
										<span class="attr-item-splitter"> </span>
									</c:if>
								</c:forEach>
							</td>
						</tr>
                        </c:if>

						<c:if test="${ret.scopes != null and ret.scopes.size() > 0}">
						<tr><th>适用范围</th><td class="td-seq">：</td><td>
							<c:forEach var="unit" items="${ret.scopes}" varStatus="unitStatus">
								${unit.name}
								<c:if test="${unitStatus.last == false}">
									<span class="attr-item-splitter"> </span>
								</c:if>
							</c:forEach>
						</td></tr>
                        </c:if>

						<c:if test="${ret.timeliness != null and ret.timeliness.size() > 0}">
						<tr><th>时效性</th><td class="td-seq">：</td><td>
							<c:forEach var="time" items="${ret.timeliness}" varStatus="timeStatus">
								${time.name}</a>
								<c:if test="${timeStatus.last == false}">
									<span class="attr-item-splitter"> </span>
								</c:if>
							</c:forEach>
						</td></tr>
                        </c:if>
					</table>
				</div>
                </c:if>

				<c:if test="${type == 'case'}">
					<div class="t-info t-content t-active">
						<table border="0">
							<c:if test="${ret.releaseDate != null}">
								<tr><th>发布日期</th>
									<td class="td-seq">：</tds><td><fmt:formatDate value="${ret.releaseDate}" pattern="yyyy年MM月dd日" /></td>
								</tr>
							</c:if>

							<c:if test="${ret.referenceNumber != null}">
								<tr><th>文号</th><td class="td-seq">：</td><td>${ret.referenceNumber}</td>
								</tr>
							</c:if>

							<c:if test="${ret.units != null and ret.units.size() > 0}">
								<tr><th>发文单位</th>
									<td class="td-seq">：</td><td><c:forEach var="unit" items="${ret.units}" varStatus="unitStatus">
										${unit.name}
										<c:if test="${unitStatus.last == false}">
											<span class="attr-item-splitter"> </span>
										</c:if>
									</c:forEach>
									</td>
								</tr>
							</c:if>

							<c:if test="${ret.scopes != null and ret.scopes.size() > 0}">
								<tr><th>适用范围</th><td class="td-seq">：</td><td>
									<c:forEach var="unit" items="${ret.scopes}" varStatus="unitStatus">
										${unit.name}
										<c:if test="${unitStatus.last == false}">
											<span class="attr-item-splitter"> </span>
										</c:if>
									</c:forEach>
								</td></tr>
							</c:if>

							<c:if test="${ret.timeliness != null and ret.timeliness.size() > 0}">
								<tr><th>时效性</th><td class="td-seq">：</td><td>
									<c:forEach var="time" items="${ret.timeliness}" varStatus="timeStatus">
										${time.name}</a>
										<c:if test="${timeStatus.last == false}">
											<span class="attr-item-splitter"> </span>
										</c:if>
									</c:forEach>
								</td></tr>
							</c:if>
						</table>
					</div>
				</c:if>

				<c:if test="${type == 'qa'}">
					<div class="t-info t-content t-active">
						<table border="0">
							<c:if test="${ret.releaseDate != null}">
								<tr><th>发布日期</th>
									<td class="td-seq">：</tds><td><fmt:formatDate value="${ret.releaseDate}" pattern="yyyy年MM月dd日" /></td>
								</tr>
							</c:if>

							<c:if test="${ret.scopes != null and ret.scopes.size() > 0}">
								<tr><th>适用范围</th><td class="td-seq">：</td><td>
									<c:forEach var="unit" items="${ret.scopes}" varStatus="unitStatus">
										${unit.name}
										<c:if test="${unitStatus.last == false}">
											<span class="attr-item-splitter"> </span>
										</c:if>
									</c:forEach>
								</td></tr>
							</c:if>

							<c:if test="${ret.timeliness != null and ret.timeliness.size() > 0}">
								<tr><th>时效性</th><td class="td-seq">：</td><td>
									<c:forEach var="time" items="${ret.timeliness}" varStatus="timeStatus">
										${time.name}</a>
										<c:if test="${timeStatus.last == false}">
											<span class="attr-item-splitter"> </span>
										</c:if>
									</c:forEach>
								</td></tr>
							</c:if>
						</table>
					</div>
				</c:if>

				<!-- 相关, 都有 -->
				<div class="t-law t-content">
					<img src="/images/loading-64.gif">
				</div>
				<div class="t-qa t-content">
					<img src="/images/loading-64.gif">
				</div>
				<div class="t-case t-content">
					<img src="/images/loading-64.gif">
				</div>

				<c:if test="${type == 'law'}">
					<c:if test="${ret.attachmentsMap['2'] != null}">
                    <div class="t-attach1 t-content">
						<ol>
							<c:forEach var="item" items="${ret.attachmentsMap['2']}">
								<li>
									<a class="need-download" data-id="${item.id}">${item.name}</a>

									<%--
									<c:if test="${item.url != null}">
                                        <a target="_blank" href="/attachment?id=${item.id}">${item.name}</a>
                                    </c:if>
									<c:if test="${item.url == null}">
										<a class="need-download" data-id="${item.id}">${item.name}</a>
                                    </c:if>
									--%>
								</li>
							</c:forEach>
						</ol>
                    </div>
                    </c:if>

					<c:if test="${ret.attachmentsMap['3'] != null}">
                    <div class="t-attach2 t-content">
						<ol>
							<c:forEach var="item" items="${ret.attachmentsMap['3']}">
								<li>
									<a class="need-download" data-id="${item.id}">${item.name}</a>

									<%--
									<c:if test="${item.url != null}">
										<a target="_blank" href="/attachment?id=${item.id}">${item.name}</a>
									</c:if>
									<c:if test="${item.url == null}">
										<a class="need-download" data-id="${item.id}">${item.name}</a>
									</c:if>
									--%>
								</li>
							</c:forEach>
						</ol>
                    </div>
                    </c:if>

					<c:if test="${ret.attachmentsMap['4'] != null}">
                    <div class="t-attach3 t-content">
						<ol>
							<c:forEach var="item" items="${ret.attachmentsMap['4']}">
								<li>
									<a class="need-download" data-id="${item.id}">${item.name}</a>

									<%--
									<c:if test="${item.url != null}">
										<a target="_blank" href="/attachment?id=${item.id}">${item.name}</a>
									</c:if>
									<c:if test="${item.url == null}">
										<a class="need-download" data-id="${item.id}">${item.name}</a>
									</c:if>
									--%>
								</li>
							</c:forEach>
						</ol>
                    </div>
                    </c:if>
                </c:if>

				<c:if test="${type == 'case'}">
					<c:if test="${ret.attachmentsMap['1'] != null}">
                    <div class="t-attach4 t-content">
						<ol>
							<c:forEach var="item" items="${ret.attachmentsMap['1']}">
								<li>
									<a class="need-download" data-id="${item.id}">${item.name}</a>

									<%--
									<c:if test="${item.url != null}">
										<a target="_blank" href="/attachment?id=${item.id}">${item.name}</a>
									</c:if>
									<c:if test="${item.url == null}">
										<a class="need-download" data-id="${item.id}">${item.name}</a>
									</c:if>
									--%>
								</li>
							</c:forEach>
						</ol>
                    </div>
                    </c:if>
                </c:if>
			</div>
			<ul class="law-menu">

				<c:if test="${type != 'kt'}">

                    <c:if test="${type == 'law'}">
                        <li class="on" data-t="info">规则详情</li>
                        <li data-t="law">相关规则</li>
                    </c:if>

                    <c:if test="${type == 'case'}">
                        <li class="on" data-t="info">案例详情</li>
                    </c:if>

                    <c:if test="${type == 'qa'}">
                        <li class="on" data-t="info">问答详情</li>
                    </c:if>

                    <c:if test="${type != 'law'}">
                        <li class="" data-t="law" class="lazy-load">相关规则</li>
                    </c:if>

                    <li data-t="qa" class="lazy-load">相关问答</li>
                    <li data-t="case" class="lazy-load">相关案例</li>

                    <c:if test="${type == 'law'}">
                        <c:if test="${ret.attachmentsMap['2'] != null}">
                        <li data-t="attach1">废止文件</li>
                        </c:if>

                        <c:if test="${ret.attachmentsMap['3'] != null}">
                        <li data-t="attach2">征求意见稿</li>
                        </c:if>

                        <c:if test="${ret.attachmentsMap['4'] != null}">
                        <li data-t="attach3">其他</li>
                        </c:if>
                    </c:if>

                    <c:if test="${type == 'case'}">
                        <c:if test="${ret.attachmentsMap['1'] != null}">
                        <li data-t="attach4">相关公告</li>
                        </c:if>
                    </c:if>

				</c:if>

			</ul>
		</div>
	</div>

  <c:choose>
	  <c:when test="${type == 'kt' && user == null}">

	  </c:when>
	  <c:otherwise>
  <div class="menu">
	  <div class="container clearfix ">

		  <c:if test="${type != 'kt'}">
              <i id="max-screen-btn"  data-toggle="tooltip" data-placement="top" title="最大化" class="inhope-icon-max-screen" style="font-size: 23px!important;"></i>
              <!--<i id="max-screen-btn" title="最大化" class="fa fa-arrows-alt" aria-hidden="true"></i>-->
              <i id="print-btn"  data-toggle="tooltip" data-placement="top" title="打印" class="inhope-icon-print" aria-hidden="true" style="font-size: 21px!important;"></i>
          </c:if>
		  <c:if test="${user != null}">
          <i id="collect-btn"  data-toggle="tooltip" data-placement="top" title="<c:if test="${hasCollected}">已</c:if>收藏" class="inhope-icon-like <c:if test="${hasCollected}">has-collected</c:if>" aria-hidden="true"></i>
		  </c:if>

          <c:if test="${type == 'law'}">
              <i id="share-btn" title="分享" class="inhope-icon-share" aria-hidden="true"  data-toggle="tooltip" data-placement="top" style="font-size: 21px!important;"></i>
          </c:if>

		  <c:if test="${user != null}">
		  <i id="comment-btn" title="评论" class="inhope-icon-comment" data-toggle="tooltip" data-placement="top" style="font-size: 20px!important;margin-top: 17px !important;"></i>
		  </c:if>

          <%--
          <c:if test="${type == 'law'}">
              <c:if test="${ret.attachmentsMap['5'] != null}">
                  <button class="download attach-download" data-id="${ret.attachmentsMap['5'][0].id}" id="download-btn">下载</button>
              </c:if>
          </c:if>
          --%>
	  </div>


  </div>

	  </c:otherwise>
  </c:choose>

  	<!-- 分享 -->
      <div class="modal fade" id="share-modal">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">打开微信扫一扫二维码分享给好友</h4>
                  </div>
                  <div class="modal-body" id="qrcode-body"></div>
              </div>
          </div>
      </div><!-- /.modal -->
  	<!-- 为了附件下载 -->
  	<iframe id="for-download" name="for-download" class="hide"></iframe>

  	<a id="top-btn" class="top-btn support-icon" title="回到顶部">
		<!--<span class="iconfont icon-jiantou-copy"></span>-->
		<span class="inhope-icon-up"></span>
	</a>

  <script>
	  var refId = "${refId}";
	  var type = '${type}';
	  var hasCollected = ${hasCollected};
  </script>

  <%@ include file="includes/chat.html" %>

  <%--
  <%@ include file="includes/footer.html" %>
  --%>

  <c:if test="${type == 'law'}">
  <script src="/libs/jquery.qrcode.min.js"></script>
  </c:if>

  <script src="/js/law.js?i=32"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/js/wechat.js?i=32"></script>
  <%@ include file="./includes/stat.html" %>

</body>
</html>
