<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ include file="includes/head.html" %>

<body class="header-style2">

<!-- 本页面自己的css -->
<link href="style/policy.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="includes/header.html" %>

<div class="container container-wrap">
	<div class="wrap">
		<div class="wrap-header">
			<h1>信公小安隐私条款</h1>
		</div>
		<div class="wrap-conent first">

			<div class="article">

				<p>信公小安尊重并保护所有使用信公小安网络服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，信公小安会按照本隐私权政策的规定使用和披露您的个人信息。
				</p>
				<p>信公小安致力于通过信息和数据的生产、聚合、挖掘、加工、处理，帮助目标用户和客户节约时间和金钱、提高效率，以辅助其各类商业行为，包括风险投资、收购、竞争情报、细分行业信息、国外公司产品信息数据服务等。产品服务包括但不限于：信公小安网站和APP、线下活动、数据和信息服务等。
				</p>

				<p>无论在哪个平台，我们都会坚定的实施保护我们用户隐私的措施。您在同意信公小安网络服务使用协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于信公小安网络服务使用协议不可分割的一部分。请注意信公小安会不时地会检查其隐私措施，因此有关的措施会随之变化。我们恳请您定期光顾本页以确保对我们隐私政策最新版本始终保持了解。在阅读完本政策之後，如果您对信公小安的隐私措施有进一步的问题，请与 hello@itjuzi.com 联系。
				</p>

				<h2>1. 适用范围</h2>

				<p>A） 在您注册信公小安帐号时，您根据信公小安要求提供的个人注册信息；<br>
					B） 在您使用信公小安网络服务，或访问信公小安平台网页时，信公小安自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；<br>
					C） 信公小安通过合法途径从商业伙伴处取得的用户个人数据。</p>

				<p>您了解并同意，以下信息不适用本隐私权政策：<br>
					A） 您在使用信公小安平台提供的搜索服务时输入的关键字信息；<br>
					B）  信公小安收集到的您在信公小安发布的有关信息数据，包括但不限于参与活动及评价详情；<br>
					C） 违反法律规定或违反信公小安规则行为及信公小安已对您采取的措施。</p>


				<h2>2. 信息使用</h2>

				<p>A） 为服务用户的目的，信公小安可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与信公小安合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。<br>
					B） 用户提供给信公小安的信息，信公小安会进行收集、整理和妥善处置。然而，信公小安还与合作伙伴公司共同推出部分服务，为了使信公小安能够向其用户提供共同推出的服务，信公小安可能必须与合作公司共享用户信息。信公小安将督促合作公司参照本政策的规定保护用户信息。</p>


				<h2>3. 信息披露</h2>

				<p>在如下情况下，信公小安将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：<br>
					A） 经您事先同意，向第三方披露；<br>
					B） 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；<br>
					C） 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<br>
					D） 如您出现违反中国有关法律、法规或者信公小安服务协议或相关规则的情况，需要向第三方披露；<br>
					E） 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；<br>
					F） 其它信公小安根据法律、法规或者网站政策认为合适的披露。</p>

				<h2>4. 信息存储和交换</h2>

				<p>信公小安收集的有关您的信息和资料将保存在信公小安及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或信公小安收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>

				<h2>5. Cookie的使用</h2>

				<p>A） 在您未拒绝接受cookies的情况下，信公小安会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的信公小安平台服务或功能。信公小安使用cookies可为您提供更加周到的个性化服务，包括推广服务。<br>
					B） 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的信公小安网络服务或功能。<br>
					C） 通过信公小安所设cookies所取得的有关信息，将适用本政策。</p>

				<h2>6. 信息安全</h2>

				<p>A） 信公小安帐号均有安全保护功能，请妥善保管您的用户名及密码信息。信公小安将通过对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在“完善的安全措施”。<br>
					B） 在使用信公小安网络服务进行网上交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或者邮政地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是信公小安用户名及密码发生泄露，请您立即联络信公小安客服，以便信公小安采取相应措施。
				</p>

				<h2>7. 免责</h2>
				<p>下列情况时本网站亦毋需承担任何责任：<br>
					A） 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。<br>
					B） 任何由于黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料泄露、丢失、被盗用或被篡改等。<br>
					C） 由于与本网站链接的其它网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。</p>

				<h2>8. 外部链接</h2>
				<p>信公小安包含一些外部网站的链接。信公小安对这些网站的隐私管理和行为不承担责任。当跳转到外部网站时，用户请阅读该网站的隐私政策。这里提供的隐私条例仅供信公小安收集管理会员信息所用。
				</p>

				<h2>9. 与网站联系</h2>
				<p>如果你有与隐私保护，政策实施或网站操作有关的问题，请将意见或建议发送至我们的邮箱: <a href="mailto:service@infaith.com.cn">service@infaith.com.cn</a>
				</p>

				<p>最后，您是唯一对您的账号和密码信息负有保密责任的人。任何情况下，请小心妥善保管。</p>

			</div>

		</div>

	</div>
</div>

<%@ include file="includes/footer.html" %>
</body>
</html>