<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ include file="includes/head.html" %>

<body class="header-style2">

<!-- 本页面自己的css -->
<link href="style/register.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="includes/header.html" %>

<div class="container container-wrap">
	<div class="wrap">
		<div class="wrap-header">
			<ul>
				<li class="complete now"><span>1</span>创建账户</li>
				<li><span>2</span>完善个人信息</li>
				<li><span>3</span>注册成功</li>
			</ul>
		</div>
		<div class="wrap-conent first">
				<div class="regist pr">
					<div class="form-group inputBox ">
						<input type="text" name="mobile" class="form-control" id="mobile" placeholder="输入您的手机号"/>
						<span class="tip hidden tiPhone"><span>!</span>请输入11位手机号码，用于登录及找回密码</span>
					</div>
					<div class="form-group inputBox pr">
						<input type="text" name="mobileCode" class="form-control" id="mobileCode" placeholder="输入验证码"/>
						<button class="btn btn-primary btn-lg pa sendCode " data-loading-text="正在发送...">发送验证码</button>
						<span class="tip hidden"><span>!</span>请输入验证码</span>
					</div>
					<div class="form-group inputBox">
						<input type="password" name="psw" class="form-control" id="psw" placeholder="密码"/>
						<span class="tip hidden"><span>!</span>请输入大于6位数的密码</span>
					</div>
					<div class="form-group inputBox">
						<input type="password" name="pswConfirm" class="form-control" id="pswConfirm" placeholder="确认密码"/>
						<span class="tip hidden"><span>!</span>请确认您的密码</span>
					</div>
					<div class="form-group inputBox">
						<input type="text" name="emile" class="form-control" id="emile" placeholder="电子邮箱"/>
						<span class="tip hidden"><span>!</span>请输入您的密码</span>
					</div>
					<div class="form-group inputBox agree-box">
						<span class="agreement"><input type="checkbox" id="checkBox" class="checkbox" checked/> <button type="button" class="btn btn-primary btn-lg" id="agree" data-toggle="modal" data-target="#myModal">我已阅读并同意《信公小安用户协议》</button></span>
						<span class="tip hidden"><span>!</span>请您仔细阅读信安协议，如无异议，请选中按钮</span>
					</div>
					<button class="btn btn-default inputBox" id="phoneSub">
						下一步
					</button>

				</div>


		</div>
		<div class="wrap-conent second pr hidden">
			 <!--
			<ul class="first_grade pa">
				<li class="pr first-li one">
					<span>上市公司</span>
					<ul class="second_grade pa">
						<li class="one"><span>沪市主板</span></li>
						<li><span>深市主板</span></li>
						<li><span>深市中小板</span></li>
						<li><span class="last">深市创业板</span></li>

					</ul>
				</li>
				<li class="pr first-li">
					<span>其他机构及个人</span>
					<ul class="second_grade pa">
						<li class="one"><span>监管机构</span></li>
						<li><span>研究机构</span></li>
						<li><span>自律组织</span></li>
						<li><span>个人</span></li>
						<li><span class="last">其他</span></li>
					</ul>
				</li>
				<li class="pr first-li">
					<span>非上市公司</span>
					<ul class="second_grade pa">
						<li class="one"><span>第三板</span></li>
						<li><span>拟上市公司</span></li>
						<li><span>会计师事务所</span></li>
						<li><span>证券公司</span></li>
						<li><span>律师事务所</span></li>
						<li><span class="last">其他</span></li>
					</ul>
				</li>
			</ul>

			-->
			<div class="form-group inputBox">
				<input type="text" name="name" id="name" class="form-control" placeholder="姓名" />
				<span class="pa tip ti1 hidden"><span>!</span>请输入您的真实姓名</span>
			</div>
			<div class="form-group inputBox">
				<input type="text" name="company" id="company" class="form-control" placeholder="公司名" />
				<span class="pa tip ti2 hidden"><span>!</span>请输入您的公司名称</span>
			</div>
			<div class="form-group inputBox pr">
				<input type="text" name="attribute" id="attribute" class="form-control companyInput" readonly style="cursor:default" placeholder="企业或机构属性"/>
				<span class="pa tip ti3 hidden"><span>!</span>请选择您的企业或机构属性</span>
				<button class="pa compress"><i class="fa fa-sort-desc" aria-hidden="true"></i></button>
				<ul class="first_grade hidden pa">
					<c:forEach var="item" items="${companyAttrs}" varStatus="status">
						<li class="pr first-li" data-id="${item.id}">
							<span>${item.title}</span>
							<ul class="second_grade pa">
								<c:forEach var="itemChild" items="${item.children}" varStatus="status">
									<li data-id="${itemChild.id}"><span>${itemChild.title}</span></li>
								</c:forEach>
							</ul>
						</li>
					</c:forEach>
				</ul>
			</div>
			<div class="form-group inputBox">
				<input type="text" name="position" id="position" class="form-control" placeholder="输入职位" />
				<span class="pa tip ti4 hidden"><span>!</span>请输入您的职位</span>
			</div>
			<button class="btn btn-default inputBox" data-loading-text="正在注册..." id="sub">
				注册
			</button>
	</div>
		<div class="wrap-conent third hidden">
		<span><img src="images/complete.png"/> 注册成功</span>
		<h5>欢迎使用信安小公</h5>
		<ul>
			<li><img src="images/qrcode_an.png" alt=""><p>信公小安</p></li>
			<li><img src="images/qrcode_zi.png" alt=""><p>信公资本</p></li>
		</ul>
		<button id="turnToIndex" class="btn btn-default">正在跳转至首页5s </button>
	</div>
	</div>
</div>
<!--协议-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">信公小安用户协议</h4>
			</div>
			<div id="agreeText" class="modal-body">
<pre id="agreeTextPre">
信公小安用户协议
一、接受条款
1、用户点击信公小安注册页面的同意注册按钮并完成注册程序、获得信公小安账号和密码时，视为用户与信公小安已达成《信公小安用户协议》。
2、信公小安在此特别提示，用户欲使用信公小安服务，必须事先认真阅读本协议全部条款（未成年人阅读时应得到其监护人的陪同），特别是本协议中免除、减轻或者限制信公小安责任的全部条款以及含有限制用户权利内容的全部条款。
3、用户下载、注册、登录、使用及连接信公小安服务等行为均将被视为用户完全了解、接受并同意遵守本协议项下的全部内容。本协议可由信公小安单方随时修改，修改后的协议条款一经信公小安公布即代替本协议的原条款，构成用户与信公小安之间就本协议主题事由的全部、最新协议。用户可以随时在信公小安网站或信公小安应用程序中查阅最新协议条款。如果用户不接受信公小安修改后的最新协议条款，请立即停止使用信公小安服务。如用户选择继续使用信公小安服务，则视为用户完全了解、接受并同意遵守信公小安修改后的最新协议条款。
4、用户特此声明，已经完全理解本协议相关内容，并不存在任何重大误解；同时，认可协议内容并不存在有失公平的情形。
二、用户信息条款
1、用户个人信息。用户个人信息包括下列信息：用户名，姓名，公司名称，公司地址，职位，手机号码，邮箱，社会化媒体账号，IP地址。
2、非用户个人信息。用户对信公小安服务的操作状态、使用记录、使用习惯等反映在信公小安服务器端的全部记录信息，及其他一切本条第1款所述的用户个人信息范围外的信息，均为普通信息，均不属于用户个人信息。
3、第三方平台记录信息。用户通过新浪微博账号、微信账号等第三方平台账号（下称“第三方平台”）注册、登陆、使用信公小安服务的，将被视为用户完全了解、同意并接受信公小安已包括但不限于收集、统计、分析等方式使用其在新浪微博、微信等第三方平台上填写、登记、公布、记录的全部信息（下称“第三方平台记录信息”）。用户一旦使用第三方平台账号注册、登陆、使用信公小安服务，信公小安对该等第三方平台记录的信息的任何使用，均将被视为已经获得了用户本人的完全同意并接受。
4、重要提示：为向客户提供信公小安服务，信公小安将可能合理使用用户个人信息、非用户个人信息及第三方平台记录信息（以下合称“用户信息”）。用户一旦注册、登陆、使用信公小安服务，将视为用户完全了解、同意并接受信公小安通过包括但不限于收集、统计、分析、使用等方式合理使用用户信息。
5、用户个人信息的使用目的、方式和范围。用户承诺其已完全了解：信公小安使用用户信息的目的在于：为用户提供更好地服务；信公小安使用用户信息的方式包括但不限于：收集、统计、分析、商业用途的使用等方式；信公小安使用用户信息的范围包括但不限于：本条第1、2、3款所定义的用户个人信息、非用户个人信息、第三方平台记录信息等。
6、用户查询、更正、添加信息的渠道。用户可通过信公小安服务中的相关功能查询、更正、添加其授权信公小安服务使用的用户信息。
7、用户拒绝提供信息的方式及后果。用户可以通过停止使用信公小安服务，不再向信公小安提供用户信息。但是，用户此前同意信公小安使用的用户信息，信公小安不承担主动删除、销毁的责任。用户拒绝提供用户信息的，信公小安可以随时停止提供服务。
8、用户授权的明确性。用户注册、登陆、使用信公小安服务的行为，即视为明确同意信公小安收集和使用其用户信息，无需其他意思表示。信公小安对用户信息的使用无需向用户支付任何费用。
9、信公小安承诺。信公小安尊重授权用户的合法权利，尊重授权用户的自由选择权，不会以违反法律、行政法规以及本协议约定的方式收集、使用用户信息。
三、信公小安服务使用规则
1、用户完全了解并同意：用户对以其帐号注册、登陆、使用信公小安服务的全部行为，包括其提供给信公小安的全部用户信息、以其信公小安服务账号进行的所有行为和事件独立承担完全的法律责任。
2、用户同意在使用信公小安服务过程中，严格遵守以下规则：
•（1）遵守中国法律、法规、行政规章及规范性文件；
•（2）遵守信公小安所有与信公小安服务有关的协议、规定、程序、通知、使用守则等全部文件；
•（3）不得为任何违法、犯罪目的而使用信公小安服务；
•（4）不得以任何形式使用信公小安服务侵犯信公小安的合法权利；
•（5）不得利用信公小安服务进行任何可能对互联网正常运转造成不利影响的行为
•（6）不得利用信公小安提供的服务上传、展示或传播任何虚假的、骚扰性的、中伤他人的、种族歧视性的、辱骂性的、恐吓性的、情色的或其他任何非法的信息资料；
•（7）不得以任何方式侵犯其他任何人依法享有的专利权、著作权、商标权、商业秘密等知识产权，第三人的名誉权或其他任何第三方的合法权益。
•（8）保证在信公小安服务上展示的相关信息内容，包括但是不限于在前条“二、用户信息条款”中的内容，没有违反相关法律规定，没有侵犯第三方的合法权利。
3、信公小安有权对用户使用信公小安服务的情况进行审查和监督，如用户在使用信公小安服务时违反任何上述约定，信公小安有权要求用户改正或直接单方面采取一切必要措施，以消除或减轻用户不当行为给信公小安、第三方、互联网服务或社会公共利益造成的任何影响。信公小安在进行前述操作前，操作过程中或操作完成后不对用户进行任何方式的通知。
4、用户在使用信公小安各项服务的同时，同意接受信公小安发布、推送、提供的各类信息。
5、用户同意，信公小安有权随时变更、中止或终止部分或全部的信公小安服务，信公小安无需就此通知用户，且信公小安不因此对用户或任何第三方承担任何责任。
四、信息披露的免责条款
信公小安将按照法律法规的规定及行业规范使用用户信息，不向任何无关的第三方披露用户个人信息中能够对用户个人进行身份辨识的用户个人信息或用户个人通讯信息，但有下列情形之一的除外：
1、事先获得了用户的明确授权；
2、为了维护公众以及信公小安的合法利益；
3、信公小安可能会与第三方合作向用户提供相关的网络服务，在此情形下，如果第三方同意承担与本协议约定的用户隐私保护条款同等的责任，则信公小安有权将用户信息提供给该等第三方，无需获得用户的另行同意；
4、按照有关的法律法规要求；
5、按照相关政府主管部门、司法机关的要求。
用户完全了解并同意，发生上述任何一种或多种情形时，信公小安对向任何第三方披露用户信息的行为不承担任何责任。
五、知识产权
1、“知识产权”是指与信公小安服务相关的各种类的过去有效的、现行有效的、或即将产生的知识产权，包括但不限于发明专利、商标、著作权、实用新型、外观设计、布图设计、商业秘密、其他知识产权以及相关申请的权利。
2、信公小安为与信公小安服务相关的全部知识产权的权利人，对信公小安服务提供过程中包含的全部知识产权，包括但不限于任何文本、图片、图形、音频和/或视频资料享有及保留完整、独立的全部权利。
对于信公小安享有版权的内容，未经信公小安同意，用户不得在任何媒体直接或间接发布、播放、出于播放或发布目的而改写或再发行信公小安享有知识产权的或者信公小安服务提供任何资料和信息，也不得将前述资料和信息用于任何商业目的；未经信公小安书面同意与许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、镜像、上载、下载）使用，或通过非常规方式（如：恶意抓取、攻击等）影响信公小安的正常服务，任何人不得擅自以软件程序自动获得信公小安数据。否则，信公小安将依法追究法律责任。
3、信公小安为了服务及数据的完整性，会通过用户贡献、第三方数据合作的方式提供部分信息，该部分版权为用户、第三方数据上所有，信公小安会进行标注和说明。
•（1）用户在信公小安上贡献的内容（包括但不仅限于公司、评论、人物信息、图片等），著作权归用户本人所有。用户可以授权信公小安使用，也可以授权第三方使用。
•（2）信公小安引用的第三方数据（包括但不限于新闻、知识产权、工商数据等），著作权归第三方所有。用户若需要使用，需要和第三方联系并得到授权。
•（3）对于用户贡献、第三方数据提供的信息，信公小安无法确认信息的真实性、可靠性、产权所有权等属性，您需要对使用该信息的结果承担可能的风险或损失，信公小安不承诺承担连带责任。对于该部分信息，欢迎用户参与和我们一起完善，如果涉及到有真实、可靠、知识产权纠纷的，请与hello@itjuzi.com联系，我们会第一时间做信息的下线与删除处理。
4、对于用户本人创作并上传到信公小安网站或平台的任何文本、图片、图形、音频和或视频等，信公小安保留对其内容进行实时监控的权利，并有权依信公小安独立判断对任何违反本协议约定或涉嫌违法、违规的内容实施删除。信公小安对于删除用户作品引起的任何后果或导致用户的任何损失不负任何责任。
5、本条款非经信公小安书面同意将持续有效，不因用户关闭信公小安服务账户或者停止使用信公小安服务而失效。
六、其他免责声明
1、信息依现状提供。信公小安提供的全部服务信息仅依照该等信息提供时的现状提供并仅供用户参考，信公小安不对信前述信息的准确性、完整性、适用性等做任何承诺和保证。用户应对信公小安提供的信息自行判断，并承担因使用前述信息而引起的任何、全部风险，包括因其对信息的正确性、完整性或实用性的任何依赖或信任而导致的风险。信公小安无需对因用户使用信息的任何行为导致的任何损失承担责任。
2、对于因不可抗力或信公小安不能预料、或不能控制的原因（包括但不限于计算机病毒或黑客攻击、系统不稳定、用户不当使用账户、以及其他任何技术、互联网络、通信线路原因等）造成的包括但不限于用户计算机信息和数据的安全，用户个人信息的安全等给用户或任何第三方造成的任何损失等，信公小安不承担任何责任。
3、由于用户以违法、违规或违反本协议约定等任何方式使用信公小安服务的行为，包括但不限于登录网站内容违法、不真实、不正当，侵犯第三方任何合法权益等，给信公小安或其他第三人造成的任何损失，用户同意承担由此造成的全部损害赔偿责任。
4、用户完全了解并同意，在使用信公小安服务的过程中，可能存在来自任何其他第三方的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为，也可能存在对他人权利（包括知识产权）造成侵犯的匿名、冒名、或伪造的各种信息或行为，用户须自行判断相关内容、信息、行为的安全性等风险，并自行独立承担上述风险给信公小安或第三方造成的任何责任。
5、信公小安及其合作方对信公小安服务的任何及全部内容不作任何形式的承诺或保证，不论是明确的或暗示的。前述承诺或保证包括但不限于：信公小安服务真实性、适销性、对特定用途的适用性、任何形式的所有权保证，非侵权保证等。信公小安对因前述未做承诺或保证的内容导致的任何直接、间接、偶然、特殊及后续的损害，不承担任何责任。
七、适用法律和争议解决
1、本协议的成立、生效、履行、解释及因本协议产生的任何争议，均适用中华人民共和国法律（不包括港澳台地区法律）。
2、用户和信公小安之间与本协议有关的任何争议，首先应友好协商解决，在争议发生之日起三十日内仍不能通过协商达成一致的，用户在此完全、不可撤销地同意将前述争议提交上海信公印诚商务咨询有限公司所在地的人民法院进行诉讼。
八、其他规定
1、如本协议中的任何条款因任何原因完全或部分无效或不具有执行力，均不影响本协议其他条款的效力。
2、本协议及本协议任何条款内容的最终解释权及修改权归信公小安所有。若您对信公小安及本服务有任何意见，欢迎垂询信公小安。
邮件联系：service@infaith.com.cn
服务网站：http://www.in-hope.cn/
</pre>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<!--<button type="button" class="btn btn-primary">Save changes</button>-->
			</div>
		</div>
	</div>
</div>
<%@ include file="includes/footer.html" %>
<script src="js/register.js?i=32"></script>
</body>
</html>