<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ include file="includes/head.html" %>

<body class="header-style2">

<!-- 本页面自己的css -->
<link href="style/register.css?i=32" rel="stylesheet">
<style>
	.search-ctn {
		display: none;
	}
</style>

<!-- 头部 -->
<%@ include file="includes/header.html" %>

<div class="container container-wrap">

	<!-- 不允许注册-->
	<c:if test="${registerNotAllowed}">
		<div style="margin: 30px; font-size: 12px; text-align: center;">
			<c:if test="${code != ''}">
				您的注册链接已失效, 请联系管理员获取邀请注册链接.
			</c:if>
			<c:if test="${code == ''}">
				暂不支持公开注册, 请联系管理员获取邀请注册链接.
			</c:if>

			<p><a  style="color:#d69256" href="mailto:inhope@infaith.com.cn">inhope@infaith.com.cn</a></p>
        </div>
	</c:if>

	<c:if test="${!registerNotAllowed}">

	<div class="wrap">
		<div class="wrap-header">
			<ul>
				<li class="complete now"><span>1</span>创建账户</li>
				<li><span>2</span>完善个人信息</li>
				<li><span>3</span>注册成功</li>
			</ul>
		</div>
		<div class="wrap-conent first <c:if test="${thirdUserName != null}">third-user</c:if>">
            <div class="regist pr">

                <c:if test="${thirdUserName != null}">
                    <div class="third-user-info">
                        欢迎您, ${thirdUserName}. 请完善信息以完成注册.
                    </div>
                </c:if>

                <form id="register-form1">
                <div class="v-e-ctn form-group">
                    <input type="text" name="mobile" class="form-control" id="mobile" placeholder="输入您的手机号"
                           v-rules="[{rule: 'required', msg:'请填写手机号码'}, {rule:'mobile'}]"
                    />
                    <div class="v-msg"></div>
                </div>
                <div class="v-e-ctn form-group pr">
                    <input type="text" name="token" class="form-control" id="token" placeholder="输入验证码"
                           v-rules="[{rule: 'token'}]"
                    />
                    <button class="btn btn-primary btn-lg pa sendCode " data-loading-text="正在发送...">发送验证码</button>
                    <div class="v-msg"></div>
                </div>
                <div class="v-e-ctn form-group">
                    <input type="password" name="psw1" class="form-control" id="psw1" placeholder="密码"
                           v-rules="[{rule: 'required', msg:'请填写密码'}, {rule:'password', msg: '请输入大于6位数的密码'}]"
                    />
                    <div class="v-msg"></div>
                </div>
                <div class="v-e-ctn form-group">
                    <input type="password" name="psw2" class="form-control" id="psw2" placeholder="确认密码"
                           v-rules="[{rule: 'required', msg:'请填写确认密码'}, {rule:'equalTo', ref: '#psw1'}]"
                    />
                    <div class="v-msg"></div>
                </div>
                <div class="v-e-ctn form-group">
                    <input type="text" name="email" class="form-control" id="email" placeholder="电子邮箱"
                           v-rules="[{rule: 'required', msg:'请填写邮箱'}, {rule:'email'}]"
                    />
                    <div class="v-msg"></div>
                </div>
                <div class="v-e-ctn checkbox">
                    <div class="agreement clearfix">
                        <input type="checkbox" id="checkBox" class="checkbox pull-left" checked v-rules="[{rule: 'required', msg: '请仔细阅读协议'}]"/>
                        <div class="pull-left">我已阅读并同意<a href="/policy" target="_blank">《信公小安用户协议》</a></div>
                        <!--<button type="button" class="btn btn-primary btn-lg" id="agree" data-toggle="modal" data-target="#myModal">我已阅读并同意《信公小安用户协议》</button></span>-->
                    </div>
                    <div class="v-msg"></div>
                </div>
                <button class="btn btn-default inputBox" id="phoneSub">
                    下一步
                </button>
                </form>
            </div>
		</div>
		<div class="wrap-conent second pr hidden">

			<form id="register-form2">
				<div class="v-e-ctn form-group">
					<input type="text" name="name" id="name" class="form-control" placeholder="姓名"
						   v-rules="[{rule: 'required', msg:'请输入您的真实姓名'}]"
					/>
					<div class="v-msg"></div>
				</div>
				<div class="v-e-ctn form-group">
					<input type="text" name="company" id="company" class="form-control" placeholder="公司名"
						   v-rules="[{rule: 'required', msg:'请输入您的公司名称'}]"
					/>
					<div class="v-msg"></div>
				</div>
				<div class="v-e-ctn form-group pr">
					<input type="text" name="attribute" id="attribute" class="form-control companyInput" readonly
						   style="cursor:default" placeholder="企业或机构属性"
						   v-rules="[{rule: 'required', msg:'请选择您的企业或机构属性'}]"
					/>
					<div class="v-msg"></div>
					<button class="pa compress"><i class="fa fa-sort-desc" aria-hidden="true"></i></button>
					<ul class="first_grade hidden pa">
						<c:forEach var="item" items="${companyAttrs}" varStatus="status">
							<li class="pr first-li" data-id="${item.id}">
								<span>${item.title}</span>
								<ul class="second_grade pa">
									<c:forEach var="itemChild" items="${item.children}" varStatus="status">
										<li data-id="${itemChild.id}"><span>${itemChild.title}</span></li>
									</c:forEach>
								</ul>
							</li>
						</c:forEach>
					</ul>
				</div>
				<div class="v-e-ctn form-group">
					<input type="text" name="position" id="position" class="form-control" placeholder="输入职位"
						   v-rules="[{rule: 'required', msg:'请输入您的职位'}]"
					/>
					<div class="v-msg"></div>
				</div>
				<button class="btn btn-default inputBox" data-loading-text="正在注册..." id="sub">
					注册
				</button>
			</form>
        </div>
        <div class="wrap-conent third hidden">
            <span><img src="images/complete.png"/>注册成功</span>
            <h5>欢迎使用信安小公</h5>
            <ul>
                <li><img src="images/qrcode_an.png" alt=""><p>信公小安</p></li>
                <li><img src="images/qrcode_zi.png" alt=""><p>信公资本</p></li>
            </ul>
            <button id="turnToIndex" class="btn btn-default">正在跳转至首页5s</button>
        </div>
	</div>

    </c:if>

</div>

<%@ include file="includes/footer.html" %>
<script>
	var thirdUserName = "${thirdUserName}";
	var code = "${code}";
</script>
<script src="js/register.js?i=32"></script>
</body>
</html>