<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>

<%@ include file="includes/head.html" %>

<body class="header-style2">

<link href="style/test.css?i=32" rel="stylesheet">

<!-- 头部 -->
<%@ include file="includes/header.html" %>
<div class="container test-container">

    <form id="form1">

        <div class="v-e-ctn form-group">
            <label for="mobile">手机</label>
            <input autocomplete="off" type="text" class="form-control" id="mobile" placeholder="Mobile"
                   v-rules="[{rule: 'required', msg:'请填写手机号码'}, {rule:'mobile'}]">
            <div class="v-msg"></div>
        </div>

        <div class="v-e-ctn form-group">
            <label for="token">验证码</label>
            <input autocomplete="off" type="text" class="form-control" id="token" placeholder="验证码"
                   v-rules="[{rule: 'token'}]">
            <button class="btn btn-default" id="token-btn">发送验证码</button>
            <div class="v-msg"></div>
        </div>

        <div class="v-e-ctn form-group">
            <label for="email">邮箱</label>
            <input autocomplete="off" type="text" class="form-control" id="email" placeholder="Email"
                   v-rules="[{rule: 'required', msg:'请填写邮箱'}, {rule:'email'}]">
            <div class="v-msg"></div>
        </div>

        <div class="v-e-ctn form-group">
            <label for="pwd1">密码</label>
            <input autocomplete="off" type="password" class="form-control" id="pwd1"
                   v-rules="[{rule: 'required', msg:'请填写密码'}, {rule:'password', msg: '这不是一个好密码!!!'}]"
                   placeholder="密码">
            <div class="v-msg"></div>
        </div>

        <div class="v-e-ctn form-group">
            <label for="pwd2">确认密码</label>
            <input autocomplete="off" type="password" class="form-control" id="pwd2"
                   v-rules="[{rule: 'required', msg:'请填写确认密码'}, {rule:'equalTo', ref: '#pwd1'}]"
                   placeholder="确认密码">
            <div class="v-msg"></div>
        </div>

        <div class="v-e-ctn checkbox">
            <input type="checkbox" v-rules="[{rule: 'required', msg: '请查看协议'}]"> 我已阅读协议
            <div class="v-msg"></div>
        </div>
        <button class="btn btn-default" id="submit" data-loading-text="正在加载">Submit</button>
    </form>

</div>

<%@ include file="includes/footer.html" %>
<script src="js/common.js?i=32"></script>
<script>
    var vd1 = new VD("#form1", {
        // 自定义验证器
        token: {
            func (elem, rule) {
                // 手机有问题, 就不要验证了
                if (!vd1.elems.mobile.validate()) {
                    return true;
                }
                return elem.val();
            },
            msg: '请输入验证码'
        }
    });

    // 验证用户是否存在, 异步
    $('#mobile').blur(function () {
        if (!vd1.elems.mobile.validate()) {
            return;
        }

        $.post('/isUserExists', {mobile: $(this).val()}, function (ret) {
            if (ret.data) {
                // 设置显示非法信息
                vd1.elems.mobile.setInvalid(ret.msg || '用户已存在');
            }
            else {
                vd1.elems.mobile.setValid();
            }
        });
    });

    // 异步验证验证码
    $('#token').blur(function () {
        // 手机有问题, 不要验证
        if (!vd1.elems.mobile.validate()) {
            return;
        }
        if (!vd1.elems.token.validate()) {
            return;
        }
        $.post('/validToken', {token: $(this).val(), mobile: vd1.elems.mobile.val()}, function (ret) {
            if (!ret.ok) {
                // 设置显示非法信息
                vd1.elems.token.setInvalid(ret.msg || '验证码错误');
            }
            else {
                vd1.elems.token.setValid();
            }
        });
    });

    // 提交
    $('#submit').click(function (e) {
        var $this = $(this);
        e.preventDefault();
        // 验证所有表单
        if(vd1.validate()) {
            $this.button('loading');
            // ajax
            $.post('/xxxx', {}, function () {
                $this.button('reset');
            });
        }
    });
</script>
</body>
</html>